.secretaryContainer{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 80%;
    overflow: hidden;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.imgContainer{
    background-color: var(--box-color);
    display: inline-block;
    position: relative;
    left: 10%;
    margin: 2% 0%;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow:hidden;
    transition: all .3s ease-in-out;
}
.infoContainer .fa-venus-mars{
    color: #fd7e14;
    background-color: #fd7e1428;
}
.infoContainer .fa-map-marked-alt{
    color: #fa676a;
    background-color: #fa676a28;
}
.infoContainer .fa-birthday-cake,.infoContainer .fa-venus-mars,.infoContainer .fa-map-marked-alt{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.infoContainer .fa-birthday-cake{
    color: #08a0f7;
    background-color: #08a0f728;
}
.infoGrid .infoContainer{
    background-color: none;
    background: transparent;
    box-shadow: none;
}
.fullyBtn{
    width: fit-content;
    padding: 0px 30px;
}
#secretaryWork{
    width: 90%;
    margin: 30px 5%;
    padding: 20px;
    height: fit-content;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.secretaryWorkTimeLine{
    position: relative;
    margin: 5px;
}
.startTimeCircle{
    position: absolute;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
}
.startTimeCircle span{
    position: absolute;
    top: 20px;
    left: 30px;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.timeLine{
    position: absolute;
    border-top: 2px solid #308a7b;
    top: 14px;
    width: 100%;
}
.endTimeCircle{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
    right: 0px;
}
.endTimeCircle span{
    position: absolute;
    top: 20px;
    right: 30px;
    white-space: nowrap;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.untilNowCircle{
    background-color: var(--gray-text);
    transition: all .3s ease-in-out;;
    height: 20px;
    width: 20px;
    top: 5px;
}
.doctorProfileImg{
    height: 120px;
    width: 120px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid #308a7b;
    border-radius: 50%;
    overflow: hidden;
}
.doctorName{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: var(--text-color); 
}
.workTimeLine{
    position: relative;
    height: 70px;
}
.noUnconfirmedApp{
    padding: 40px 20px;
    text-align: center;
}
.unconfirmedApp{
    margin: 20px 0.5%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    max-width: 49%;
}
.unconfirmedApp .patientProfilePic{
    border: 2px solid #308a7b;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}
.unconfirmedApp .patientName{
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-weight: 600;
    text-transform: capitalize;
}
.unconfirmedApp .infos{
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
}
.unconfirmedApp .infos .info{
    display: inline-block;
    vertical-align: top;
    background-color: #308a7b;
    color: white;
    box-shadow: var(--infoBox);
    border-radius: 5px;
    padding-right: 5px;
    margin: 10px;
    overflow: hidden;
    text-transform: capitalize;
}
.unconfirmedApp .infos .info .icon{
    display: inline-block;
    vertical-align: top;
    background-color: white;
    color: #308a7b;
    padding: 2px 5px;
    margin-right: 5px;
}
.unconfirmedApp .appDateText{
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.unconfirmedApp .appDateText .appDate{
    font-weight: 600;
    background-color: var(--messageSenderBackgroundColor);
    color: var(--messageSenderColor);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 2px 5px;
}
.buttons .emptyBtn{
    position: relative;
    width: fit-content;
    min-width: 150px;
    white-space: nowrap;
}
.emptyBtnLoading{
    background-color: #308a7b;
    color: white;
    cursor: default;
    pointer-events: none;
}
.disabledBtn,.disabledBtn:hover{
    background-color: dimgrey;
    color: white;
    cursor: default;
    pointer-events: none;
    border: none;
}