<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div *ngIf="notVerified==true" class="sectionContainer notVerified">
        <i class="fas fa-user-lock"></i>
        <div class="accountNotVerified">
            {{'accountNotVerified'|translate}}
        </div>
        <i class="fas fa-keyboard"></i> {{'enterVerificationCode'|translate}}:
        <div class="inputVerificationCode" [class.invalidVerificationCode]="isVerificationCode==false">
            <input type="text" name="field1Code" [(ngModel)]="field1Code" maxlength="1" class="verficationCodeNumber" #1
                (keyup)="field1Keyup();isVerificationCode=null">
            <input type="text" name="field2Code" [(ngModel)]="field2Code" maxlength="1" class="verficationCodeNumber" #2
                (keyup)="field2Keyup();isVerificationCode=null">
            <input type="text" name="field3Code" [(ngModel)]="field3Code" maxlength="1" class="verficationCodeNumber" #3
                (keyup)="field3Keyup();isVerificationCode=null">
            <input type="text" name="field4Code" [(ngModel)]="field4Code" maxlength="1" class="verficationCodeNumber" #4
                (keyup)="field4Keyup();isVerificationCode=null">
            <input type="text" name="field5Code" [(ngModel)]="field5Code" maxlength="1" class="verficationCodeNumber" #5
                (keyup)="field5Keyup();isVerificationCode=null">
        </div>
        <div *ngIf="isVerificationCode==false" class="invalidText">
            {{'verificationCodeNotValid'|translate}}
        </div>
        <button type="submit" class="fullyBtnSmall" (click)="checkVerificationCode()">{{'verify'|translate}}</button>
    </div>

    <div *ngIf="notVerified==false">
        <app-header></app-header>
        <div class="secretaryContainer">
            <div *ngIf="searchedUsers.length != 0" class="doctorContainer" id="searchedUsersContainer"
                style="padding-top: 25px;">
                <div *ngIf="!selectedUser">
                    <div *ngFor="let user of searchedUsers;let i=index" (click)="showUserFullInfo(i)">
                        <div *ngIf="user.userId != secretaryGet.userId" class="searchedUser">
                            <div class="searchedUserProfilePic">
                                <img *ngIf="user.userImg" [style.background-image]="'url(' + user.userImg  + ')'"
                                    class="profileImg">
                                <i *ngIf="user.userImg == false" style="font-size: 45px;" class="fas fa-user-tie"></i>
                            </div>
                            <div class="searchedUserInfo">
                                {{user.userFullName}}
                                <div class="searchedUserType">
                                    <span *ngIf="user.userType=='doctor'">
                                        {{'doctor'|translate}}
                                    </span>
                                    <span *ngIf="user.userType=='patient'">
                                        {{'patient'|translate}}
                                    </span>
                                    <span *ngIf="user.userType=='pharmacist'">
                                        {{'pharmacy'|translate}}
                                    </span>
                                </div>
                                <div *ngIf="user.userGender.length != 0" class="searchedUserGender">
                                    <i class="fas fa-venus-mars"></i>
                                    <span *ngIf="user.userGender == 'male'">
                                        {{'male'|translate}}
                                    </span>
                                    <span *ngIf="user.userGender == 'female'">
                                        {{'female'|translate}}
                                    </span>
                                </div>
                                <div *ngIf="user.pharmacyType && user.pharmacyType.length != 0"
                                    class="searchedUserGender">
                                    <i class="fas fa-clock"></i>
                                    <span *ngIf="user.pharmacyType == 'day'">
                                        {{'day'|translate}}
                                    </span>
                                    <span *ngIf="user.pharmacyType == 'night'">
                                        {{'night'|translate}}
                                    </span>
                                </div>
                                <div class="searchedUserExactAddress">
                                    <i class="fas fa-map-marker-alt"></i> {{user.userCity}}
                                    <span *ngIf="user.userExactAddress && user.userExactAddress.length != 0">
                                        - {{user.userExactAddress}}
                                    </span>
                                </div>
                            </div>
                            <div class="searchedUserSendMessage"
                                (click)="startConversation(user.userId,user.userFullName,'',i)">
                                <i class="fas fa-envelope"
                                    [class.loadingMessages]="user.startingConversation==true"></i>
                            </div>
                        </div>
                    </div>
                    <div style="width: fit-content;margin: 10px auto;">
                        <span *ngIf="loadMoreUsers == true" class="searchBtnOptions" (click)="findMoreUser()">
                            {{'findMore'|translate}}
                        </span>
                        <span class="searchBtnOptions" (click)="searchedUsers=[]">
                            {{'closeSearch'|translate}}
                        </span>
                    </div>
                </div>
                <div *ngIf="selectedUser" class="selectedUserContainer">
                    <div class="selectedUserGoBack" (click)="selectedUser=null">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="selectedUserFirstHalfInfo">
                        <div class="selectedUserImgprofileContainer">
                            <img *ngIf="selectedUser.userImg"
                                [style.background-image]="'url(' + selectedUser.userImg  + ')'" class="profileImg">
                            <i *ngIf="selectedUser.userImg == false" style="font-size: 90px; bottom: 0px;"
                                class="fas fa-user-tie"></i>
                        </div>
                        <div class="selectedUserInfo">
                            <div class="selectedUserUsername">
                                {{selectedUser.userFullName}}
                            </div>
                            <div style="border-left: 1px solid #308a7b;margin-left:5px;padding-left:10px;">
                                <div *ngIf="selectedUser.pharmacyType && selectedUser.pharmacyType.length != 0">
                                    <i class="fas fa-clock"></i>
                                    <span *ngIf="selectedUser.pharmacyType == 'day'">
                                        {{'day'|translate}}
                                    </span>
                                    <span *ngIf="selectedUser.pharmacyType == 'night'">
                                        {{'night'|translate}}
                                    </span>
                                </div>
                                <div>
                                    <i class="fas fa-map-marker-alt"></i> {{selectedUser.userCity}}
                                    <span
                                        *ngIf="selectedUser.userExactAddress && selectedUser.userExactAddress.length != 0">
                                        - {{selectedUser.userExactAddress}}
                                    </span>
                                </div>
                                <div *ngIf="selectedUser.userGender.length != 0">
                                    <i class="fas fa-venus-mars"></i>
                                    <span *ngIf="selectedUser.userGender == 'male'">
                                        {{'male'|translate}}
                                    </span>
                                    <span *ngIf="selectedUser.userGender == 'female'">
                                        {{'female'|translate}}
                                    </span>
                                </div>
                                <div *ngIf="selectedUser.userBirthDay.length != 0">
                                    <i class="fas fa-birthday-cake"></i>
                                    {{selectedUser.userBirthDay}}
                                </div>
                                <div *ngIf="selectedUser.userType == 'doctor'" class="selectedUserDoctorAppInfo">
                                    <span *ngIf="selectedUser.startTime.length != 0">
                                        <i class="fas fa-business-time"></i>
                                        {{selectedUser.startTime}}
                                    </span>
                                    <span *ngIf="selectedUser.appPrice != 0">
                                        <i class="fas fa-coins"></i>
                                        {{selectedUser.appPrice}} Dt
                                    </span>
                                    <span *ngIf="selectedUser.appApproxDuration!= 0">
                                        <i class="fas fa-hourglass-start"></i>
                                        {{selectedUser.appApproxDuration}} Munite
                                    </span>
                                </div>
                            </div>
                            <button class="fullyBtnSmall"
                                (click)="startConversation(selectedUser.userId,selectedUser.userFullName,'',0)"
                                style="width: fit-content;margin: 10px auto; margin-left: 50%; transform: translateX(-50%);">
                                {{'message'|translate}}
                            </button>
                        </div>
                        <div style="width: fit-content; margin: 5px auto;">
                            <button (click)="addMapRoute()" style="width: fit-content;" class="emptyBtn" *ngIf="(selectedUser.userType == 'doctor' || selectedUser.userType == 'pharmacist')
                         && selectedUser.userLatitude && selectedUser.userLongitude">
                                {{'showRoute'|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="selectedUserSecondHalfInfo">
                        <div *ngIf="selectedUser.userType == 'doctor' || selectedUser.userType == 'pharmacist'">
                            <div id="selectedUserMap">
                                <div *ngIf=" selectedUser.userLatitude && selectedUser.userLatitude.length!=0 && selectedUser.userLongitude.length!=0"
                                    class="userDontSetPos">
                                    {{'loadingMap'|translate}}
                                </div>
                                <div class="userDontSetPos"
                                    *ngIf=" selectedUser.userLatitude && selectedUser.userLatitude.length==0 && selectedUser.userLongitude.length==0">
                                    {{selectedUser.userFullName}} {{'heHasNotSetHerPositionYet'|translate}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedUser.userType == 'patient' && selectedUser.patientQuestions">
                            <div style="font-weight: 600;margin: 7px auto;text-align: center;">
                                {{'questions'|translate}}
                            </div>
                            <div style="margin: 7px auto;text-align: center;"
                                *ngIf="selectedUser.patientQuestions.length == 0">
                                <span style="text-transform: capitalize;">{{selectedUser.userFullName}}</span>
                                {{'haveNoquestion'|translate}}
                            </div>
                            <div *ngIf="selectedUser.patientQuestions.length != 0">
                                <div *ngFor="let ques of selectedUser.patientQuestions"
                                    class="searchedUserQuestionContainer">
                                    <div class="searchedUserQuestionContainerQuestionPostTime">
                                        <span>
                                            <i class="fas fa-calendar-day"></i> {{ques.questionPostTime | slice:0:10}}
                                        </span>
                                        <span>
                                            <i class="fas fa-clock"></i> {{ques.questionPostTime |
                                            slice:11:(ques.questionPostTime.length-3)}}
                                        </span>
                                    </div>
                                    <div class="searchedUserQuestionContainerQuestion">
                                        <div>
                                            <i class="fas fa-question-circle"></i>
                                        </div>
                                        <div>
                                            {{ques.question}} ?
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedUser.loadMoreQuestion == true" class="searchedUserLoadMoreQuestions"
                                    (click)="getPatientQuestionsById(selectedUser.userId, selectedUser.patientQuestionsPage)">
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="messagesIcon" (click)="openMessages()">
                <i class="fas fa-envelope"></i>
            </div>
            <div *ngIf="newMessage != 0" class="newMessageDot"></div>
            <div class="messagesContainer">
                <div *ngFor="let smallConv of smallConversations; let i=index">
                    <div [class.smallMessagesContainer]="i==0" [class.smallMessagesContainer1]="i==1"
                        [class.smallMessagesContainer2]="i==2" (click)="showFullconv(i)">
                        <div class="smallMessagesContainerImg">
                            <div *ngIf="smallConv.userImg">
                                <img [style.background-image]="'url(' + smallConv.userImg + ')'" class="profileImg">
                            </div>
                            <div *ngIf="smallConv.userImg==false">
                                <i class="fas fa-user-tie" style="font-size: 40px;bottom: 0px;position: absolute;"></i>
                            </div>
                        </div>
                        <div class="smallMessagesContainerUsername">
                            {{smallConv.username}}
                        </div>
                        <div class="smallMessagesContainerClose" (click)="closeSmallConv(i)">
                            <i class="fas fa-times"></i>
                        </div>
                        <div *ngIf="smallConv.isUnread==true && smallConv.lastMessageSenderId != secretaryGet.userId"
                            class="smallConvNewMessageDot"></div>
                    </div>
                </div>
                <div *ngIf="openConversation" class="messagesConatiner">
                    <div class="messagesContainerHeader">
                        <div class="messageUsername">
                            {{openConversation.username}}
                        </div>
                        <div class="messageCloseIcon" (click)="openConversation=null">
                            <span (click)="restoreConversation()" style="margin-right: 10px;">
                                <i class="fas fa-window-restore"></i>
                            </span>
                            <span>
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="messagesContainerBody" #messagesContainer id="messagesContainer"
                        (scroll)="messagesScroll($event)"
                        (click)="readConversation(openConversation.lastMessageSenderId)"
                        [class.messagesContainerBodyClosed]="openConversation.conversationStatus == 'close'">
                        <div *ngIf="openConversation.loadMoreMessage" class="messageLoading">
                            <div></div>
                            <div></div>
                        </div>
                        <div *ngIf="!openConversation.loadMoreMessage">
                            <div class="messageUsernameImgContainer">
                                <div *ngIf="openConversation.userImg">
                                    <img [style.background-image]="'url(' + openConversation.userImg + ')'"
                                        class="profileImg">
                                </div>
                                <div *ngIf="openConversation.userImg==false">
                                    <i class="fas fa-user-tie"
                                        style="font-size: 60px;bottom: 0px;position: absolute;"></i>
                                </div>
                            </div>
                            <div class="messageUsernameContainer"> {{openConversation.username}} </div>
                        </div>
                        <div *ngFor="let message of openConversation.messages; let i=index" id="message{{i}}">
                            <div *ngIf="message.senderId==secretaryGet.userId && message.messageContent.length != 0"
                                class="senderMessageContainer">
                                {{message.messageContent}}
                            </div>
                            <div *ngIf="message.senderId!=secretaryGet.userId && message.messageContent.length != 0"
                                id="{{message.messageDate}}" class="recipientMessageContainer">
                                {{message.messageContent}}
                            </div>
                        </div>
                        <div class="seenMessage"
                            *ngIf="openConversation.isUnread==false && openConversation.lastMessageSenderId == secretaryGet.userId">
                            {{'seen'|translate}} <i class="fas fa-check"></i>
                        </div>
                        <div *ngIf="openConversation.conversationStatus != 'open'" class="convClosed">
                            <div style="margin: 5px auto;">
                                {{'convClosed'|translate}} <span
                                    *ngIf="openConversation.conversationStatus == 'closeByDefault'">
                                    {{'byDefault'|translate}}</span>, {{'sendRequestTo'|translate}}
                                {{openConversation.username}} {{'toOpenThisConv'|translate}}
                            </div>
                            <button class="fullyBtnSmall sendRequestClosedMessage"
                                (click)="sentOpenConversationRequest(openConversation.userId,openConversation.conversationId)">
                                {{'sendRequest'|translate}}
                            </button>
                            <div class="convClosed">
                                <i class="fas fa-lock" style="margin-left: 5px;"></i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="openConversation.conversationStatus == 'open'" class="messagesContainerFooter"
                        (click)="readConversation(openConversation.lastMessageSenderId)">
                        <input type="text" autocomplete="off" name="message" [(ngModel)]="message"
                            (keyup.enter)="sendMessage()" placeholder="{{'message...'|translate}}" class="messageInput">
                        <span (click)="sendMessage()">
                            <i class="fas fa-paper-plane sendMessageIcon"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="container=='profile' && secretaryGet">
                <section id="generalInfoSection">
                    <div class="sectionTitle">{{'generalInfo'|translate}}</div>
                    <div class="newSectionContainer" *ngIf="generalInfo=='show'">
                        <div class="sectionContainerTopGreen"></div>
                        <div>
                            <div class="imgContainer">
                                <div *ngIf="secretaryGet.profileImage">
                                    <img [style.background-image]="'url(' + secretaryGet.profileImage  + ')'"
                                        class="profileImg">
                                </div>
                                <div *ngIf="secretaryGet.profileImage == false"><i class="fas fa-user-tie"></i></div>
                                <div class="editImage">
                                    <div class="centerChangeText">{{'changeImage'|translate}}</div>
                                </div>
                                <div class="strok">
                                    <input type="file" (change)="onFileChanged($event)" class="uploadImgBtn">
                                </div>
                            </div>
                            <div class="doctorGeneralInfo">
                                <div class="doctorName">{{secretaryGet.secretaryFirstName}} <span
                                        class="last">{{secretaryGet.secretaryLastName}}</span></div>
                                <i class="fas fa-user"></i> {{secretaryGet.userUsername}}
                            </div>
                        </div>
                        <button class="iconButton" (click)="generalInfo='edit';initializeEditLabel();"><i
                                class="far fa-edit"></i></button>
                        <div class="infoGrid">
                            <div class="infoContainer">
                                <div class="userInfoContainer">
                                    <div class="userInfoContainerTitle">
                                        <div class="userInfoContainerTitleIcon"><i class="fas fa-venus-mars"></i></div>
                                        <div class="userInfoContainerTitleValue">
                                            {{'gender'|translate}}
                                        </div>
                                    </div>
                                    <div class="userInfoContainerValue">
                                        <div *ngIf="secretaryGet.secretaryGender=='male'">
                                            {{'male'|translate}}
                                        </div>
                                        <div *ngIf="secretaryGet.secretaryGender=='female'">
                                            {{'female'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="infoContainer">
                                <div class="userInfoContainer">
                                    <div class="userInfoContainerTitle">
                                        <div class="userInfoContainerTitleIcon"><i class="fas fa-birthday-cake"></i>
                                        </div>
                                        <div class="userInfoContainerTitleValue">
                                            {{'birthday'|translate}}
                                        </div>
                                    </div>
                                    <div class="userInfoContainerValue">
                                        {{secretaryGet.secretaryBirthDay}}
                                    </div>
                                </div>
                            </div>
                            <div class="infoContainer">
                                <div class="userInfoContainer">
                                    <div class="userInfoContainerTitle">
                                        <div class="userInfoContainerTitleIcon"><i class="fas fa-map-marked-alt"></i>
                                        </div>
                                        <div class="userInfoContainerTitleValue">
                                            {{'city'|translate}}
                                        </div>
                                    </div>
                                    <div class="userInfoContainerValue">
                                        {{secretaryGet.userCity}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sectionContainer" *ngIf="generalInfo=='edit'">
                        <div *ngIf="editeSecureInfo; then updateSecureInfo else updateGeneralInfo"></div>
                        <ng-template #updateGeneralInfo>
                            <div class="infoEdit">
                                <div class="formDiv">
                                    <input type="text" [class.labelInvalidInfo]="invalidFirstNameVariable"
                                        name="firstName" [(ngModel)]="firstName"
                                        (keyup)="compareFirstName();firstNameInformation=translate.instant('firstName');invalidFirstNameVariable=false"
                                        class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{firstNameInformation}}
                                    </label>
                                </div>
                                <div class="formDiv">
                                    <input type="text" [class.labelInvalidInfo]="invalidLastNameVariable"
                                        name="lastName" [(ngModel)]="lastName"
                                        (keyup)="compareLastName();lastNameInformation=translate.instant('surname');invalidLastNameVariable=false"
                                        class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{lastNameInformation}}
                                    </label>
                                </div>
                                <div class="formDiv">
                                    <input type="tex" maxlength="2" [class.labelInvalidInfo]="invalidDayVariable"
                                        name="day" [(ngModel)]="day"
                                        (keyup)="compareDay();dayInformation=translate.instant('day');invalidDayVariable=false"
                                        class="formInput" list="daylistOptions" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{dayInformation}}
                                    </label>
                                    <datalist id="daylistOptions">
                                        <option *ngFor="let day of days" value="{{day}}">
                                    </datalist>
                                </div>
                                <div class="formDiv">
                                    <input type="text" [class.labelInvalidInfo]="invalidMonthVariable" name="month"
                                        [(ngModel)]="month"
                                        (keyup)="compareMonth();monthInformation=translate.instant('month');invalidMonthVariable=false"
                                        maxlength="2" list="monthlistOptions" class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{monthInformation}}
                                    </label>
                                    <datalist id="monthlistOptions">
                                        <option *ngFor="let month of months" value="{{month}}">
                                    </datalist>
                                </div>
                                <div class="formDiv">
                                    <input type="text" [class.labelInvalidInfo]="invalidYearVariable" name="year"
                                        [(ngModel)]="year"
                                        (keyup)="compareYear();yearInformation=translate.instant('year');invalidYearVariable=false"
                                        maxlength="4" list="yearlistOptions" class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{yearInformation}}
                                    </label>
                                    <datalist id="yearlistOptions">
                                        <option *ngFor="let year of years" value="{{year}}">
                                    </datalist>
                                </div>
                                <div class="formDiv">
                                    <input type="text" list="governoratelistOptions"
                                        [class.labelInvalidInfo]="invalidAdressVariable" name="adress"
                                        [(ngModel)]="adress"
                                        (keyup)="compareCity();adressInformation=translate.instant('city');invalidAdressVariable=false"
                                        class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{adressInformation}}
                                        <datalist id="governoratelistOptions">
                                            <option *ngFor="let city of cities" value="{{city}}">
                                        </datalist>
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="maleRadio"
                                        (change)="checkBoxInvaledInfoVriable=false;maleCheckBox=true;femaleCheckBox=false"
                                        [checked]="maleCheckBox" name="btnradio" id="male">
                                    <label class="btn btn-outline-primary" id="maleLabel" for="male"
                                        (click)="checkDisabledBtnFromMale()">{{'male'|translate}}</label>
                                    <input type="radio" class="femaleRadio"
                                        (change)="checkBoxInvaledInfoVriable=false;femaleCheckBox=true;maleCheckBox=false"
                                        [checked]="femaleCheckBox" name="btnradio" id="female">
                                    <label class="btn btn-outline-primary" id="femaleLabel" for="female"
                                        (click)="checkDisabledBtnFromFemale()">{{'female'|translate}}</label>
                                </div>
                            </div>
                            <div class="textLien" style="padding-left: 50px;" (click)="changePasswordClick()">
                                {{'changePassword'|translate}} ?</div>
                            <div class="buttons">
                                <button class="fullyBtn" (click)="generalInfo='show';">{{'goBack'|translate}}</button>
                                <button class="fullyBtn" (click)="checkForm()"
                                    [disabled]="disableSaveBtn">{{'update'|translate}}</button>
                            </div>
                        </ng-template>
                        <ng-template #updateSecureInfo>
                            <span class="changeNote">{{'noteChangerPassOrUsername'|translate}}</span>
                            <div *ngIf="editPassword; then showEditPassword else showEditUsername"></div>
                            <ng-template #showEditPassword>
                                <div class="infoEdit">
                                    <div class="formDiv">
                                        <input type="password" [class.labelInvalidInfo]="invalidPasswordVariable"
                                            name="password" [(ngModel)]="password"
                                            (keyup)="invalidPasswordVariable=false; passwordInfromation=translate.instant('password')"
                                            class="formInput" placeholder=" ">
                                        <label for="" class="formLabel">
                                            {{passwordInfromation}}
                                        </label>
                                    </div>
                                    <div class="formDiv">
                                        <input type="password" [class.labelInvalidInfo]="invalidPasswordRepeatVariable"
                                            name="passwordRepeat" [(ngModel)]="passwordRepeat"
                                            (keyup)="passwordRepeatInfromation=translate.instant('repeatPassword'); invalidPasswordRepeatVariable=false"
                                            class="formInput" placeholder=" ">
                                        <label for="" class="formLabel">
                                            {{passwordRepeatInfromation}}
                                        </label>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button class="fullyBtn"
                                        (click)="editeSecureInfo=false;">{{'goBack'|translate}}</button>
                                    <button class="fullyBtn" (click)="updatePassword()">{{'update'|translate}}</button>
                                </div>
                            </ng-template>
                            <ng-template #showEditUsername>
                                <div class="formDiv editUserName">
                                    <input type="text" [class.labelInvalidInfo]="invalidMailVariable" name="mail"
                                        [(ngModel)]="mail"
                                        (keyup)="compareUserName();mailInformation=translate.instant('mail');invalidMailVariable=false"
                                        class="formInput" placeholder=" ">
                                    <label for="" class="formLabel">
                                        {{mailInformation}}
                                    </label>
                                </div>
                                <div class="buttons">
                                    <button class="fullyBtn"
                                        (click)="editeSecureInfo=false;">{{'goBack'|translate}}</button>
                                    <button class="fullyBtn" (click)="updateUsername()"
                                        [disabled]="disableChnageUsernameBtn">{{'update'|translate}}</button>
                                </div>
                            </ng-template>
                        </ng-template>
                    </div>
                </section>
                <div class="sectionTitle">{{'workTimeLines'|translate}}</div>
                <section id="secretaryWork">
                    <div *ngFor="let work of secretaryWork" class="secretaryWorkTimeLine">
                        <div class="doctorProfileImg">
                            <img *ngIf="work.doctorImg" [style.background-image]="'url(' + work.doctorImg + ')'"
                                class="profileImg">
                            <i *ngIf="work.doctorImg == false" style="font-size: 110px;" class="fas fa-user-tie"></i>
                        </div>
                        <div class="doctorName">
                            {{work.doctorName}}
                        </div>
                        <div class="workTimeLine">
                            <div class="startTimeCircle">
                                <span>
                                    {{work.startTime | slice:0:10}}
                                </span>
                            </div>
                            <div class="timeLine"></div>
                            <div class="endTimeCircle" [class.untilNowCircle]="!work.endTime">
                                <span *ngIf="work.endTime">
                                    {{work.endTime | slice:0:10}}
                                </span>
                                <span *ngIf="!work.endTime">
                                    {{'untilNow'|translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div *ngIf="container == 'patient'">
                <div class="sectionTitle">{{'notConfirmedAppointment'|translate}}</div>
                <div>
                    <div *ngIf="pendingAppointment.list.length == 0" class="sectionContainer noUnconfirmedApp">
                        {{'thereNoUnonfirmedApp'|translate}}
                    </div>
                    <div *ngIf="pendingAppointment.list.length != 0">
                        <div *ngFor="let app of pendingAppointment.list;let a = index" class="unconfirmedApp">
                            <div class="patientProfilePic">
                                <img *ngIf="app.patientProfilePic"
                                    [style.background-image]="'url(' + app.patientProfilePic +')'" class="profileImg">
                                <i *ngIf="app.patientProfilePic == false" style="font-size: 70px;"
                                    class="fas fa-user-tie"></i>
                            </div>
                            <div class="patientName">
                                {{app.patientFirstName}} {{app.patientLastName}}
                            </div>
                            <div class="infos">
                                <div class="info">
                                    <div class="icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>{{app.userCity}}
                                </div>
                                <div class="info">
                                    <div class="icon">
                                        <i class="fas fa-birthday-cake"></i>
                                    </div>{{app.patientBirthDay}}
                                </div>
                                <div class="info">
                                    <div class="icon">
                                        <i class="fas fa-venus-mars"></i>
                                    </div>{{app.patientGender}}
                                </div>
                            </div>
                            <div class="appDateText">
                                {{'hello'|translate}}
                                <span *ngIf="secretaryGet.secretaryGender == 'female'">
                                     {{'mrs'|translate}}
                                </span>
                                <span *ngIf="secretaryGet.secretaryGender == 'male'">
                                     {{'sir'|translate}}
                                </span>
                                <span>
                                    {{secretaryGet.secretaryFirstName}}, 
                                <span *ngIf="app.appointmentStatus == 'unconfirmed'">
                                    {{'IWantToTakeAnApp'|translate}}
                                </span>
                                <span *ngIf="app.appointmentStatus == 'changeDateRequest'">
                                    {{'IWantToChangeMyAppDate'|translate}}
                                </span>
                                <span class="appDate">
                                     {{app.appointmentDate}}
                                </span>
                                </span>
                            </div>
                            <div class="buttons">
                                <button class="emptyBtn" (click)="refuseAppointment(a)"
                                [class.emptyBtnLoading]="app.refusingApp == true"
                                [class.disabledBtn]="app.confirmingApp == true">
                                    <div *ngIf="app.refusingApp == false">
                                        {{'cancel'|translate}}
                                    </div>
                                    <div *ngIf="app.refusingApp == true" class="loading">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </button>
                                <button class="emptyBtn" (click)="confirmAppointment(a)"
                                 [class.emptyBtnLoading]="app.confirmingApp == true"
                                 [class.disabledBtn]="app.refusingApp == true">
                                    <div *ngIf="app.confirmingApp == false">
                                        {{'confirm'|translate}}
                                    </div>
                                    <div *ngIf="app.confirmingApp == true" class="loading">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>