.secretaryContainer{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 80%;
    overflow-x: hidden;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.imgContainer{
    background-color: var(--box-color);
    display: inline-block;
    position: relative;
    left: 10%;
    margin: 2% 0%;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow:hidden;
    transition: all .3s ease-in-out;
}
.infoContainer .fa-venus-mars{
    color: #fd7e14;
    background-color: #fd7e1428;
}
.infoContainer .fa-map-marked-alt{
    color: #fa676a;
    background-color: #fa676a28;
}
.infoContainer .fa-birthday-cake,.infoContainer .fa-venus-mars,.infoContainer .fa-map-marked-alt{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.infoContainer .fa-birthday-cake{
    color: #08a0f7;
    background-color: #08a0f728;
}
.infoGrid .infoContainer{
    background-color: none;
    background: transparent;
    box-shadow: none;
}
.fullyBtn{
    width: fit-content;
    padding: 0px 30px;
}