.secretaryContainer{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 80%;
    overflow: hidden;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.imgContainer{
    background-color: var(--box-color);
    display: inline-block;
    position: relative;
    left: 10%;
    margin: 2% 0%;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow:hidden;
    transition: all .3s ease-in-out;
}
.infoContainer .fa-venus-mars{
    color: #fd7e14;
    background-color: #fd7e1428;
}
.infoContainer .fa-map-marked-alt{
    color: #fa676a;
    background-color: #fa676a28;
}
.infoContainer .fa-birthday-cake,.infoContainer .fa-venus-mars,.infoContainer .fa-map-marked-alt{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.infoContainer .fa-birthday-cake{
    color: #08a0f7;
    background-color: #08a0f728;
}
.infoGrid .infoContainer{
    background-color: none;
    background: transparent;
    box-shadow: none;
}
.fullyBtn{
    width: fit-content;
    padding: 0px 30px;
}
#secretaryWork{
    width: 90%;
    margin: 30px 5%;
    padding: 20px;
    height: fit-content;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.secretaryWorkTimeLine{
    position: relative;
    margin: 5px;
}
.startTimeCircle{
    position: absolute;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
}
.startTimeCircle span{
    position: absolute;
    top: 20px;
    left: 30px;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.timeLine{
    position: absolute;
    border-top: 2px solid #308a7b;
    top: 14px;
    width: 100%;
}
.endTimeCircle{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
    right: 0px;
}
.endTimeCircle span{
    position: absolute;
    top: 20px;
    right: 30px;
    white-space: nowrap;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.untilNowCircle{
    background-color: var(--gray-text);
    transition: all .3s ease-in-out;;
    height: 20px;
    width: 20px;
    top: 5px;
}
.doctorProfileImg{
    height: 120px;
    width: 120px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid #308a7b;
    border-radius: 50%;
    overflow: hidden;
}
.doctorName{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: var(--text-color); 
}
.workTimeLine{
    position: relative;
    height: 70px;
}
.noUnconfirmedApp{
    padding: 40px 20px;
    text-align: center;
}
.unconfirmedApp{
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0.5%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    width: 49%;
}
.unconfirmedApp .patientProfilePic,.appointmentContainer .patientProfilePic,.currentPatient .patientProfilePic{
    border: 2px solid #308a7b;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}
.unconfirmedApp .patientName, .appointmentContainer .patientName,.currentPatient .patientName{
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-weight: 600;
    text-transform: capitalize;
}
.unconfirmedApp .infos,.appointmentContainer .infos,.currentPatient .infos{
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
}
.unconfirmedApp .infos .info,.appointmentContainer .infos .info,.currentPatient .infos .info{
    display: inline-block;
    vertical-align: top;
    background-color: #308a7b;
    color: white;
    box-shadow: var(--infoBox);
    border-radius: 5px;
    padding-right: 5px;
    margin: 10px;
    overflow: hidden;
    text-transform: capitalize;
}
.unconfirmedApp .infos .info .icon,.appointmentContainer .infos .info .icon,.currentPatient .infos .info .icon{
    display: inline-block;
    vertical-align: top;
    background-color: white;
    color: #308a7b;
    padding: 2px 5px;
    margin-right: 5px;
}
.unconfirmedApp .appDateText{
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.unconfirmedApp .appDateText .appDate{
    font-weight: 600;
    background-color: var(--messageSenderBackgroundColor);
    color: var(--messageSenderColor);
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    padding: 2px 5px;
    width: fit-content;
}
.buttons .emptyBtn{
    position: relative;
    width: fit-content;
    min-width: 150px;
    white-space: nowrap;
}
.emptyBtnLoading{
    background-color: #308a7b;
    color: white;
    cursor: default;
    pointer-events: none;
}
.disabledBtn,.disabledBtn:hover{
    background-color: dimgrey;
    color: white;
    cursor: default;
    pointer-events: none;
    border: none;
}
.appointmentContainer{
    display: inline-block;
    vertical-align: top;
    margin: 0.5%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 49%;
    position: relative;
}
.appointmentContainer .patientTurn{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    background-color: #308a7b;
    color: white;
    font-size: 20px;
    cursor: default;
}
.appointmentContainer .patientTurn .turn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.appointmentContainer .patientTurn:hover .info{
    display: block;
}
.patientsNumber{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    margin: auto;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fd7e14;
    color: white;
    position: relative;
    transform: translateY(-3px);
    cursor: default;
}
.patientsNumber .number{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.patientsNumber:hover .info{
    display: block;
}
.patientsNumber .info,.patientTurn .info{
    position: absolute;
    top: -35px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--smallMessageUsernameBackgroundColor);
    color: var(--smallMessageUsernameColor);
    color: white;
    padding: 3px 5px;
    font-size: 15px;
    border-radius: 5px;
    white-space: nowrap;
    text-transform: none;
    box-shadow: var(--infoBox);
    display: none;
}
.currentPatient{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--box-color);
    box-shadow: var(--infoBox);
    border-radius: 10px;
    margin-top: 40px;
    padding: 15px;
}
@media screen and (max-width: 1400px){
    .secretaryContainer{
        width: 77%;
        left: 23%;
    }
}
@media screen and (max-width: 1310px){
    .secretaryContainer{
        left: 25%;
        width: 75%;
    }
    .newSectionContainer .infoGrid{
        grid-template-columns:1fr 1fr;
        gap: 10%;
        width: 90%;
    }
    .newSectionContainer .infoGrid .infoContainer:nth-child(3) .userInfoContainer{
        margin-left: 65%;
    }
    .sectionTitle{
        padding-top: 60px;
    }
}
@media screen and (max-width: 1300px){
    .secretaryContainer{
        left: 25%;
        width: 75%;
    }
}
@media screen and (max-width: 1200px){
    .unconfirmedApp,.appointmentContainer{
        width: 70%;
        margin-left: 15%;
    }
    .currentPatient{
        width: 70%;
    }
}
@media screen and (max-width: 1170px){
    .newSectionContainer .infoGrid{
        width: 100%;
    }
}
@media screen and (max-width: 1150px){
    .secretaryContainer{
        left: 28%;
        width: 72%;
    }
}
@media screen and (max-width: 1100px){
    .newSectionContainer,#secretaryWork{
        width: 100%;
        margin-left: 0px;
    }
}
@media screen and (max-width: 1040px){
    .newSectionContainer .infoGrid{
        gap: 5%;
    }
    .newSectionContainer .infoGrid .infoContainer:nth-child(3) .userInfoContainer{
        margin-left: 60%;
    }
}
@media screen and (max-width: 1070px){
    .secretaryContainer{
        left: 30%;
        width: 70%;
    }
}
@media screen and (max-width: 1000px){
    .unconfirmedApp{
        width: 49%;
        margin: 20px 0.5%;
    }
    .appointmentContainer{
        width: 49%;
        margin-left: 0.5%;
    }
    .secretaryContainer{
        top: 0px ;
        left: 0% ;
        width: 100% ;
    }
    .newSectionContainer .infoGrid{
        gap: 10%;
        width: 80%;
    }
    .newSectionContainer .infoGrid .infoContainer:nth-child(3) .userInfoContainer{
        margin-left: 65%;
    }
}
@media screen and (max-width: 910px){
    .unconfirmedApp,.appointmentContainer{
        width: 70%;
        margin-left: 15%;
    }
    .newSectionContainer .infoGrid{
        gap: 10%;
        width: 90%;
    }
    .newSectionContainer .infoGrid .infoContainer:nth-child(3) .userInfoContainer{
        margin-left: 65%;
    }
}
@media screen and (max-width: 850px){
    .imgContainer{
        left: 50%;
        transform: translateX(-50%);
    }
    .doctorGeneralInfo{
        display: block;
        position: relative;
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
    #secEmail{
        display: none;
    }
}
@media screen and (max-width: 810px){
    .newSectionContainer .infoGrid{
        grid-template-columns:1fr;
        gap: 0px;
        width: 70%;
    }
    .newSectionContainer .infoGrid .infoContainer:nth-child(3) .userInfoContainer{
        margin-left: 0%;
    }
    .newSectionContainer .infoGrid .infoContainer .userInfoContainer{
        margin-left: 0%;
    }
    .iconButton{
        margin-top: 15px;
        margin-left: 85%;
    }
    .infoEdit,.infoGridTowColumn{
        grid-template-columns: 1fr;
    }
    .width90{
        width: 85%;
        left: 7.5%;
    }
    #changePass{
        margin-top: 110px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 750px){
    .unconfirmedApp,.appointmentContainer{
        width: 80%;
        margin-left: 10%;
    }
    .currentPatient{
        width: 80%;
    }
}
@media screen and (max-width: 700px){
    .secretaryContainer{
        top: -50px !important;
        padding: 20px;
    }
    #changePass{
        margin-top: 120px;
    }
}
@media screen and (max-width: 650px){
    #changePass{
        margin-top: 130px;
    }
    .unconfirmedApp,.appointmentContainer{
        width: 90%;
        margin-left: 5%;
    }
    .currentPatient{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    #changePass{
        margin-top: 140px;
    }
}
@media screen and (max-width: 550px){
    .unconfirmedApp,.appointmentContainer{
        width: 98%;
        margin-left: 1%;
    }
    .currentPatient{
        width: 98%;
    }
}
@media screen and (max-width: 510px){
    .newSectionContainer .infoGrid{
        width: 85%;
    }
    .iconButton{
        margin-left: 80%;
    }
    .buttons{
        display: block;
    }
    .buttons .fullyBtn{
        min-width: max-content;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .buttons .emptyBtn{
        min-width: max-content;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #changePass{
        padding-left: 15px;
    }
}
@media screen and (max-width: 450px){
    .secretaryContainer{
        padding: 0px;
    }
    .sectionContainer,.newSectionContainer,#secretaryWork{
        margin: 0px;
        padding: 10px 0px;
    }
}
@media screen and (max-width: 420px){
    .newSectionContainer .infoGrid{
        width: 100%;
    }
    .iconButton{
        margin-left: 70%;
    }
}