@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
html,body{
    width: 100%;
    height: auto;
}

.homeHeader .darkModeCheckBoxLabel,.homeHeader .darkModeCheckBoxLabelUnder700{
    position: relative;
    background-color: transparent;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    padding: 5px;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    border: 1px solid #308a7b;
}
.homeHeader .ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #308a7b;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.homeHeader .darkModeCheckBox:checked +.darkModeCheckBoxLabel .ball{
    transform: translateX(24px);
}
.homeHeader .darkModeCheckBoxUnder700:checked + .darkModeCheckBoxLabelUnder700 .ball{
    transform: translateX(24px);
}
.homeHeader #darkModeCheckBox,.homeHeader #darkModeCheckBoxUnder700{
    display: none;
}
.homeHeader .fa-moon{
    color: white;
}
.homeHeader .fa-sun{
    color: #f39c12;
}
.homeHeader .settingsBoxUnder700Conatiner{
    display: none;
}
.homeHeader #settignsLi{
    position: relative;
}
.homeHeader #settingsBox{
    padding: 0;
    margin: 0;
    position: absolute;
    height: auto;
    width: auto;
    display: none;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 25px  rgba(0, 0, 0, .6);
}
.homeHeader #settingsBoxCancel{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #308a7bb7;
    font-size: 30px;
    margin-bottom: 15px;
}
.homeHeader #settingsBoxCancel:hover{
    color: #308a7b;
}
.homeHeader #en,.homeHeader #fr{
    display: none;
}
.homeHeader #enLabel, .homeHeader #frLabel{
    color: #308a7b;
    border: 1px solid #308a7b;
}
.homeHeader #enLabel:hover, .homeHeader #frLabel:hover{
    color: white;
    background-color: #308a7b;
}
.homeHeader #frLabel{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.homeHeader #enLabel{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.homeHeader #fr:checked ~ #frLabel, .homeHeader #en:checked ~ #enLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
.homeHeader #displaySettingsBox:checked ~ #settingsBox{
    display: block;
}
.homeHeader #displaySettingsBox{
    display: none;
}
.homeHeader .navItem li ul li{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: #308a7b;
    text-align: center;
    list-style: none;
}
.homeHeader li, .homeHeader button{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.homeHeader a{
    text-decoration: none;
    color: white;
    cursor: pointer; 
}
.homeHeader #healthCareMenu{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
.homeHeader header{
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    transition: 1s;
}
.homeHeader .headerOnScroll{
    background-color: var(--box-color);
    color: #3f9788;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: all .3s ease-in-out;
}
.homeHeader .headerOnScroll a button{
    background-color: #3f9788;
    border: 2px solid #3f978800;
}
.homeHeader .headerOnScroll button:hover{
    transform: scale(1.02);
    color: white;
}
.homeHeader .headerOnScroll a{
    color: #3f9788;
}
.homeHeader .headerOnScroll a:hover{
    color: #308a7b;
}
.homeHeader .headerOnScroll .menuHoverEffect::after{
    background: #308a7b;
}
.homeHeader nav{
    position: relative;
    height: 40px;
}
.homeHeader .navItem{
    line-height: 40px;
    list-style: none;
}
.homeHeader li{
    display: inline-block;
    padding: 0px 20px;
    transition: .3s;
}
.homeHeader li a{
    transition: all 0.3s ease 0s;
}
.homeHeader button{
    padding: 5px 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.homeHeader button:hover{
    border: 2px solid #3f9788;
    color: #3f9788;
}
.homeHeader .menuHoverEffect::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s;
}
.homeHeader .menuHoverEffect:hover::after{
    width: 100%;
    transition: width .3s;
}
.homeHeader #menuConnexion{
    display: none;
}
.homeHeader .fa-times, .homeHeader .fa-bars{
    display: none;
    color: white;
}
.homeHeader .fa-bars{
    font-size: 30px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    height: 50px;
  }
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #91bdb5;
}
.homeHeader #displayMenu, .homeHeader #displayMenuLabel{
    display: none;
}

/*login header*/
.notificationIcon{
    position: relative;
    width: fit-content;
}
.faBellMenuIcon{
    font-size: 25px;
}
.notification{
    position: relative;
    margin: 5px;
    padding: 5px;
    line-height: 15pt;
    text-align: center;
    border: 1px solid var(--notificationBorderColor);
    background-color: var(--notificationBackgroundColor);
    border-radius: 5px;
    color: var(--notificationTextColor);
}
.noNotification{
    color: var(--notificationTextColor);
    font-weight: 600;
    margin: auto;
    width: fit-content;
}
.newNotification{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #f39c12;
    right: 16px;
}
.notificationIcons{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 3px;
}
.fa-map-marked-alt{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
.fa-times{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.fa-bell,.fa-bell-slash,.fa-trash-alt{
    cursor: pointer;
}
.loginHeader .parentHeader{
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--headerText);
    background-color: var(--box-color);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    transition: all .3s ease-in-out;
}
.loginHeader .headerTitle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}
.loginHeader .parentHeader nav{
    position: relative;
    height: 40px;
}
.loginHeader .parentHeader .navItem{
    line-height: 40px;
    list-style: none;
    text-transform: capitalize;
}
.loginHeader .parentHeader li{
    display: inline-block;
    padding: 0px 20px;
    transition: .3s;
    cursor: pointer;
}
.loginHeader .parentHeader .fa-user-circle{
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.loginHeader .parentHeader li a{
    color: var(--headerText);
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.loginHeader .menuHoverEffect::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--headerText);
    transition: width .3s;
}
.loginHeader .menuHoverEffect:hover::after{
    width: 100%;
    transition: width .3s;
}
.loginHeader .headerChild{
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.loginHeader .headerChild nav{
    margin-top: 100px;
}
.loginHeader .headerChild .navItem{
    line-height: 40px;
}
.loginHeader .headerChild .navItem ul{
    list-style: none;
    font-weight: 600;
    color: var(--gray-text);
    padding-left: 0px;
    transition: all .3s ease-in-out;
}
.loginHeader .headerChild .navItem ul li,.loginHeader .headerChild .navItem .settingItems li:hover{
    cursor: pointer;
    padding-left: 0px;
    transition: linear 0.3s;
    background: none;
}
.loginHeader .headerChild .navItem ul li a{
    padding-left: 20px;
}
.loginHeader .headerChild .navItem ul li:hover{
    background-color: #a4cac460;
    padding-left: 30px;
}


.loginHeader #en,.loginHeader #fr,.loginHeader #darkModeCheckBox{
    display: none;
}
.loginHeader #enLabel, .loginHeader #frLabel{
    color: #308a7b;
    border: 1px solid #308a7b;
}
.loginHeader #enLabel:hover, .loginHeader #frLabel:hover{
    color: white;
    background-color: #308a7b;
}
.loginHeader #frLabel{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.loginHeader #enLabel{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loginHeader #fr:checked ~ #frLabel, .loginHeader #en:checked ~ #enLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
.loginHeader .btn-group{
    height: auto;
    margin: 5% 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.loginHeader .darkModeCheckBoxLabel{
    position: relative;
    background-color: transparent;
    display: flex;
    height: 26px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
    margin: 5% 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    border: 1px solid #308a7b;
}
.loginHeader .ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #308a7b;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.loginHeader .darkModeCheckBox:checked + .darkModeCheckBoxLabel .ball{
    transform: translateX(44px);
}
.loginHeader .fa-moon{
    color: white;
}
.loginHeader .fa-sun{
    color: #f39c12;
}

@media screen and (max-width: 1000px){
    .homeHeader header{
        font-size: 14px;
        padding: 5px 2%;
    }
}
@media screen and (max-width: 900px){
    .homeHeader header{
        font-size: 13px;
    }
    .homeHeader li{
        padding: 0px 15px;
    }
}
@media screen and (max-width: 800px){
    .homeHeader header{
        padding: 5px 2%;
    }
    .homeHeader li{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 720px){
    .homeHeader header{
        padding-left: 1%;
    }
    .homeHeader li{
        padding: 0px 9px;
    }
}
@media screen and (max-width: 700px){
    .homeHeader .settingsBoxUnder700Conatiner{
        padding: 5px 10px;
        display: block;
        z-index: 4;
        position: fixed;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: var(--box-color);
        transition: all .3s ease-in-out;
        border-radius: 5px;
        box-shadow: 0px 0px 25px  rgba(0, 0, 0, .6);
    }
    .homeHeader .settingsBoxUnder700Conatiner #settingsBoxUnder700 #settingsBoxCancel{
        margin-bottom: 5px;
    }
    .homeHeader .settingsBoxUnder700Conatiner #settingsBoxUnder700 li{
        padding: 5px 10px;
    }
    .homeHeader .settingsBoxUnder700Conatiner #settingsBoxUnder700 li{
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        color: #308a7b;
        text-align: center;
        list-style: none;
    }
    .homeHeader #displaySettingsBox:checked ~ #settingsBox, .homeHeader #settingsBox{
        display: none;
    }
    .homeHeader header{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        left: 0;
        text-align: center;
        overflow: auto;
        width: auto;
        left: -100%;
        height: 100%;
        padding: 10px;
        display: inline-block;
        background-color: #3f9788;
        transition: 0.7s;
    }
    .homeHeader .fa-times, .homeHeader #menuConnexion, .homeHeader .fa-bars, .homeHeader #displayMenuLabel{
        display: block;
    }
    .homeHeader #menuCancel{
        position: relative;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
    }
    .homeHeader #displayMenu, .homeHeader #healthCareMenu, .homeHeader .cta{
        display: none;
    }
    .homeHeader ul{
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .homeHeader li{
        display:block;
        padding: 5px;
    }
    .homeHeader #displayMenu:checked ~ #header{
        left: 0;
    }
    .homeHeader #displayMenuLabel{
        opacity: 100%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        position: fixed;
        background-color: #3f978859;
        top: 5%;
        left: 5%;
        transition: 0.5s;
    }
    .homeHeader #displayMenuLabel:hover{
        background-color: #3f9788;
    }
    .homeHeader .fa-bars{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .homeHeader .headerOnScroll{
        background-color: #3f9788;
        color: white;
    }
    .homeHeader .headerOnScroll a, .homeHeader .navItem li a:hover {
        color: white;
    }
    .homeHeader .menuHoverEffect::after{
        background: none;
    }
    .homeHeader .headerOnScroll .menuHoverEffect::after{
        background: none;
    }
}