<div class="clientSignUpContainer">
    <div class="clientSignUpContainerCenter">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="number" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <select class="form-control" aria-label="Day">
                <option selected style="text-align: center;">Day :</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control" aria-label="Day">
                <option selected style="text-align: center;">Month :</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="1">10</option>
                <option value="2">11</option>
                <option value="3">12</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control" aria-label="Day">
                <option selected style="text-align: center;">Year :</option>
                <option value="1">1999</option>
                <option value="2">2000</option>
                <option value="3">2001</option>
              </select>
            </div>
          </div><br>
          <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-danger btn-block" style="border-color: #D67480;">Submit</button>
            </div>
          </div><br>
    </div>
</div>     