<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section id="pendingPharmaciesSection">
        <div class="sectionTitle">{{'pending'|translate}}</div>
        <div class="sectionContainer">
            <div *ngIf="pendingPharmacies.length == 0" style="text-align: center;margin-top: 40px;
            font-weight: 600;">
                {{'allPharmaciessApproved'|translate}}
            </div>
            <div *ngIf="pendingPharmacies" class="notApprovedDocGrid">
                <div *ngFor="let pharmacy of pendingPharmacies ; let p = index" class="col">
                    <div *ngIf="pharmacy.decision != 'null'" class="docDecision">
                        <div class="docNotAppNameText">Ph. <span
                                style="text-transform: capitalize;">{{pharmacy.pharmacyFullName}} </span>
                            {{pharmacy.decision}}
                        </div>
                    </div>
                    <div *ngIf="pharmacy.pharmacyStatus == 'pending'" class="pendingStatus">
                        {{'pending'|translate}} </div>
                    <div *ngIf="pharmacy.pharmacyStatus == 'reVerify'" class="reVerifyStatus">
                        {{'reVerify'|translate}} </div>
                    <div class="pendingDocImg">
                        <div class="strok"></div>
                        <div *ngIf="pharmacy.profilePic; then showDocProfileImg else showDocDefaultImg">
                        </div>
                        <ng-template #showDocProfileImg><img class="profileImg"
                                [style.background-image]="'url(' + pharmacy.profilePic + ')'" class="profileImg">
                        </ng-template>
                        <ng-template #showDocDefaultImg>
                            <i class="fas fa-user-tie"></i>
                        </ng-template>
                    </div>
                    <div class="docNotAppName">Ph. <span
                            style="text-transform: capitalize;">{{pharmacy.pharmacyFullName}}</span>
                    </div>
                    <i class="fas fa-user"></i> {{pharmacy.userUsername}}<br>
                    <div *ngIf="pharmacy.showFullInfo; then showDocDocuments else hideDocDocuments"></div>
                    <ng-template #hideDocDocuments>
                        <div class="showHideDocuments">
                            <div (click)="pharmacy.showFullInfo=true">
                                {{'showDoc'|translate}}<br>
                                <i class="fas fa-angle-double-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #showDocDocuments>
                        <span class="pharmacyInfo">
                            <span class="pharmacyInfoIncon">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                            <span class="pharmacyInfoText">
                                {{pharmacy.pharmacyExactAddress}}
                            </span>
                        </span>
                        <span class="pharmacyInfo">
                            <span class="pharmacyInfoIncon">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span class="pharmacyInfoText">
                                {{pharmacy.pharmacyType}}
                            </span>
                        </span>
                        <div *ngIf="pharmacy.currentDoc=='cin'">
                            <div class="documentImgContainer">
                                <span (click)="pharmacy.currentDoc='speciality'"><i
                                        class="fas fa-chevron-right rightArrow"></i></span>
                                <img [src]="pharmacy.cinPic" class="img90">
                            </div>
                        </div>
                        <div *ngIf="pharmacy.currentDoc=='speciality'">
                            <div class="documentImgContainer">
                                <span (click)="pharmacy.currentDoc='cin'"><i
                                        class="fas fa-chevron-left leftArrow"></i></span>
                                <span (click)="pharmacy.currentDoc='clinic'"><i
                                        class="fas fa-chevron-right rightArrow"></i></span>
                                <img [src]="pharmacy.specialityPic" class="img90">
                            </div>
                        </div>
                        <div *ngIf="pharmacy.currentDoc=='clinic'">
                            <div class="documentImgContainer">
                                <span (click)="pharmacy.currentDoc='speciality'"><i
                                        class="fas fa-chevron-left leftArrow"></i></span>
                                <img [src]="pharmacy.appartmentPic" class="img90">
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="fullyBtn" (click)="approvePharmacy(pharmacy.userId,p);">
                                {{'approve'|translate}} </button>
                            <button class="fullyBtn"
                                (click)="disapprovePharmacy(pharmacy.userId,pharmacy.pharmacyStatus,p);">
                                {{'disapprove'|translate}} </button>
                        </div>
                        <div class="showHideDocuments">
                            <div (click)="pharmacy.showFullInfo=false">
                                <i class="fas fa-angle-double-up"></i><br>
                                {{'hideDoc'|translate}}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="loadPendingPharmacies && loadingPharmacies" class="loadPendingDocStatus">
                <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>