<div *ngIf="showForm; then showSignUpForm else showSignUp"></div>
<ng-template #showSignUpForm>
    <div *ngIf="formInfo=='emailAndName'">
       <div class="formInfoTitle">
          <i class="fas fa-info-circle"></i> Information de Compte 
        </div>
        <div class="formDiv">
            <input type="text" [class.labelInvalidInfo]="invalidFirstNameVariable" name="firstName" [(ngModel)]="firstName" (keyup)="firstNameInformation='First name';invalidFirstNameVariable=false" class="formInput"  placeholder=" ">
            <label for="" class="formLabel">
                {{firstNameInformation}}
            </label>
        </div>
        <div class="formDiv">
            <input type="text" [class.labelInvalidInfo]="invalidLastNameVariable" name="lastName" [(ngModel)]="lastName" (keyup)="lastNameInformation='Last name';invalidLastNameVariable=false" class="formInput" placeholder=" ">
            <label for="" class="formLabel">
                {{lastNameInformation}}
            </label>
        </div>
        <div class="formDiv">
            <input type="text" [class.labelInvalidInfo]="invalidMailVariable" name="mail" [(ngModel)]="mail" (keyup)="mailInformation='Mail';invalidMailVariable=false" class="formInput" placeholder=" ">
            <label for="" class="formLabel">
                {{mailInformation}}
            </label>
        </div>
        <div class="formNavigateButtons">
            <div class="formNavigateNextButton">
                <button (click)="checkEmailAndNameForm()" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; ">Next <i class="fas fa-chevron-circle-right" style="margin: 4px;"></i></button>
            </div>
            <div class="formNavigateBackButton">
                <button (click)="showForm=false" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; "><i class="fas fa-chevron-circle-left " style="margin: 4px;"></i> {{'goBack'|translate}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="formInfo=='birthday'">
        <div class="formInfoTitle">
             <i class="fas fa-birthday-cake"></i> Birthday
         </div>
         <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
         <div class="formNavigateButtons">
             <div class="formNavigateNextButton">
                 <button (click)="checkBirthday()" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; ">Next <i class="fas fa-chevron-circle-right" style="margin: 4px;"></i></button>
             </div>
             <div class="formNavigateBackButton">
                 <button (click)="formInfo='emailAndName'" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; "><i class="fas fa-chevron-circle-left " style="margin: 4px;"></i> {{'goBack'|translate}}</button>
             </div>
         </div>  
     </div>
     <div *ngIf="formInfo=='GeneralInfo'">
        <div class="formInfoTitle">
             <i class="fas fa-info-circle"></i> Information générale
         </div>
         <div class="formDiv">
             <input type="text" list="governoratelistOptions" [class.labelInvalidInfo]="invalidAdressVariable" name="adress" [(ngModel)]="adress" (keyup)="adressInformation='City';invalidAdressVariable=false" class="formInput" placeholder=" ">
             <label for="" class="formLabel">
                {{adressInformation}}
                <datalist id="governoratelistOptions">
                    <option value="Ariana">
                    <option value="Béja">
                    <option value="Ben Arous">
                    <option value="Bizerte">
                    <option value="Gabès">
                    <option value="Gafsa">
                    <option value="Jendouba">
                    <option value="Kairouan">
                    <option value="Kasserine">
                    <option value="Kébili">
                    <option value="Kef">
                    <option value="Mahdia">
                    <option value="Manouba">
                    <option value="Médenine">
                    <option value="Monastir">
                    <option value="Nabeul">
                    <option value="Sfax">
                    <option value="Sidi Bouzid">
                    <option value="Siliana">
                    <option value="Sousse">
                    <option value="Tataouine">
                    <option value="Tozeur">
                    <option value="Tunis">
                    <option value="Zaghouan">
                  </datalist>
             </label>
         </div>
         <div class="formInfoTitle"><i class="fas fa-venus-mars"></i> Gender <div *ngIf="checkBoxInvaledInfoVriable" style="font-size: .80rem; color: red;">Select a gender</div></div>
         <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="left: 50%; transform: translateX(-50%); padding-bottom: 5%;">
            <input type="radio" class="maleRadio" (change)="checkBoxInvaledInfoVriable=false;maleCheckBox=true" [checked]="maleCheckBox" name="btnradio" id="male">
            <label [class.checkBoxInvaledInfo]="checkBoxInvaledInfoVriable" class="btn btn-outline-primary" id="maleLabel" for="male">Male</label>
            <input type="radio" class="femaleRadio" (change)="checkBoxInvaledInfoVriable=false;femaleCheckBox=true" [checked]="femaleCheckBox" name="btnradio" id="female">
            <label [class.checkBoxInvaledInfo]="checkBoxInvaledInfoVriable" class="btn btn-outline-primary" id="femaleLabel" for="female">Female</label>
         </div>
         <div class="formNavigateButtons">
             <div class="formNavigateNextButton">
                 <button (click)="checkGenderAndAdress()" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; ">Next <i class="fas fa-chevron-circle-right" style="margin: 4px;"></i></button>
             </div>
             <div class="formNavigateBackButton">
                 <button (click)="formInfo='birthday'" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; "><i class="fas fa-chevron-circle-left " style="margin: 4px;"></i> {{'goBack'|translate}}</button>
             </div>
         </div>  
     </div>
     <div *ngIf="formInfo=='password'">
        <div class="formInfoTitle">
             <i class="fas fa-unlock"></i> Password
         </div>
         <div class="formDiv">
            <input type="password" [class.labelInvalidInfo]="invalidPasswordVariable" name="password" [(ngModel)]="password" (keyup)="invalidPasswordVariable=false; passwordInfromation='Password'" class="formInput" placeholder=" ">
            <label for="" class="formLabel">
                {{passwordInfromation}}
            </label>
        </div>
        <div class="formDiv">
            <input type="password" [class.labelInvalidInfo]="invalidPasswordRepeatVariable" name="passwordRepeat" [(ngModel)]="passwordRepeat" (keyup)="passwordRepeatInfromation='Repeat password'; invalidPasswordRepeatVariable=false" class="formInput" placeholder=" ">
            <label for="" class="formLabel">
                {{passwordRepeatInfromation}}
            </label>
        </div>
         <div class="formNavigateButtons">
             <div class="formNavigateNextButton">
                 <button (click)="checkPassword()" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; ">Sign Up <i class="fas fa-chevron-circle-right" style="margin: 4px;"></i></button>
             </div>
             <div class="formNavigateBackButton">
                 <button (click)="formInfo='GeneralInfo'" type="submit" class="btn btn-outline-light btn-block" style="display: flex; justify-content: space-between; "><i class="fas fa-chevron-circle-left " style="margin: 4px;"></i> {{'goBack'|translate}}</button>
             </div>
         </div>  
     </div>
</ng-template>
<ng-template #showSignUp>
    <div class="formInfoTitle"><i class="fas fa-user"></i> {{'accountType'|translate}} :</div>
<div class="buttons">
    <button class="userTypeBtn" (click)="showForm=true; formInfo='emailAndName'"> {{ 'client' | translate}} </button><br>
    <button class="userTypeBtn" (click)="showForm=true; formInfo='emailAndName'"> {{ 'pharmacist' | translate}} </button><br>
    <button class="userTypeBtn" (click)="showForm=true; formInfo='emailAndName'"> {{ 'doctor' | translate}} </button>
</div>
<div class="strike"><span>{{'or'|translate}}</span></div>
<button type="submit" class="btn btn-outline-danger btn-block" (click)="openSignIn()">{{'goBack'|translate}}</button>
</ng-template>