.container{
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
}
.userCreated{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.fa-check-circle{
    position: absolute;
    color: #308a7b;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
.btn-outline-primary:hover{
    background-color: #308a7b;
    color: white;
}
.btn-outline-primary{
    background-color: white;
    color: #308a7b;
    border: 1px solid #308a7b;
}
#maleLabel,#femaleLabel{
    background-color: var(--box-color);
    padding: 8px 20px;
    transition: all .3s ease-in-out;
}
#male:checked ~ #maleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#female:checked ~ #femaleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
.checkBoxInvaledInfo{
    border: 1px solid red;
    color: red;
}
#maleLabel{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#femaleLabel{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#male, #female{
    display: none;
}
.formNavigateButtons{
    position: relative;
    width: 100%;
    height: auto;
}
.formNavigateBackButton{
    position: relative;
    width: 40%;
    left: 0%;
    transition: 1s;
}
.formNavigateNextButton{
    position: absolute;
    width: 40%;
    right: 0%;
    transition: 1s;
}
.formInfoTitle{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.labelInvalidInfo{
    border: 1px solid red;
}
.labelInvalidInfo:focus{
    border: 2px solid red;
}
.labelInvalidInfo + .formLabel{
    color: red;
}
.userTypeBtn{
    width: 80%;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    border-radius: .5rem;
    color: #308a7b;
    font-weight: bold;
    background-position: 50px 0;
}
.userTypeBtn{
    background: -webkit-linear-gradient(0deg,transparent 50%,#308a7b 50%);
    background-size: 200% 4px;
    border: 1px solid #308a7b;
    text-transform: uppercase;
}
#maleLabel:hover,#femaleLabel:hover{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--maleFemaleCheckBoxBackgroundColor);
    transition: all .3s ease-in-out;
}
.userTypeBtn:hover{
    background-position: 90% 0;
    color: white;
    font-weight: bold;
}
.btn-group{
    height: 75px;
}
.singupButtons{
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.strike {
    margin: 15px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    color: var(--hr);
    transition: all .3s ease-in-out;
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: var(--hr);
    transition: all .3s ease-in-out;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
@media screen and (max-width: 800px){
    .formNavigateBackButton,.formNavigateNextButton{
        width: 45%;
    }
}
@media screen and (max-width: 700px){
    .formNavigateBackButton,.formNavigateNextButton{
        width: 40%;
    }
}