<html>

<head></head>

<body>
    <section id="adminFindDoctor">
        <div class="sectionTitle">{{'findDoctor'|translate}}</div>
        <div class="findingDoctorSearch">
            <div class="searchText"><i class="fas fa-search"></i> {{'search'|translate}}</div>
            <div class="formDiv">
                <input type="text" class="formInput" list="datalistOptions" id="chooseSpeciality" placeholder=" ">
                <label for="chooseSpeciality" class="formLabel">{{'chooseSpeciality'|translate}}</label>
            </div>
            <div class="formDiv">
                <input type="text" name="doctorName" [(ngModel)]="doctorName" class="formInput" list="doctorsList"
                    id="searchDoctor" placeholder=" ">
                <label for="searchDoctor" class="formLabel">{{'searchDoctor'|translate}}</label>
            </div>
            <datalist id="doctorsList">

            </datalist>
            <button type="submit" class="emptyBtn" style="height: 43px;">{{'search'|translate}}</button>
        </div>
    </section>
    <section id="adminAddSpeciality">
        <div class="sectionTitle">{{'addSpeciality'|translate}}</div>
        <div class="findingDoctorSearch">
            <div class="searchText"><i class="fas fa-search"></i> {{'addSpeciality'|translate}}</div>
            <div class="formDiv">
                <input type="text" class="formInput" name="specialityCode" [(ngModel)]="specialityCode"
                    id="specialityCode" placeholder=" ">
                <label for="specialityCode" class="formLabel">{{'specialityCode'|translate}}</label>
            </div>
            <div class="formDiv">
                <input type="text" class="formInput" name="specialityName" [(ngModel)]="specialityName"
                    id="specialityName" placeholder=" ">
                <label for="specialityName" class="formLabel">{{'specialityName'|translate}}</label>
            </div>
            <button type="submit" class="emptyBtn" style="height: 43px;"
                (click)="addSpeciality()">{{'addSpeciality'|translate}}</button>
        </div>
    </section>
    <section id="pendingDoctor">
        <div class="sectionTitle">{{'notApproved'|translate}}</div>
        <div class="pendingDoctorContainer">
            <div *ngIf="pendingDoctors.length==0; then showAllDocApp else showNotAppDoc" style="text-align: center;">
            </div>
            <ng-template #showAllDocApp> <div style="text-align: center;
                font-weight: 600;">{{'allDoctorsApproved'|translate}}</div></ng-template>
            <ng-template #showNotAppDoc>
                <div class="notApprovedDocGrid">
                    <div *ngFor="let doc of pendingDoctors ; let d = index" class="col">
                        <div *ngIf="!showPendingDoc[d]" class="docDecision">
                            <div class="docNotAppNameText">Dr. <span
                                    style="text-transform: capitalize;">{{doc.doctorFirstName}}</span> <span
                                    style="text-transform: uppercase;"> {{doc.doctorLastName}}</span>
                                {{pendingDocDecision[d]}}
                            </div>
                        </div>
                        <div *ngIf="doc.doctorStatus == 'pending'" class="pendingStatus">
                            {{'pending'|translate}} </div>
                        <div *ngIf="doc.doctorStatus == 'reVerify'" class="reVerifyStatus">
                            {{'reVerify'|translate}} </div>
                        <div class="pendingDocImg">
                            <div class="strok"></div>
                            <div *ngIf="profileImages[d]; then showDocProfileImg else showDocDefaultImg">
                            </div>
                            <ng-template #showDocProfileImg><img [style.background-image]="'url(' + profileImages[d] + ')'" class="profileImg">
                            </ng-template>
                            <ng-template #showDocDefaultImg>
                                <i class="fas fa-user-tie"></i>
                            </ng-template>
                        </div>
                        <div class="docNotAppName">Dr. <span
                                style="text-transform: capitalize;">{{doc.doctorFirstName}}</span> <span
                                style="text-transform: uppercase;"> {{doc.doctorLastName}}</span>
                        </div>
                        <i class="fas fa-user"></i> {{doc.userUsername}}<br>
                        <div class="specialityContainer">{{doc.specialityCode|translate}}</div>
                        <div *ngIf="docDocuments[d]; then showDocDocuments else hideDocDocuments"></div>
                        <ng-template #hideDocDocuments>
                            <div class="showHideDocuments">
                                <div (click)="docDocuments[d]=true">
                                    {{'showDoc'|translate}}<br>
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #showDocDocuments>
                            <div *ngIf="documentPic[d]=='cin'">
                                <div class="documentImgContainer">
                                    <span (click)="documentPic[d]='speciality'"><i
                                            class="fas fa-chevron-right rightArrow"></i></span>
                                    <img [src]="cinImages[d]" class="img90">
                                </div>
                            </div>
                            <div *ngIf="documentPic[d]=='speciality'">
                                <div class="documentImgContainer">
                                    <span (click)="documentPic[d]='cin'"><i
                                            class="fas fa-chevron-left leftArrow"></i></span>
                                    <span (click)="documentPic[d]='clinic'"><i
                                            class="fas fa-chevron-right rightArrow"></i></span>
                                    <img [src]="specialityImages[d]" class="img90">
                                </div>
                            </div>
                            <div *ngIf="documentPic[d]=='clinic'">
                                <div class="documentImgContainer">
                                    <span (click)="documentPic[d]='speciality'"><i
                                            class="fas fa-chevron-left leftArrow"></i></span>
                                    <img [src]="clinicImages[d]" class="img90">
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="fullyBtn" (click)="approveDoc(doc.userId,d);">
                                    {{'approve'|translate}} </button>
                                <button class="fullyBtn"
                                    (click)="disapproveDoc(doc.userId,doc.doctorStatus,d);">
                                    {{'disapprove'|translate}} </button>
                            </div>
                            <div class="showHideDocuments">
                                <div (click)="docDocuments[d]=false">
                                    <i class="fas fa-angle-double-up"></i><br>
                                    {{'hideDoc'|translate}}
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
            <div *ngIf="loadPendingDoc == true;" class="loadPendingDocStatus">
                <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>