.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.sectionContainer{
    padding: 5% 5%;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.pendingDoctorContainer{
    padding: 5% 5%;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.findingDoctorSearch{
    position: relative;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    padding: 5% 15%;
    border-radius: 20px;
}
.searchText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.gridTowCol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap: 5%;
}
.gridTowCol .col{
    text-align: center;
    padding: 5% 0%;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.patientName{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.col .specialityContainer{
    display: inline-block;
    background-color: #308a7b;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}
.loadPendingDocStatus{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.loading{
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%,0%);
}