@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    overflow-x: hidden;
}
.aboutUsTitle{
    position: absolute;
    height: auto;
    width: auto;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    top: 15%;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap
}
.aboutUsText{
    position: absolute;
    height: auto;
    width: 80%;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    top: 35%;
    left: 10%;
}
.aboutUsFooter{
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: #8f8f8f;
    border-bottom-left-radius: 25px;
    bottom: 0%;
    transition: 1s;
    color: white;
}
.aboutUsArrow{
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -40%;
}
.contactUsTitle{
    position: absolute;
    height: auto;
    width: 100%;
    text-align: center;
    top: 2%;
}
.aboutUsFooter:hover{
    color: white;
    height: 30%;
    border-top-left-radius: 25px;
    transition: 2s;
}
.containerBox{
    height: 100%;
    width: 100%;
    position: relative;
}
.bodyBox{
    position: absolute;
    height: 100%;
    width: 92%;
    background-color:#F0F2F5 ;
    right: 0%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 0px;
    transition: 1s;
}
.firstHalfBody{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0%;
}
.secondHalfBody{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}
.imagecontainer{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 25%;
}
.menuBox{
    height: 100%;
    width: 11%;
    background-color:#202631;
    position: relative;
    left: 0px;
    opacity: 90%;
    transition: 1s ;
    color: #202631;
}
.menuBox:hover{
    height: 100%;
    width: 18%;
    background-color:#202631;
    position: relative;
    transition: 1s ;
    opacity: 100%;
    color: white;   
}
.menuBox:hover + #bodyBox{
    position: absolute;
    height: 100%;
    width: 92%;
    background-color:#F0F2F5 ;
    right: -8%;
    top: 0px;
    transition: 1s;
}
.homeIcon{
    position: absolute;
    width: 60%;
    left: 15%;
}
.textHomeIcon{
    position: absolute;
    top: 10%;
    left: 55px;
}
.aboutIcon{
    position: absolute;
    width: 60%;
    left: 15%;
}
.textAboutIcon{
    position: absolute;
    top: 10%;
    left: 55px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap
}
.settingIcon{
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 60%;
}
.textSettingIcon{
    position: absolute;
    top: 10%;
    left: 55px;
}
.menuIcon{
    width: 100%;
    position: absolute;
    padding-left: 15%;
    top: 50%;
    transform: translateY(-75%);
}
.arrowContainer{
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
}
.fa-home{
    color: white;
    transition: 0.3s;
}
.fa-chevron-right{
    color: white;
    transition: 0.3s;
}
.fa-home:hover{
    color: #D16572;
    transform:scale(1.3);
    transition: 0.3s;
}
.fa-address-card{
    color: white;
    transition: 0.3s;
}
.fa-address-card:hover{
    color: #D16572;
    transform:scale(1.3);
    transition: 0.3s;
}
.fa-cog{
    color: white;
    transition: 0.3s;
}
.fa-cog:hover{
    color: #D16572;
    transform:scale(1.3);
    transition: 0.3s;
}
.fa-times:hover{
    transform:scale(1.3);
    transition: 0.3s;
}
.fa-times{
    color: #202631;
    transition: 0.3s;
}
.IconButton{
    border: none;
    background: none;
}
.fa-sort-up{
    color: #8f8f8f;
}