body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    color: var(--text-color);
}
.searchText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.findingDoctorSearch{
    position: relative;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    padding: 5% 15%;
    border-radius: 20px;
}
.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.sectionContainer{
    padding: 5% 5%;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    grid-template-areas: 
    "gridFirstBox gridSecondBox"
    "gridThirdBox gridFourthBox";
}
.grid .gridFirstBox{
    margin-bottom: 50px;
    max-width: 95%;
    justify-self: center;
    grid-area:gridFirstBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridSecondBox{
    margin-bottom: 50px;
    max-width: 95%;
    justify-self: center;
    grid-area: gridSecondBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridThirdBox{
    margin-bottom: 0px;
    max-width: 95%;
    justify-self: center;
    grid-area: gridThirdBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridFourthBox{
    max-width: 95%;
    justify-self: center;
    grid-area: gridFourthBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.gidBoxNumber{
    color: white;
    width: 60px;
    height: 60px;
    font-size: 32px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
    background-color: #308a7b;
}
.gidBoxTitle{
    font-size: 32px;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.gidBoxText{
    font-size: 16px;
    text-align: left;
    padding: 10%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.ourMethodologySection{
    padding: 5% 0%;
}
.patientWhyHealthCareSection .grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
}
.grid .gridInfo{
    margin: 5% 5%;
    padding: 5% 5%;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.gridinfoCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.textLien{
    text-decoration: underline;
}
.textLien:hover{
    cursor: pointer;
}
.sectionContainer{
    position: relative;
    width: 99%;
    margin-left: 0.5%;
    padding: 5% 0%;
}
.confirmText{
    margin-top: 3%;
    text-align: center;
    font-size: 1.2rem;
}
.confirmButtons{
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
    justify-content: space-between;
    width: 55%;
    color: white;
}
.confirmButtons .green{
    background-color: #308a7b;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .red{
    background-color: red;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .green:hover{
    border: 2px solid #308a7b;
}
.confirmButtons .red:hover{
    border: 2px solid red;
}
.fa-trash-alt,.fa-check{
    margin: 5px 5px;
}
.confirmNote{
    margin-top: 3%;
    margin-left: 3%;
    width: 75%;
}
.yourTurn{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 10px;
    color: #308a7b;
    border-radius: 5px;
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.patientTurn{
    display: inline-block;
    background-color: #308a7b;
    padding: 0px 10px;
    color: white;
    border-radius: 5px;
    margin: 5px 0px;
}
.doctorAppointmentContainer .center .emptyBtn{
    width: 80%;
}
.white:hover{
    cursor: pointer;
    color:#308a7b;
    background-color: white;
}
#day1Lab:hover,#day2Lab:hover,#day3Lab:hover,#day4Lab:hover,#day5Lab:hover,#day6Lab:hover,#day7Lab:hover,#day8Lab:hover,#day9Lab:hover,#day10Lab:hover,#day11Lab:hover,#day12Lab:hover,#day13Lab:hover,#day14Lab:hover,#day15Lab:hover,#day16Lab:hover,#day17Lab:hover,#day18Lab:hover,#day19Lab:hover,#day20Lab:hover,#day21Lab:hover,#day22Lab:hover,#day23Lab:hover,#day24Lab:hover,#day25Lab:hover,#day26Lab:hover,#day27Lab:hover,#day28Lab:hover,#day29Lab:hover,#day30Lab:hover,#day31Lab:hover{
    cursor: pointer;
    background-color: white;
    color: #308a7b;
    transition: all .3s ease-in-out;
}
#day1:checked + #day1Lab,#day2:checked + #day2Lab,#day3:checked + #day3Lab,#day4:checked + #day4Lab,#day5:checked + #day5Lab,#day6:checked + #day6Lab,#day7:checked + #day7Lab,#day8:checked + #day8Lab,#day9:checked + #day9Lab,#day10:checked + #day10Lab,#day11:checked + #day11Lab,#day12:checked + #day12Lab,#day13:checked + #day13Lab,#day14:checked + #day14Lab,#day15:checked + #day15Lab,#day16:checked + #day16Lab,#day17:checked + #day17Lab,#day18:checked + #day18Lab,#day19:checked + #day19Lab,#day20:checked + #day20Lab,#day21:checked + #day21Lab,#day22:checked + #day22Lab,#day23:checked + #day23Lab,#day24:checked + #day24Lab,#day25:checked + #day25Lab,#day26:checked + #day26Lab,#day27:checked + #day27Lab,#day28:checked + #day28Lab,#day29:checked + #day29Lab,#day30:checked + #day30Lab,#day31:checked + #day31Lab{
    background-color: white;
    color: #308a7b;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
.doctorAppointmentContainer,.fillAllDay{
    color: white;
}
.white{
    border: 1px solid white;
    color:white;
}
.profileImg{
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 100%;
}
.loading{
    margin-top: 20px;
    position: relative;
    width: fit-content;
}
.paddinfTop{
    padding-top: 50px;
}
.loadingClass{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.loadingClass .loading{
    margin-top: 0px;
}
.searchedDocDefaultImg{
    font-size: 140px;
}
#patientTopRatedDoctorSection .doctor{
    background-color: var(--background-color);
}
#patientTopRatedDoctorSection .doctor:hover{
    transform: scale(1);
    cursor: default;
}
.centerAddDocLoaded{
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}