body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    color: var(--text-color);
}
.searchText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.findingDoctorSearch{
    position: relative;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    padding: 5% 15%;
    border-radius: 20px;
}
.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.sectionContainer{
    padding: 5% 5%;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    grid-template-areas: 
    "gridFirstBox gridSecondBox"
    "gridThirdBox gridFourthBox";
}
.grid .gridFirstBox{
    margin-bottom: 50px;
    max-width: 95%;
    justify-self: center;
    grid-area:gridFirstBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridSecondBox{
    margin-bottom: 50px;
    max-width: 95%;
    justify-self: center;
    grid-area: gridSecondBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridThirdBox{
    margin-bottom: 0px;
    max-width: 95%;
    justify-self: center;
    grid-area: gridThirdBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridFourthBox{
    max-width: 95%;
    justify-self: center;
    grid-area: gridFourthBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.gidBoxNumber{
    color: white;
    width: 60px;
    height: 60px;
    font-size: 32px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
    background-color: #308a7b;
}
.gidBoxTitle{
    font-size: 32px;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.gidBoxText{
    font-size: 16px;
    text-align: left;
    padding: 10%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.ourMethodologySection{
    padding: 5% 0%;
}
.patientWhyHealthCareSection .grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
}
.grid .gridInfo{
    margin: 5% 5%;
    padding: 5% 5%;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.gridinfoCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.textLien{
    text-decoration: underline;
}
.textLien:hover{
    cursor: pointer;
}
.sectionContainer{
    position: relative;
    width: 99%;
    margin-left: 0.5%;
    padding: 5% 0%;
}
.confirmText{
    margin-top: 3%;
    text-align: center;
    font-size: 1.2rem;
}
.confirmButtons{
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
    justify-content: space-between;
    width: 55%;
    color: white;
}
.confirmButtons .green{
    background-color: #308a7b;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .red{
    background-color: red;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .green:hover{
    border: 2px solid #308a7b;
}
.confirmButtons .red:hover{
    border: 2px solid red;
}
.fa-trash-alt,.fa-check{
    margin: 5px 5px;
}
.confirmNote{
    margin-top: 3%;
    margin-left: 3%;
    width: 75%;
}
.yourTurn{
    display: inline-block;
    background-color:white ;
    padding-left: 10px;
    color: #308a7b;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.patientTurn{
    display: inline-block;
    background-color: #308a7b;
    padding: 0px 10px;
    color: white;
    border-radius: 5px;
}
.doctorAppointmentContainer .center .emptyBtn{
    width: 80%;
}