<html>
    <body>
        <div class="containerBox" >
            <div class="menuBox" id="menuBox">
                <div class="menuIcon">
                    <div class="homeIcon">
                        <div class="textHomeIcon" id="textHomeIcon">HOME</div>
                        <a href="#"><i class="fas fa-home fa-2x"></i></a> 
                    </div><br><br><br>
                    <div class="aboutIcon">
                        <a href="#"><i class="fas fa-address-card fa-2x"></i></a>
                        <div class="textAboutIcon" id="textAboutIcon">ABOUT US</div>
                    </div>
                </div>
                <div class="arrowContainer">
                    <i class="fas fa-chevron-right fa-1x"></i>
                </div>
                <div class="settingIcon">
                    <a href="#" ><i class="fas fa-cog fa-2x"></i></a>
                    <div class="textSettingIcon" id="textSettingIcon">SETTING</div>
                </div>
            </div>
            <div class="bodyBox" id="bodyBox">
                <div class="bodyImage">
                    <div class="bodyImageContainer">
                        <img src="../../assets/Doctor.png" style="width: 100%;">
                    </div>
                </div>
                <div class="bodyFormContainer">
                    <div class="signInFormContainer">
                        <div class="centerSingInForm">
                            <div class="formContainer">
                                <div class="formContainerfrom">
                                    <div *ngIf="signUpForm; then showSignUp else showSignIn"></div>
                                    <ng-template #showSignIn><app-sign-in-form (outPutOpenSignUp)="recieveMessage($event)"></app-sign-in-form></ng-template>
                                    <ng-template #showSignUp><app-sign-up-form (outPutOpenSignIn)="recieveMessage($event)"></app-sign-up-form></ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="FormName=='Client'">
            <div class="popUpContainer">
             <div class="hr"></div>
             <div class="popUpContainerWithoutCancel">
                <app-sign-up-form style="display: none;"></app-sign-up-form>  
                <app-client-sign-up></app-client-sign-up>  
             </div>
             <div class="formName">
                <h3>Sign Up</h3>
                As Client
            </div>
             <div class="popUpContainerWithCancel">
                <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
             </div>
           </div>
       </div>
       <div *ngIf="FormName=='Pharmacist'">
        <div class="popUpContainer">
         <div class="hr"></div>
         <div class="popUpContainerWithoutCancel">
            <app-sign-up-form style="display: none;"></app-sign-up-form>  
            <app-pharmacist-sign-up></app-pharmacist-sign-up>  
         </div>
         <div class="formName">
            <h3>Sign Up</h3>
            As Pharmacist
        </div>
         <div class="popUpContainerWithCancel">
            <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
         </div>
       </div>
   </div>
   <div *ngIf="FormName=='Doctor'">
    <div class="popUpContainer">
     <div class="hr"></div>
     <div class="popUpContainerWithoutCancel">
        <app-sign-up-form style="display: none;"></app-sign-up-form>  
        <app-doctor-sign-up></app-doctor-sign-up>  
     </div>
     <div class="formName">
        <h3>Sign Up</h3>
        As Doctor
    </div>
     <div class="popUpContainerWithCancel">
        <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
     </div>
   </div>
</div>
    </body>
</html>