<html>
    <head>
        <meta charset="utf-8">
        <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    </head>
    <body >
        <app-header></app-header>
        <section id="acceuilSection">
            <div id="slider">
                <figure>
                    <img src="../../assets/slider img/slider1.jpg">
                    <img src="../../assets/slider img/slider2.jpg">
                    <img src="../../assets/slider img/slider3.jpg">
                    <img src="../../assets/slider img/slider4.jpg">
                    <img src="../../assets/slider img/slider1.jpg">
                </figure>
            </div>
        </section>

        <section id="connexionSection">
            <div class="sectionTitle">
                {{'connect'|translate}}
            </div>
            <div class="connexionContainer">
                <img src="../../assets/img/connexion.jpg" id="connexionImg">
                <div class="connexionForm">
                    <app-acceuil-body></app-acceuil-body>
                </div>
            </div>
        </section>
        <section id="doctocSection">
            <div class="sectionTitle">
                {{'howItWokrs'|translate}} <br>{{'appWork'|translate}}
            </div>
            <div class="grid">
                <div class="gridFirstBox">
                    <div class="gidBoxNumber">1</div>
                    <div class="gidBoxTitle">
                        {{'makeAppointment'|translate}}
                    </div>
                    <div class="gidBoxText">
                        {{'firstBoxText'|translate}} 
                    </div>
                </div>
                <div class="gridSecondBox">
                    <div class="gidBoxNumber">2</div>
                    <div class="gidBoxTitle">
                        {{'makeYourAppointment'|translate}}
                    </div>
                    <div class="gidBoxText">
                        {{'secondBoxText'|translate}}
                    </div>
                </div>
                <div class="gridThirdBox">
                    <div class="gidBoxNumber">3</div>
                    <div class="gidBoxTitle">
                        {{'getDiagnosis'|translate}}
                    </div>
                    <div class="gidBoxText">
                        {{'thirdBoxText'|translate}} 
                    </div>
                </div>
                <div class="gridFourthBox">
                    <div class="gidBoxNumber">4</div>
                    <div class="gidBoxTitle">
                        {{'paymentAndRates'|translate}}
                    </div>
                    <div class="gidBoxText">
                        {{'fourthBoxText'|translate}} 
                    </div>
                </div>
            </div>
            <div class="sectionTitle">
                {{'soStartWith'|translate}}<br>{{'aDoctor'|translate}}
            </div>
            <div class="findingDoctor">
                <img src="../../assets/img/findDoctor.jpg" id="findDoctorImg">
                <div class="findingDoctorSearch">
                    <div class="searchText"><i class="fas fa-search"></i> {{'search'|translate}}</div>
                    <div class="formDiv">
                        <input type="text" class="formInput" list="datalistOptions" id="exampleInputEmail1" placeholder=" ">
                        <label for="exampleInputEmail1" class="formLabel">{{'chooseSpeciality'|translate}}</label>
                    </div>
                    <datalist id="datalistOptions">
                      <option value="{{'generalPractitioner'|translate}}">
                      <option value="{{'Psychologist'|translate}}">
                      <option value="{{'Psychiatrist'|translate}}">
                      <option value="{{'Dentist'|translate}}">
                      <option value="{{'Pediatrician'|translate}}">
                    </datalist>
                    <div class="formDiv">
                        <input type="text" class="formInput" id="exampleInputEmail1" placeholder=" ">
                        <label for="exampleInputEmail1" class="formLabel">{{'searchDoctor'|translate}}</label>
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-block" style="height: 43px;">{{'search'|translate}}</button>
                </div>
            </div>
        </section>
        <section id="maladiesSection">
            <div class="sectionTitle">
                {{'diseases'|translate}}
            </div>
            <div class="maladiesContainer">
                <div>
                    {{'disease'|translate}} 1
                </div>
                <div>
                    {{'disease'|translate}} 2
                </div>
                <div>
                    {{'disease'|translate}} 3
                </div>
                <div>
                    {{'disease'|translate}} 4
                </div>
                <div>
                    {{'disease'|translate}} 5
                </div>
                <div>
                    {{'disease'|translate}} 6
                </div>
                <div>
                    {{'disease'|translate}} 7
                </div>
                <div>
                    {{'disease'|translate}} 8
                </div>
                <div>
                    {{'disease'|translate}} 9
                </div>
                <div>
                    {{'disease'|translate}} 10
                </div>
                <div>
                    {{'disease'|translate}} 11
                </div>
                <div>
                    {{'disease'|translate}} 12
                </div>
            </div>
        </section>
        <section id="aboutSection">
            <div class="aboutUstitle">
                {{'about'|translate}} <span style="color: #308a7b;">{{'us'|translate}}</span>
            </div>
            <div class="aboutUsText">
               <strong style="color: #308a7b; font-family: 'Dancing Script', cursive;font-size: 2rem;"> Health Care </strong> {{'aboutUsText'|translate}}
            </div>
            <div class="ContactUs">
                <div class="ContactUsTitle">Contact</div>
                <div class="ContactUsMail">
                    <div class="ContactUsIcon"><i class="fas fa-envelope"></i></div>
                    alii.messaadi@gmail.com<br>
                    aloui.sghair@gmail.com
                </div>
                <div class="ContactUsPhone">
                    <div class="ContactUsIcon"><i class="fas fa-phone"></i></div>
                    +216 26 53 64 62<br>
                    +216 50 30 32 24
                </div>
                <div class="ContactUsPosition">
                    <div class="ContactUsIcon"><i class="fas fa-map-marked-alt"></i></div>
                    ISI,<br>
                    Mahdia
                </div>
            </div>
        </section>
    </body>
</html>

















<!--<html>
    <head>
        <meta charset="utf-8">
        <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="containerBox" >
            <div class="menuBox" id="menuBox">
                <div class="logoContainer">
                    <img src="../../assets/HealthCareLogo.png" style="width: 90%;">
                </div>
                <div class="menuIcon">
                    <div class="homeIcon">
                        <div class="textHomeIcon" id="textHomeIcon">{{'home' |translate}}</div>
                        <button class="IconButton" (click)="body='acceuilBody'">
                            <i class="fas fa-home fa-2x"></i>
                        </button>
                    </div><br><br><br>
                    <div class="aboutIcon">
                        <button class="IconButton" (click)="body='openAboutUsBody'">
                            <i class="fas fa-address-card fa-2x"></i>
                        </button>
                        <div class="textAboutIcon" id="textAboutIcon">{{'aboutUs'|translate}} </div>
                    </div>
                </div>
                <div class="arrowContainer">
                    <i class="fas fa-chevron-right fa-1x"></i>
                </div>
                <div class="settingIcon">
                    <button class="IconButton" (click)="FormName='Settings'">
                        <i class="fas fa-cog fa-2x"></i>
                    </button>
                    <div class="textSettingIcon" id="textSettingIcon">{{'setting'|translate}}</div>
                </div>
            </div>
            <div class="bodyBox" id="bodyBox">
                <div *ngIf="body=='acceuilBody'; then openAcceuilBody else openAboutUsBody"></div>
                <ng-template #openAcceuilBody><app-acceuil-body></app-acceuil-body></ng-template>
                <ng-template #openAboutUsBody><app-about-us-body></app-about-us-body></ng-template>
            </div>
            <div class="menuUnder1150">
                <ul class="nav justify-content-center" style="background-color: #202631;">
                    <li class="nav-item">
                      <a class="nav-link active" (click)="body='acceuilBody'">{{'home'|translate}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="body='openAboutUsBody'"> {{'aboutUs'|translate}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="FormName='Settings'">{{'setting'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="FormName=='Client'">
            <div class="popUpContainer">
             <div class="hr"></div>
             <div class="popUpContainerWithoutCancel">
                <app-sign-up-form style="display: none;"></app-sign-up-form>  
                <app-client-sign-up></app-client-sign-up>  
             </div>
             <div class="formName">
                <h3>{{'signUp'|translate}}</h3>
                <div class="formNameUnderTitle">
                    {{'as'|translate}} {{'client'|translate}}
                </div>
            </div>
             <div class="popUpContainerWithCancel">
                <button class="IconButton" (click)="FormName = false;"><i class="fas fa-times fa-2x"></i></button>
             </div>
           </div>
       </div>
       <div *ngIf="FormName=='Pharmacist'">
        <div class="popUpContainer">
         <div class="hr"></div>
         <div class="popUpContainerWithoutCancel">
            <app-sign-up-form style="display: none;"></app-sign-up-form>  
            <app-client-sign-up></app-client-sign-up>  
         </div>
         <div class="formName">
            <h3>{{'signUp'|translate}}</h3>
            <div class="formNameUnderTitle">
                {{'as'|translate}} {{'pharmacist'|translate}}
            </div>
        </div>
         <div class="popUpContainerWithCancel">
            <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
         </div>
       </div>
   </div>
   <div *ngIf="FormName=='Doctor'">
     <div class="popUpContainer">
         <div class="hr"></div>
         <div class="popUpContainerWithoutCancel">
             <app-sign-up-form style="display: none;"></app-sign-up-form>  
             <app-doctor-sign-up></app-doctor-sign-up>  
         </div>
         <div class="formName">
             <h3>{{'signUp'|translate}}</h3>
             {{'as'|translate}} {{'doctor'|translate}}
         </div>
         <div class="popUpContainerWithCancel">
             <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
         </div>
     </div>
   </div>
   <div *ngIf="FormName=='Settings'">
    <div class="popUpContainer">
        <div class="hr"></div>
        <div class="popUpContainerWithoutCancel">
            <div class="row" style=" position:relative;margin-top: 10%; left: 10%;">
                <strong>{{'changeLang' | translate}}</strong>
            </div>
            <div  style="position: absolute; margin-top: 4%; margin-left: 50%; transform: translateX(-50%);">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="englishLangRadio" name="btnradio" id="englishLang">
                    <label class="btn btn-outline-primary" id="englishLang" for="englishLang" (click)="changeLangTo('en')">Englais</label>
                    <input type="radio" class="frenchLangRadio" name="btnradio" id="frenchLang">
                    <label class="btn btn-outline-primary" id="frenchLang" for="frenchLang" (click)="changeLangTo('fr')">Français</label>
                    <input type="radio" class="arabeLangRadio" name="btnradio" id="arabeLang">
                    <label class="btn btn-outline-primary" id="arabeLang" for="arabeLang">Arabe</label>
                </div>
            </div>
        </div>
        <div class="formName">
            <h3>{{'settings' | translate}}</h3>
        </div>
        <div class="popUpContainerWithCancel">
            <button class="IconButton" (click)="FormName=false"><i class="fas fa-times fa-2x"></i></button>
        </div>
    </div>
  </div>
    </body>
</html>-->