@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');

html,body{
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    font-family: 'Raleway', sans-serif;
}
/*Maladies*/
.maladiesContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 25px;
    width: 70%;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #308a7b;
    font-size: 1.15rem;
    font-weight: 900;
}

/*about Us*/
.ContactUs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title title title"
    "mail phone position";
    background-color: #333333;
    padding: 3% 5%;
    color: white;
}
.ContactUs .ContactUsTitle{
    grid-area: title;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom:3%;
}
.ContactUs .ContactUsMail{
    position: relative;
    grid-area: mail;
    text-align: center;
    border-right: 1px solid white;
}
.ContactUs .ContactUsPhone{
    grid-area: phone;
    text-align: center;
    border-right: 1px solid white;
}
.ContactUs .ContactUsPosition{
    grid-area: position;
    text-align: center;
}
.ContactUsIcon{
    height: auto;
    width: auto;
    position: relative;
    padding-bottom: 5%;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}
.aboutUstitle{
    color: var(--text-color);
    font-size: 4vw;
    text-align: right;
    text-align: center;
    padding-top: 5%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    padding-bottom: 3%;
    transition: all .3s ease-in-out;
}
.aboutUsText{
    color: var(--text-color);
    position: relative;
    padding-left: 10%;
    width: 80%;
    font-size: 1rem;
    padding-bottom: 3%;
    transition: all .3s ease-in-out;
}


/*Section Connexion*/
.connexionContainer{
    position: relative;
    border-radius: 20px;
    background-color: var(--box-color);
    width: 70%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    overflow: hidden;
}
#connexionImg{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 40%;
}
.connexionForm{
    padding: 0% 5%;
    position: absolute;
    height: auto;
    width: 60%;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}




/*section Doctor*/
.searchText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.sectionTitle{
    color: var(--Black-text);
    transition: all .3s ease-in-out;
    font-size: 5vw;
    text-align: right;
    margin-right: 10%;
    padding-top: 5%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    padding-bottom: 5%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    grid-template-areas: 
    "gridFirstBox gridSecondBox"
    "gridThirdBox gridFourthBox";
}
.grid .gridFirstBox{
    margin-bottom: 50px;
    max-width: 80%;
    justify-self: center;
    grid-area:gridFirstBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridSecondBox{
    margin-bottom: 50px;
    max-width: 80%;
    justify-self: center;
    grid-area: gridSecondBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridThirdBox{
    margin-bottom: 0px;
    max-width: 80%;
    justify-self: center;
    grid-area: gridThirdBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.grid .gridFourthBox{
    max-width: 80%;
    justify-self: center;
    grid-area: gridFourthBox;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    color: var(--Black-text);
    transition: all .3s ease-in-out;
}
.findingDoctor{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    background-color: var(--box-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
#findDoctorImg{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 40%;
}
.findingDoctorSearch{
    right: 0;
    position: absolute;
    height: auto;
    width: 60%;
    padding: 5% 5%;
    top: 50%;
    transform: translateY(-50%);
}
.gidBoxNumber{
    color: white;
    width: 60px;
    height: 60px;
    font-size: 32px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
    background-color: #308a7b;
}
.gidBoxTitle{
    font-size: 32px;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.gidBoxText{
    font-size: 16px;
    text-align: left;
    padding: 10%;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.form-control{
    height: 48px;
    border: 1px solid #308a7b;
    box-shadow: none;
}
.form-control:focus{
    border: 2px solid #308a7b;
}
.sectionContainer{
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding: 5% 0%;
}
.white{
    border: 1px solid white;
    color:white;
}
.white:hover{
    cursor: pointer;
    color:#308a7b;
    background-color: white;
}
#day1Lab:hover,#day2Lab:hover,#day3Lab:hover,#day4Lab:hover,#day5Lab:hover,#day6Lab:hover,#day7Lab:hover,#day8Lab:hover,#day9Lab:hover,#day10Lab:hover,#day11Lab:hover,#day12Lab:hover,#day13Lab:hover,#day14Lab:hover,#day15Lab:hover,#day16Lab:hover,#day17Lab:hover,#day18Lab:hover,#day19Lab:hover,#day20Lab:hover,#day21Lab:hover,#day22Lab:hover,#day23Lab:hover,#day24Lab:hover,#day25Lab:hover,#day26Lab:hover,#day27Lab:hover,#day28Lab:hover,#day29Lab:hover,#day30Lab:hover,#day31Lab:hover{
    cursor: pointer;
    background-color: white;
    color: #308a7b;
    transition: all .3s ease-in-out;
}
#day1:checked + #day1Lab,#day2:checked + #day2Lab,#day3:checked + #day3Lab,#day4:checked + #day4Lab,#day5:checked + #day5Lab,#day6:checked + #day6Lab,#day7:checked + #day7Lab,#day8:checked + #day8Lab,#day9:checked + #day9Lab,#day10:checked + #day10Lab,#day11:checked + #day11Lab,#day12:checked + #day12Lab,#day13:checked + #day13Lab,#day14:checked + #day14Lab,#day15:checked + #day15Lab,#day16:checked + #day16Lab,#day17:checked + #day17Lab,#day18:checked + #day18Lab,#day19:checked + #day19Lab,#day20:checked + #day20Lab,#day21:checked + #day21Lab,#day22:checked + #day22Lab,#day23:checked + #day23Lab,#day24:checked + #day24Lab,#day25:checked + #day25Lab,#day26:checked + #day26Lab,#day27:checked + #day27Lab,#day28:checked + #day28Lab,#day29:checked + #day29Lab,#day30:checked + #day30Lab,#day31:checked + #day31Lab{
    background-color: white;
    color: #308a7b;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
.doctorAppointmentContainer,.fillAllDay{
    color: white;
}


/*Responsive*/
@media screen and (max-width: 1000px){
    .maladiesContainer{
        font-size: 1rem;
    }
    .grid .gridFirstBox, .grid .gridSecondBox, .grid .gridThirdBox, .grid .gridFourthBox{
        max-width: 90%;
    }
    .findingDoctor, .connexionContainer{
        width: 85%;
    }
    .maladiesContainer{
        width: 75%;
    }
}
@media screen and (max-width: 900px){
    .maladiesContainer{
        grid-gap: 20px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "gridFirstBox"
        "gridSecondBox"
        "gridThirdBox"
        "gridFourthBox";
    }
    .grid .gridFirstBox, .grid .gridSecondBox, .grid .gridThirdBox, .grid .gridFourthBox{
        max-width: 60%;
    }
    .grid .gridThirdBox{
        margin-bottom: 50px;
    }
    .findingDoctor, .connexionContainer{
        width: 95%;
    }
    .maladiesContainer{
        width: 80%;
    }
    .ContactUs{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "title title"
        "mail phone"
        "position position";
    }
    .ContactUs .ContactUsTitle{
        font-size: 2rem;
    }
    .ContactUs .ContactUsPhone{
        border-right: none;
    }
    .ContactUs .ContactUsPosition{
        padding-top: 3%;
    }

}
@media screen and (max-width: 800px){
    .grid .gridFirstBox, .grid .gridSecondBox, .grid .gridThirdBox, .grid .gridFourthBox{
        max-width: 70%;
    }
    .findingDoctor, .connexionContainer{
        width: 98%;
    }
    .maladiesContainer{
        width: 85%;
    }

}
@media screen and (max-width: 700px){
    .maladiesContainer{
        font-size: 0.9rem;
    }
    .grid .gridFirstBox, .grid .gridSecondBox, .grid .gridThirdBox, .grid .gridFourthBox{
        max-width: 80%;
    }
    .findingDoctor, .connexionContainer{
        width: 90%;
    }
    .maladiesContainer{
        width: 90%;
    }
    #findDoctorImg, #connexionImg{
        width: 0%;
    }
    .findingDoctorSearch, .connexionForm{
        padding-bottom: 5%;
        position: relative;
        top: 0;
        transform: translateY(0%);
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .maladiesContainer{
        grid-template-columns: 1fr 1fr;
    }
    .ContactUs{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "title"
        "mail"
        "phone"
        "position";
    }
    .ContactUs .ContactUsTitle{
        font-size: 1.5rem;
    }
    .ContactUs .ContactUsMail{
        border-bottom: 1px solid white;
        border-right: none;
        padding-bottom: 3%;
    }
    .ContactUs .ContactUsPhone{
        padding-top: 3%;
        border-bottom: 1px solid white;
        padding-bottom: 3%;
    }
}


/* Slider*/
#slider{
    overflow: hidden;
}
#slider figure{
    top: 0%;
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.loading{
    margin-top: 20px;
    position: relative;
    width: fit-content;
}
.searchedDocContainer{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    padding: 25px;
}
.confirmButtons{
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
    justify-content: space-between;
    width: 55%;
    color: white;
}
.confirmButtons .green{
    background-color: #308a7b;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .red{
    background-color: red;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 1.55rem;
}
.confirmButtons .green:hover{
    border: 2px solid #308a7b;
}
.confirmButtons .red:hover{
    border: 2px solid red;
}
.confirmText{
    margin-top: 3%;
    text-align: center;
    font-size: 1.2rem;
}
.confirmNote{
    margin-top: 3%;
    margin-left: 3%;
    width: 75%;
}
.fa-trash-alt,.fa-check{
    margin: 5px 5px;
}
.takeAppointmentContainer{
    position: relative;
    width: 90%;
    margin-left: 5%;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.paddingAppInfoContainer{
    padding: 20px;
}
.backToAllAppArrow{
    position: absolute;
    margin-right: 0px;
    margin-top: 0px;
}
.yourTurn{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-left: 10px;
    color: #308a7b;
    border-radius: 5px;
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.patientTurn{
    display: inline-block;
    background-color: #308a7b;
    padding: 0px 10px;
    color: white;
    border-radius: 5px;
    margin: 5px 0px;
}
.doctorAppointmentContainer .center .emptyBtn{
    width: 80%;
}
.white:hover{
    cursor: pointer;
    color:#308a7b;
    background-color: white;
}
.paddinfTop{
    padding-top: 50px;
}
.loadingClass{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.loadingClass .loading{
    margin-top: 0px;
}