html,body{
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
}
.doctorContainer{
    position: relative;
    margin-top: 20px;
    left: 20%;
    width: 80%;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.sectionContainer{
    position: relative;
    margin: 20px 30px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    padding: 20px;
}
.newSectionContainer{
    position: relative;
    margin: 20px 30px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    overflow: hidden;
    padding-bottom: 15px;
}
.sectionContainerTopGreen{
    height: 150px;
    width: 100%;
    position: absolute;
    background-color: #308a7b;
    left: 0px;
    top: 0px;
}
.doctorName{
    color: #242f3d;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.doctorName span{
    text-transform: uppercase;
}
.formInput{
    text-align: center;
}
.formDiv{
    margin-bottom: 5px;
}
.fullyBtn{
    width: 30%;
}
.emptyBtn{
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.notApproved{
    padding: 2px 15px;
    position: fixed;
    color: white;
    font-size: 1.1rem;
    background-color: #ff9100;
    top: 50px;
    left: 20%;
    width: 80%;
    text-align: center;
}
.disapprovedByAdmin{
    padding: 2px 15px;
    position: fixed;
    color: white;
    font-size: 1.1rem;
    background-color: #ff0000;
    top: 50px;
    left: 20%;
    width: 80%;
    text-align: center;
}
.notApproved .center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.white{
    color: white;
    border: 1px solid white;
    left: 0%;
    transform: translateX(0%);
    margin: 2%;
}
.white:hover{
    background-color: white;
    color: #ff9100;
    left: 0%;
    transform: translateX(0%);
    margin: 2%;
}
.proveContainer .info{
    text-transform: none;
}
.photoUploaded{
    position: relative;
    padding: 5% 5%;
    top: 50%;
    transform: translateY(-50%);
}
.fa-check-circle{
    position: relative;
    padding: 5px;
    font-size: 40px;
    color: #308a7b;
}
.editPic{
    z-index: 1;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: 0.3s;
}
.centerChangeText{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.uploadImgBtn{
    left: 0%;
    z-index: 2;
}
.uploadImgBtn:hover + .editPic{
    opacity: 1;
}
.pending{
    padding: 5% 5%;
    text-align: center;
}
.thanksForTrust{
    font-weight: 200;
    font-size: 15px;
    padding: 2% 0px;
}
.weekDays{
    padding: 5% 0px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.weekDays .day{
    border: 1px solid #308a7b;
    padding: 5px 10px;
    color: #308a7b;
}
.weekDays .day:hover{
    border: 1px solid var(--headerText);
    color: var(--headerText);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#Mon:checked ~ #MonLab, #Tue:checked ~ #TueLab, #Wed:checked ~ #WedLab, #Thu:checked ~ #ThuLab, #Fri:checked ~ #FriLab, #Sat:checked ~ #SatLab, #Sun:checked ~ #SunLab{
    background-color: #308a7b;
    color: #308a7b;
    color: white;
}
#Mon, #Tue, #Wed, #Thu, #Fri, #Sat, #Sun{
    display: none;
}
#MonLab{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#SunLab{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.infoGrid{
    width: 100%;
}
.infoGrid .infoContainer{
    background-color: none;
    background: transparent;
    box-shadow: none;
}
.infoGrid .infoContainer .userInfoContainer{
    display: block;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    cursor: default;
}
.infoGrid .infoContainer .userInfoContainerValue{
    font-size: 25px;
    padding: 10px 0px;
}
.iconButton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: #308a7b;
    border-radius: 50%;
    border: none;
    margin-left: 90%;
    margin-top: -150px;
    color: white;
    box-shadow: 0px 0px 5px #308a7b;
}
.infoGrid .infoContainer:hover{
    transform: scale(1);
}
.infoGridTowColumn{
    grid-template-rows: auto auto;
}
.infoGridTowColumn .infoContainer{
    height: 100%;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
}
.infoGridTowColumn .backgroundColor{
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
}
.info span{
    display: inline-block;
}
.width90{
    width:80%;
    left: 10%;
}
.workDays{
    padding-left: 10%;
    text-align: left;
}
.sectionContainer .centerBtn{
    left: 0%;
    transform: translateX(0%);
}
.dayContainer{
    background-color: #308a7b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}
.verticalCenter{
    position: absolute;
    height: 88%;
    width: 100%;
    left: 0%;
    bottom: 0%;
}
.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.specialtyInput{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 10px;
}
.patientProfilePicContainer{
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #308a7b;
    margin: 0px 20px;
}
.patientSmallInfo{
    width: 60%;
    float: left;
    padding: 20px 0px;
    font-weight: 500;
    text-align: center;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.patientSmallInfo .info{
    display: inline-block;
    color: white;
    background-color: #308a7b;
    margin: 3px;
    border-radius: 5px;
    padding: 1px 5px;
}
.patientInfoGridTowColumn{
    padding: 0px;
}
.patientNumber{
    font-weight: 600;
    color: var(--gray-text);
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
}
.patientUserTie{
    font-size: 90px;
    bottom: 0px;
}
.patientSmallInfoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    width: 92%;
    margin-left: 4%;
}
.patientSmallInfoGrid .patient{
    margin: 10px;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: var(--box-color2);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.patientSmallInfoGrid .patient:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.todayPatientCon{
    position: relative;
}
.patientNavigationRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    font-size: 3rem;
    color: var(--arrowNavigation);
    transition: all .3s ease-in-out;
}
.patientNavigationLeft{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    font-size: 3rem;
    color: var(--arrowNavigation);
    transition: all .3s ease-in-out;
}
.patientNavigationRight:hover, .patientNavigationLeft:hover{
    color: var(--arrowNavigationHover);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.patientProfilePicBigContainer{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #308a7b;
    margin: 20px 5px;
}
.patientBigUserTie{
    font-size: 140px;
    bottom: 0px;
}
.horizentalCenter{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.patientInfoContainer{
    display: inline-block;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}
.patientInfoContainer .info{
    display: inline-block;
    color: white;
    background-color: #308a7b;
    margin: 5px;
    border-radius: 5px;
    padding: 1px 5px;
}
.patientMedicalProfile{
    margin-left: 5%;
    width: 90%;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .3s ease-in-out;
}
.patientMedicalProfile .tilte{
    background-color: #308a7b;
    text-align: center;
    color: white;
    font-weight: 600;
}
.patientMedicalProfile .medicalProfileinfo{
    padding: 10px;
}
.diseasesContainer{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    box-shadow: var(--infoBox);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.diseasesContainer .title{
    background-color: #308a7b;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.diseasesContainer .content{
    text-align: center;
}
.newPadding{
    padding: 5px;
}
.patientTurnIndex{
    color: white;
    position: relative;
    top: 0px;
    right: 0px;
    background-color: #308a7b;
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.infoTitle{
    padding: 2px 5px;
}
.specialityCon{
    background-color: #308a7b;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1rem;
    margin: 5px 10px;
}
.formDiv .mesure{
    color: white;
}
.editUserName{
    margin: 30px;
}
.currentPatientProfileCon{
    position: relative;
    height: 180px;
    width: 180px;
    border: 3px solid #308a7b;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.currentPatientProfileDefaultPic{
    position: absolute;
    font-size: 165px;
    margin-bottom: 0px;
}
.currentPatientProfilePic{
    position: absolute;
    height: 100%;
}
.currentPatientInfo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}
.nextPatient{
    position: relative;
    width: 40%;
    transition: .3s ease-in-out;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.nextPatient:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.imgContainer{
    display: inline-block;
    position: relative;
    left: 10%;
    margin: 2% 0%;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow:hidden;
}
.verified{
    font-size: 17px;
    width: 30px;
    height: 30px;
    padding: 1px 5px;
    border-radius: 50%;
    background-color: #308a7b;
    position: absolute;
    top: 180px;
    left: 250px;
    color: white;
    border: 2px solid var(--background-color);
}
.doctorGeneralInfo{
    display: inline-block;
    position: absolute;
    color: #eceff3;
    margin-top: 50px;
    margin-left: 150px;
}
.nextPatient .nextPatientProfileImgContainer{
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--background-color);
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #308a7b;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.nextPatient .nextPatientProfileDefaultPic{
    font-size: 43px;
    margin-bottom: 0px;
}
.nextPatient .nextPatientInfoContainer{
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.patientProfileConDesign{
    position: absolute;
    height: 150px;
    width: 150px;
    margin-left: -90px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #308a7b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: .5s ease-in-out;
}
.nextPatient:hover .patientProfileConDesign{
    margin-left:-25px;
}
.nextPatientInfoContainerIcon{
    margin: 0px 5px;
}
.nextPatientInfoContainerNext, .nextPatientInfoContainerIcon, .nextPatientInfoContainerText{
    transition: .3s ease-in-out;
}
.nextPatient:hover .nextPatientInfoContainerNext {
    margin-left: -5px;
}
.nextPatient:hover .nextPatientInfoContainerIcon {
    transform: translateX(10px);
}
.nextPatient:hover .nextPatientInfoContainerText {
    margin-left: 15px;
}
.loadingCuurentPatientInfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
    top: 0px;
}
.left0{
    left: 0%;
    transform: translateX(0%);
}
.addToCurrentPatientClass{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    box-shadow: var(--infoBox);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.addToCurrentPatientClass .title{
    background-color: #308a7b;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
.addToCurrentPatientClass .content{
    text-align: center;
    padding: 5% 5%;
    background-color: var(--background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s ease-in-out;
}
.addToCurrentPatientClass .content .formLabel{
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
}
.hr{
    background-color: var(--text-color);
    transition: all .3s ease-in-out;
}
.spanButton{
    cursor: pointer;
    border: 1px solid #308a7b;
    z-index: 2;
    background: var(--background-color);
    color: #308a7b;
    transition: .3s ease-in-out;

}
.spanButton:hover{
    background-color: #308a7b;
    color: white;
}
.medicamentNameClass{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 3px;
    background-color: #308a7b;
    padding: 2px 5px;
    margin: 5px 7px;
    color: white;
}
.cancelMed{
    z-index: 10;
    padding-left: 5px;
    transition: .3s ease-in-out;
}
.cancelMed:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.emptyCentred{
    width: 35%;
    left: 0%;
    transform: translateX(0%);
}
.treatment{
    border: 1px solid #308a7b;
    color: #308a7b;
    background: transparent;
    padding: 5px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.treatment:hover{
    background-color: #308a7b;
    color: white;
    cursor: pointer;
}
#treatmentDay,#treatmentWeek,#treatmentMonth{
    display: none;
}
.treatmentDay{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.treatmentMonth{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#treatmentDay:checked + .treatmentDay,#treatmentWeek:checked + .treatmentWeek,#treatmentMonth:checked + .treatmentMonth{
    background-color: #308a7b;
    color: white;
}
.prescriptionAdded{
    position: relative;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    justify-content: space-between;
    margin-top: 15px;
    transition: all .3s ease-in-out;
}
.addedPresBtns{
    width: fit-content;
}
.addedPresText{
    margin-top: auto;
    margin-bottom: auto;
}
.prescriptionAdded .emptyBtn{
    left: 0px;
    transform: translateX(0px);
    position: relative;
    width: fit-content;
    padding: 0px 5px;
    margin: 0px 15px;
}
.diseaseContainer{
    position: relative;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    border: 2px solid #308a7b;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.diseaseContainerDate{
    width: 100%;
    text-align: center;
    background-color: #308a7b;
    top: 0px;
}
.diseaseName{
    display: inline-block;
    margin: 10px 5px;
    width: fit-content;
    background-color: white;
    box-shadow: var(--infoBox);
    color: #308a7b;
    border-radius: 5px;
    padding-left: 5px;
    transition: all .3s ease-in-out;
}
.newDiseaseNameMargin{
    margin: 2px 5px;
}
.diseaseName .disease{
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 5px;
    margin-left: 5px;
    background-color: #308a7b;
    color: white;
}
.docProfileImgForMedicalProfileDis{
    position: relative;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    border: 2px solid #308a7b;
    border-radius: 50%;
    overflow: hidden;
}
.userTie75{
    font-size: 60px;
    bottom: 0px;
}
.diseaseDiagnose{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.showDoctorinfo{
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}
.showDoctorinfoCentred{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showDoctorinfo:hover {
    opacity: 1;
    cursor: pointer;
}
.newloadingCuurentPatientInfoRaduis{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.loadMoreDiagnoses{
    padding: 15px 5px;
}
.loadMoreDiagnoses:hover{
    cursor: pointer;
}
.loadMoreDiagnosesText, .loadMoreDiagnosesIcon{
    transition: .3s ease-in-out;
}
.loadMoreDiagnoses:hover .loadMoreDiagnosesText{
    transform: translateY(-5px);
}
.loadMoreDiagnoses:hover .loadMoreDiagnosesIcon{
    transform: translateY(5px);
}
.greenContainer{
    display: inline-block;
    background-color: #308a7b;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 3px 5px;
}
.diseaseDocName,.docDiseaseGeneralInfo{
    position: relative;
    float: left;
    margin-top: 47px;
    transform: translateY(-50%);
    margin-left: 15px;
}
.diseaseDocInfo{
    position: relative;
    display: inline-block;
    width: fit-content;
}
.greenLine{
    border-top: 1px solid #308a7b;
    width: 60%;
    margin-left: 20%;
    margin-top: 0px;
    margin-bottom: 10px;
}
.confirmFinishApp{
    padding: 13px 10px;
    width: 100%;
    text-align: center;
}
.defaultCursor:hover{
    cursor:default;
}
.userInfoContainers{
    cursor: grab;
    padding:0px 15px;
}
.userInfoContainer{
    flex: 0 0 auto;
    display: inline-block;
    background-color: var(--userInfoContainerBackground);
    padding: 15px 25px;
    margin: 10px;
    border-radius: 30px;
    width: fit-content;
    box-shadow: var(--userInfoContainerShadow);
}
.userInfoContainerTitle{
    text-transform: capitalize;
    position: relative;
    display: flex;
    margin-left: 10px;
    color: var(--userInfoContainerTitleColor);
}
.userInfoContainerTitleIcon{
    position: absolute;
}
.userInfoContainerTitleValue{
    margin-left: 45px;
    position: relative;
    top:20px;
    transform: translateY(-50%);
    font-weight: 600;
}
.userInfoContainerValue{
    padding: 5px 0px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--userInfoContainerValueColor);
    text-transform: capitalize;
}
.fa-birthday-cake,.fa-venus-mars,.userInfoContainer .fa-hospital-user,.userInfoContainer .fa-clock,.userInfoContainer .fa-hand-holding-usd,.userInfoContainer .fa-user-clock,.fa-map-marked-alt{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.fa-venus-mars{
    color: #fd7e14;
    background-color: #fd7e1428;
}
.userInfoContainer .fa-hospital-user{
    color: #308a7b;
    background-color: #308a7b28;
}
.userInfoContainer .fa-clock{
    color: #9983ea;
    background-color: #9983ea28;
}
.userInfoContainer .fa-hand-holding-usd{
    color: #fcb63e;
    background-color: #ffc15528;
}
.userInfoContainer .fa-user-clock,.fa-birthday-cake{
    color: #08a0f7;
    background-color: #08a0f728;
}
.fa-map-marked-alt{
    color: #fa676a;
    background-color: #fa676a28;
}
.userInfoContainerSecondValuePoint{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #838a99;
}
.userInfoContainerSecondValue{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #838a99;
    text-transform: capitalize;
}
.userInfoContainerSecondValueText{
    display: inline-block;
    margin-left: 10px;
}
.workDayLineTilte{
    padding: 15px 0px;
    text-transform: capitalize;
    position: relative;
    display: flex;
    font-weight: 700;
    margin-left: 18%;
    color: var(--userInfoContainerValueColor);
}
.workDayLineTilteValue{
    padding-left: 45px;
    margin-top: 18px;
    transform: translateY(-50%);
}
.fa-briefcase{
    position: absolute;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: #fd7e14;
    background-color: #fd7d1467;
}
.workDaysLine{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: fit-content;
    position: relative;
}
.workDaysLineFirstCircle{
    position: absolute;
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #308a7b;
}
.workDaysLineEndCircle{
    position: absolute;
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #308a7b;
    right: 30px;
}
.workDaysLine .workDaysLineFirst{
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    display: inline-block;
    border-top:2px dashed #308a7b;
    width: 50px;
}
.workDaysLine .workDaysLineBetween{
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    display: inline-block;
    border-top:2px solid #308a7b;
    width: 50px;
}
.workDaysLine .workDaysLineBetween div{
    color: var(--dayColor);
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.workDaysLine .workDaysLineFirst div{
    color: var(--dayColor);
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.workDaysLine .workDaysLineWorkCircle{
    margin-left: 50px;
    position: relative;
    display: inline-block;
    border: 5px solid #308a7b;
    background-color: #308a7b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.workDaysLine .workDaysLineDisabledWorkCircle{
    margin-left: 50px;
    position: relative;
    display: inline-block;
    border: 5px solid var(--disabledWorkCircle);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.myMap{
    position: relative;
    height: 60vh;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: var(--infoBox);
}
#map{
    height: 100%;
    width: 100%;
}
.noPosition{
    font-size: 20px;
    width: fit-content;
    margin: 15px auto;
}