html,body{
    width: 100%;
    height: auto;
}
.doctorContainer{
    position: relative;
    margin-top: 20px;
    left: 20%;
    width: 80%;
    overflow-x: hidden;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.sectionContainer{
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.doctorName{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.doctorName span{
    text-transform: uppercase;
}
.formInput{
    text-align: center;
}
.formDiv{
    margin-bottom: 5px;
}
.fullyBtn{
    width: 30%;
}
.emptyBtn{
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.notApproved{
    position: fixed;
    color: white;
    font-size: 1.1rem;
    background-color: #ff9100;
    top: 50px;
    left: 20%;
    width: 80%;
    text-align: center;
}
.disapprovedByAdmin{
    position: fixed;
    color: white;
    font-size: 1.1rem;
    background-color: #ff0000;
    top: 50px;
    left: 20%;
    width: 80%;
    text-align: center;
}
.notApproved .center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.white{
    color: white;
    border: 1px solid white;
    left: 0%;
    transform: translateX(0%);
    margin: 2%;
}
.white:hover{
    background-color: white;
    color: #ff9100;
    left: 0%;
    transform: translateX(0%);
    margin: 2%;
}
.proveContainer .info{
    text-transform: none;
}
.photoUploaded{
    position: relative;
    padding: 5% 5%;
    top: 50%;
    transform: translateY(-50%);
}
.fa-check-circle{
    position: relative;
    padding: 5px;
    font-size: 40px;
    color: #308a7b;
}
.editPic{
    z-index: 1;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: 0.3s;
}
.editPic .center{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.uploadImgBtn{
    left: 0%;
    z-index: 2;
}
.uploadImgBtn:hover + .editPic{
    opacity: 1;
}
.pending{
    padding: 5% 5%;
    text-align: center;
}
.thanksForTrust{
    font-weight: 200;
    font-size: 15px;
    padding: 2% 0px;
}
.weekDays{
    padding: 5% 0px;
}
.weekDays .day{
    border: 1px solid #308a7b;
    padding: 5px 10px;
    color: #308a7b;
}
.weekDays .day:hover{
    border: 1px solid var(--headerText);
    color: var(--headerText);
    cursor: pointer;
}
#Mon:checked ~ #MonLab, #Tue:checked ~ #TueLab, #Wed:checked ~ #WedLab, #Thu:checked ~ #ThuLab, #Fri:checked ~ #FriLab, #Sat:checked ~ #SatLab, #Sun:checked ~ #SunLab{
    background-color: #308a7b;
    color: #308a7b;
    color: white;
}
#Mon, #Tue, #Wed, #Thu, #Fri, #Sat, #Sun{
    display: none;
}
#MonLab{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#SunLab{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.infoGridTowColumn{
    grid-template-rows: auto auto;
}
.infoGridTowColumn .infoContainer{
    height: 100%;
    background-color: var(--box-color);
}
.infoGridTowColumn .backgroundColor{
    background-color: var(--background-color);
}
.info span{
    display: inline-block;
}
.width90{
    width:80%;
    left: 10%;
}
.workDays{
    padding-left: 10%;
    text-align: left;
}
.sectionContainer .centerBtn{
    left: 0%;
    transform: translateX(0%);
}
.dayContainer{
    background-color: #308a7b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}