@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
}
.patientContainer{
    position: absolute;
    top: 50px;
    left: 20%;
    width: 80%;
    overflow-x: hidden;
    background-color: var(--background-color);
    padding: 20px 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.sectionContainer{
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.emptyBtn{
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.fullyBtn{
    width: 30%;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.patientName{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.patientName span{
    text-transform: uppercase;
}
.infoGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 90%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGrid .infoContainer , .infoGridTowColumn .infoContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    border: none;
    box-shadow: var(--infoBox);
}
.infoGrid .infoContainer:hover, .infoGridTowColumn .infoContainer:hover{
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.02);
}

.infoGrid .infoContainer .infoIcon, .infoGridTowColumn .infoContainer .infoIcon{
    position: relative;
    font-size: 23px;
    padding: 5px;
}
.infoGrid .infoContainer .infoTitle,.infoGridTowColumn .infoContainer .infoTitle{
    font-size: 20px;
    font-weight: 300;
    background-color: #308a7b;
    margin-top: 10px;
}
.infoGrid .infoContainer .info, .infoGridTowColumn .infoContainer .info{
    text-transform: capitalize;
    padding: 5px;
    text-align: center;
}
.labelInvalidInfo{
    border: 1px solid red;
}
.labelInvalidInfo:focus{
    border: 2px solid red;
}
.labelInvalidInfo + .formLabel{
    color: red;
}
.formInput{
    text-align: center;
}
.formDiv{
    margin-bottom: 5px;
}
.infoEdit{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 100%;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#maleLabel,#femaleLabel{
    padding: 12px 0px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border: 1px solid #308a7b;
    color: #308a7b;
}
#male:checked ~ #maleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#female:checked ~ #femaleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#maleLabel{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#femaleLabel{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#male, #female{
    display: none;
}
#maleLabel:hover,#femaleLabel:hover{
    color: white;
    background-color: var(--maleFemaleCheckBoxBackgroundColor);
}
.btn-group{
    height: 56px;
}
.noData{
    margin: 20px;
    text-align: center;
}
.noData .setInfo,.textLien{
    text-decoration: underline;
}
.noData .setInfo:hover,.textLien:hover{
    cursor: pointer;
}
.fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.formDiv .mesure{
    position: absolute;
    right: 0%;
    padding: 12px;
    height: 48px;
    background-color: #308a7b;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-transform: capitalize;
}
.textLeft{
    text-align: left;
}
.infoGridTowColumn{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    width: 90%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.formInput{
    font-family: Arial, Helvetica, sans-serif;
}
.diseasesContainer{
    margin-top: 5%;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    box-shadow: var(--infoBox);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.diseasesContainer .title{
    background-color: #308a7b;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.diseasesContainer .content{
    text-align: center;
    padding: 5% 5%;
}
.imgContainer{
    position: relative;
    left: 50%;
    margin: 2% 0%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 5px solid #308a7b;
    border-radius: 50%;
    overflow:hidden;
}
.fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    color: #308a7b;
    font-size: 180px;
}
.editImage{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}
.editImage .center{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.imgContainer:hover .editImage,.imgContainer:hover .editImage .center{
    opacity: 1;
}
.uploadImgBtn{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.uploadImgBtn:hover{
    cursor: pointer;
}
.centerBtn{
    position: relative;
    margin: 2% 0%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}
.profileImg{
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    bottom: 0px;
}