<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="noSecretaryContainer">

        <div class="addSecretaryContainer" [class.addSecretaryContainerCenter]="mySecretaries.length != 0" [class.bigAddSecCon]="searchedSecretary">

            <div *ngIf="newSecretary == 'container'">
                <div *ngIf="mySecretaries.length == 0" class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div *ngIf="mySecretaries.length == 0" style="margin: 10px;">
                    {{'youHaveNotAnySerc'|translate}}
                </div>
                <div *ngIf="mySecretaries.length != 0" style="margin: 10px;">
                    {{'youHave'|translate}} {{mySecretaries.length}}
                    <span *ngIf="mySecretaries.length == 1">
                        {{'secretary'|translate}}
                    </span>
                    <span *ngIf="mySecretaries.length != 1">
                        {{'secretaries'|translate}}
                    </span>
                </div>
                <div style="margin: 10px;">
                    <button class="emptyBtn" (click)="newSecretary = 'addSecretary'">
                        {{'addSecretary'|translate}}
                    </button>
                </div>
                <div style="margin: 10px; text-align: left;" class="textLien" (click)="newSecretary = 'createAccount'">
                    {{'createSecretaryAccount'|translate}} ?
                </div>
            </div>

            <div *ngIf="newSecretary == 'addSecretary'">

                <div *ngIf="!searchedSecretary">
                    <div class="returnArrow" (click)="newSecretary = 'container'">
                        <i class="fas fa-arrow-left"></i>
                    </div>
    
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
    
                    <div *ngIf="invalidEmailInformation != '' && invalidEmailInformation != 'false'" class="invalidOption">
                        {{invalidEmailInformation}}
                    </div>
    
                    <div class="formDiv" *ngIf="showSecurityCode != true">
                        <input type="text"
                            [class.labelInvalidInfo]="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                            name="email" [(ngModel)]="email" (keyup)="invalidEmailInformation=''" class="formInput"
                            placeholder=" ">
                        <label for="" class="formLabel">
                            {{'email'|translate}}
                        </label>
                    </div>
    
                    <div *ngIf="showSecurityCode == true">
                        <i class="fas fa-lock"></i> {{'secretaryFoundEnter'|translate}}
                        <div class="inputVerificationCode" [class.invalidVerificationCode]="isVerificationCode==false">
                            <input type="text" name="field1Code" [(ngModel)]="field1Code" maxlength="1"
                                class="verficationCodeNumber" #1 (keyup)="field1Keyup();isVerificationCode=null">
                            <input type="text" name="field2Code" [(ngModel)]="field2Code" maxlength="1"
                                class="verficationCodeNumber" #2 (keyup)="field2Keyup();isVerificationCode=null">
                            <input type="text" name="field3Code" [(ngModel)]="field3Code" maxlength="1"
                                class="verficationCodeNumber" #3 (keyup)="field3Keyup();isVerificationCode=null">
                            <input type="text" name="field4Code" [(ngModel)]="field4Code" maxlength="1"
                                class="verficationCodeNumber" #4 (keyup)="field4Keyup();isVerificationCode=null">
                        </div>
                        <div *ngIf="isVerificationCode==false" class="invalidText">
                            {{'verificationCodeNotValid'|translate}}
                        </div>
                    </div>
                </div>

                <div *ngIf="searchedSecretary" class="searchedSecretary">
                    <div class="returnArrow" (click)="searchedSecretary = null">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="serachedSecretaryProfilePic">
                        <img *ngIf="searchedSecretary.profilePic"
                            [style.background-image]="'url(' + searchedSecretary.profilePic + ')'"
                            class="profileImg">
                        <i *ngIf="searchedSecretary.profilePic == false" class="fas fa-user-tie"
                            style="font-size: 90px;"></i>
                    </div>
                    <div class="name">
                        {{searchedSecretary.secretaryFirstName}}
                        {{searchedSecretary.secretaryLastName}}
                    </div>
                    <div class="rate" *ngIf="searchedSecretary.secretaryRate != 0">
                        <div *ngIf="searchedSecretary.secretaryRate == 0.5">
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 1">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 1.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 2.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 3.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 4.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div *ngIf="searchedSecretary.secretaryRate == 5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="rate" *ngIf="searchedSecretary.secretaryRate == 0">
                        {{'notRated'|translate}}
                    </div>
                    <div class="infos">
                        <div class="info">
                            <div class="icon" style="margin-right: 5px;padding: 2px 5px; padding-left: 6px; margin-right: 5px;
                            margin-top: 0px; margin-bottom: 0px; font-size: 15px;">
                                <i class="fas fa-venus-mars"></i>
                            </div>
                            {{searchedSecretary.secretaryGender|translate}}
                        </div>
                        <div class="info">
                            <div class="icon" style="margin-right: 5px;padding: 2px 5px; padding-left: 6px; margin-right: 5px;
                            margin-top: 0px; margin-bottom: 0px; font-size: 15px;">
                                <i class="fas fa-birthday-cake"></i>
                            </div>
                            {{searchedSecretary.secretaryBirthDay}}
                        </div>
                    </div>
                    <div class="work">
                        <div class="workText">
                            {{'work'|translate}}
                        </div>
                        <div *ngFor="let work of searchedSecretary.secretaryWork">
                            <div class="workDoctorImgProfile">
                                <img *ngIf="work.doctorImg" [style.background-image]="'url(' + work.doctorImg + ')'"
                                    class="profileImg">
                                <i *ngIf="work.doctorImg == false" class="fas fa-user-tie" style="font-size: 70px;"></i>
                            </div>
                            <div class="doctorName">
                                {{work.doctorName}}
                            </div>
                            <div class="workTimeLine">
                                <div class="startTimeCircle">
                                    <span>
                                        {{work.startTime | slice:0:10}}
                                    </span>
                                </div>
                                <div class="timeLine"></div>
                                <div class="endTimeCircle" [class.untilNowCircle]="!work.endTime">
                                    <span *ngIf="work.endTime">
                                        {{work.endTime | slice:0:10}}
                                    </span>
                                    <span *ngIf="!work.endTime">
                                        {{'untilNow'|translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin: 10px;">
                    <button class="emptyBtn addBtn" [class.emptyBtnLoading]="loading == true"
                        (click)="checkEmail(false)">
                        <span *ngIf="loading == false && showSecurityCode == false">
                            {{'find'|translate}}
                        </span>
                        <span *ngIf="loading == false && showSecurityCode == true && !searchedSecretary">
                            {{'verify'|translate}}
                        </span>
                        <span *ngIf="searchedSecretary && showSecurityCode == true">
                            {{'addSecretary'|translate}}
                        </span>
                        <span *ngIf="loading == true">
                            <div class="loading">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </span>
                    </button>
                </div>
            </div>

            <div *ngIf="newSecretary == 'secretaryAdded'">
                <div style="margin: 10px;">
                    {{'secretaryAdded'|translate}}
                </div>
                <button class="emptyBtn" (click)="newSecretary = 'container'; searchedSecretary=null" style="margin: 10px;">
                    {{'okay'|translate}}
                </button>
            </div>

            <div class="createSecretaryAccount" *ngIf="newSecretary == 'createAccount'">

                <div class="returnArrow" (click)="newSecretary = 'container'">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>

                <div class="enterSecretaryInfo">
                    {{'enterSecretaryInfo'|translate}}
                </div>

                <div class="form">

                    <div class="formField">
                        <div *ngIf="invalidFirstNameInformation != '' && invalidFirstNameInformation != 'false'"
                            class="invalidOption">
                            {{invalidFirstNameInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidFirstNameInformation != '' && invalidFirstNameInformation != 'false'"
                                name="firstName" [(ngModel)]="firstName" (keyup)="invalidFirstNameInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'firstName'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidLastNameInformation != '' && invalidLastNameInformation != 'false'"
                            class="invalidOption">
                            {{invalidLastNameInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidLastNameInformation != '' && invalidLastNameInformation != 'false'"
                                name="lastName" [(ngModel)]="lastName" (keyup)="invalidLastNameInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'firstName'|translate}}
                            </label>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                            class="invalidOption">
                            {{invalidEmailInformation}}
                        </div>
                        <div class="formDiv fullWidth">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                                name="email" [(ngModel)]="email" (keyup)="invalidEmailInformation=''" class="formInput"
                                placeholder=" ">
                            <label for="" class="formLabel">
                                {{'email'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidDayInformation != '' && invalidDayInformation != 'false'"
                            class="invalidOption">
                            {{invalidDayInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidDayInformation != '' && invalidDayInformation != 'false'"
                                name="day" [(ngModel)]="day" (keyup)="invalidDayInformation=''" class="formInput"
                                placeholder=" " maxlength="2" list="days">
                            <label for="" class="formLabel">
                                {{'day'|translate}}
                            </label>
                            <datalist id="days">
                                <option *ngFor="let day of days" value="{{day}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidMonthInformation != '' && invalidMonthInformation != 'false'"
                            class="invalidOption">
                            {{invalidMonthInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidMonthInformation != '' && invalidMonthInformation != 'false'"
                                name="month" [(ngModel)]="month" (keyup)="invalidMonthInformation=''" class="formInput"
                                placeholder=" " maxlength="2" list="months">
                            <label for="" class="formLabel">
                                {{'month'|translate}}
                            </label>
                            <datalist id="months">
                                <option *ngFor="let month of months" value="{{month}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidYearInformation != '' && invalidYearInformation != 'false'"
                            class="invalidOption">
                            {{invalidYearInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidYearInformation != '' && invalidYearInformation != 'false'"
                                name="year" [(ngModel)]="year" (keyup)="invalidYearInformation=''" class="formInput"
                                placeholder=" " list="years">
                            <label for="" class="formLabel" maxlength="4">
                                {{'year'|translate}}
                            </label>
                            <datalist id="years">
                                <option *ngFor="let year of years" value="{{year}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidCityInformation != '' && invalidCityInformation != 'false'"
                            class="invalidOption">
                            {{invalidCityInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidCityInformation != '' && invalidCityInformation != 'false'"
                                name="city" [(ngModel)]="city" (keyup)="invalidCityInformation=''" class="formInput"
                                placeholder=" " list="cities">
                            <label for="" class="formLabel">
                                {{'city'|translate}}
                            </label>
                            <datalist id="cities">
                                <option *ngFor="let city of cities" value="{{city}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="formField">
                        <div class="radioBtns">
                            <div *ngIf="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="invalidOption">
                                {{invalidGenderInformation}}
                            </div>
                            <input type="radio" class="maleRadio"
                                (change)="checkBoxInvaledInfoVriable=false;maleCheckBox=true;femaleCheckBox=false"
                                [checked]="maleCheckBox" name="btnradio" id="male">
                            <input type="radio" class="femaleRadio"
                                (change)="checkBoxInvaledInfoVriable=false;femaleCheckBox=true;maleCheckBox=false"
                                [checked]="femaleCheckBox" name="btnradio" id="female">
                            <label
                                [class.checkBoxInvaledInfo]="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="btn btn-outline-primary" id="maleLabel" for="male">
                                <div>
                                    {{'male'|translate}}
                                </div>
                            </label>
                            <label
                                [class.checkBoxInvaledInfo]="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="btn btn-outline-primary" id="femaleLabel" for="female">
                                <div>
                                    {{'female'|translate}}
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidPasswordInformation != '' && invalidPasswordInformation != 'false'"
                            class="invalidOption">
                            {{invalidPasswordInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="password"
                                [class.labelInvalidInfo]="invalidPasswordInformation != '' && invalidPasswordInformation != 'false'"
                                name="password" [(ngModel)]="password" (keyup)="invalidPasswordInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'password'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidPasswordRepeatInformation != '' && invalidPasswordRepeatInformation != 'false'"
                            class="invalidOption">
                            {{invalidPasswordRepeatInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="password"
                                [class.labelInvalidInfo]="invalidPasswordRepeatInformation != '' && invalidPasswordRepeatInformation != 'false'"
                                name="passwordRepeat" [(ngModel)]="passwordRepeat"
                                (keyup)="invalidPasswordRepeatInformation=''" class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'repeatPassword'|translate}}
                            </label>
                        </div>
                    </div>
                </div>

                <button class="emptyBtn addBtn" [class.emptyBtnLoading]="loading == true"
                    (click)="checkSecretaryForm()">
                    <span *ngIf="loading == false">
                        {{'create'|translate}}
                    </span>
                    <span *ngIf="loading == true">
                        <div class="loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                </button>
            </div>

            <div *ngIf="newSecretary=='accountCreated'">
                <div>
                    {{'accountCreatedAskSec'|translate}}
                </div>
                <button class="emptyBtn" (click)="newSecretary = 'container'" style="margin-top: 15px;">
                    {{'goBack'|translate}}
                </button>
            </div>

            <div *ngIf="loadingSecretaries == true" class="blackBackground">
                <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div *ngIf="selectedSecretaryKey == -1">
            <div *ngFor="let secretary of mySecretaries;let s = index" class="secretary" (click)="getSecretaryWork(s)">
                <div class="secretaryProfilePic">
                    <img *ngIf="secretary.profilePic" [style.background-image]="'url(' + secretary.profilePic + ')'"
                        class="profileImg">
                    <i *ngIf="secretary.profilePic == false" class="fas fa-user-tie" style="font-size: 90px;"></i>
                </div>
                <div class="secretaryInfo">
                    <div class="name">
                        {{secretary.secretaryFirstName}} {{secretary.secretaryLastName}}
                    </div>
                    <div class="rate" *ngIf="secretary.secretaryRate != 0">
                        <div *ngIf="secretary.secretaryRate == 0.5">
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 1">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 1.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 2.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 3.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 4.5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div *ngIf="secretary.secretaryRate == 5">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="rate" *ngIf="secretary.secretaryRate == 0">
                        {{'notRated'|translate}}
                    </div>
                    <div class="info">
                        <div class="icon">
                            <i class="fas fa-venus-mars"></i>
                        </div>
                        {{secretary.secretaryGender|translate}}
                    </div>
                    <div class="info">
                        <div class="icon">
                            <i class="fas fa-birthday-cake"></i>
                        </div>
                        {{secretary.secretaryBirthDay}}
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="selectedSecretaryKey != -1" class="selectedSecretary">
            <div class="returnArrow" (click)="selectedSecretaryKey = -1">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="secretaryProfilePic horizentalCenter">
                <img *ngIf="mySecretaries[selectedSecretaryKey].profilePic"
                    [style.background-image]="'url(' + mySecretaries[selectedSecretaryKey].profilePic + ')'"
                    class="profileImg">
                <i *ngIf="mySecretaries[selectedSecretaryKey].profilePic == false" class="fas fa-user-tie"
                    style="font-size: 90px;"></i>
            </div>
            <div class="name">
                {{mySecretaries[selectedSecretaryKey].secretaryFirstName}}
                {{mySecretaries[selectedSecretaryKey].secretaryLastName}}
            </div>
            <div class="rate" *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate != 0">
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 0.5">
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 1">
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 1.5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 2.5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 3.5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 4">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 4.5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="rate" *ngIf="mySecretaries[selectedSecretaryKey].secretaryRate == 0">
                {{'notRated'|translate}}
            </div>
            <div class="infos">
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-venus-mars"></i>
                    </div>
                    {{mySecretaries[selectedSecretaryKey].secretaryGender|translate}}
                </div>
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    {{mySecretaries[selectedSecretaryKey].secretaryBirthDay}}
                </div>
            </div>
            <div class="work">
                <div class="workText">
                    {{'work'|translate}}
                </div>
                <div *ngFor="let work of mySecretaries[selectedSecretaryKey].secretaryWork">
                    <div class="workDoctorImgProfile">
                        <img *ngIf="work.doctorImg" [style.background-image]="'url(' + work.doctorImg + ')'"
                            class="profileImg">
                        <i *ngIf="work.doctorImg == false" class="fas fa-user-tie" style="font-size: 70px;"></i>
                    </div>
                    <div class="doctorName">
                        {{work.doctorName}}
                    </div>
                    <div class="workTimeLine">
                        <div class="startTimeCircle">
                            <span>
                                {{work.startTime | slice:0:10}}
                            </span>
                        </div>
                        <div class="timeLine"></div>
                        <div class="endTimeCircle" [class.untilNowCircle]="!work.endTime">
                            <span *ngIf="work.endTime">
                                {{work.endTime | slice:0:10}}
                            </span>
                            <span *ngIf="!work.endTime">
                                {{'untilNow'|translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>