.addSecretaryContainer{
    position: absolute;
    background-color: var(--box-color);
    padding: 15px 30px;
    min-width: 50%;
    border-radius: 10px;
    width: fit-content;
    box-shadow: var(--box-shadow);
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.emptyBtn{
    width: fit-content;
    padding: 0px 30px;
}
.addSecretaryContainer .icon{
    margin: 10px auto;
    width: fit-content;
    font-size: 30px;
}
.noSecretaryContainer{
    width: 100%;
    height: 100vh;
}
.invalidOption{
    color: red;
    text-align: center;
    margin: 10px;
    font-size: 13px;
}
.addBtn{
    padding: 0px 20px;
    min-width: 170px;
    text-align: center;
    position: relative;
}
.addBtn .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.emptyBtnLoading{
    background-color: #308a7b;
    color: white;
    cursor: default;
}
.emptyBtnLoading span{
    background-color: white;
}
.returnArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    background-color: #308a7b;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}
.returnArrow .fa-arrow-left{
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.createSecretaryAccount .form .formField{
    position: relative;
    width: 49%;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    vertical-align: bottom;
}
.createSecretaryAccount .form .fullWidth{
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
}

.createSecretaryAccount .form .birthDay{
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: bottom;
}

.createSecretaryAccount .form .radioBtns{
    transform: translateY(-15px);
   width: fit-content;
    white-space: nowrap;
    margin: auto;
}

.createSecretaryAccount .form #femaleLabel,.createSecretaryAccount .form #maleLabel{
    padding: 0px 15px !important;
    height: 48px;
}

.createSecretaryAccount .form #femaleLabel div,.createSecretaryAccount .form #maleLabel div{
    margin-top: 24px;
    transform: translateY(-50%);
    width: fit-content;
}

.enterSecretaryInfo{
    color: var(--gray-text);
    transition: all .3s ease-in-out;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}