.addSecretaryContainer{
    position: absolute;
    background-color: var(--box-color);
    padding: 15px 30px;
    min-width: 50%;
    border-radius: 10px;
    width: fit-content;
    box-shadow: var(--box-shadow);
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--gray-text);
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.addSecretaryContainerCenter{
    position: relative;
    top: 60px;
    transform: translate(-50%,0%);
}
.emptyBtn{
    width: fit-content;
    padding: 0px 30px;
}
.addSecretaryContainer .icon{
    margin: 10px auto;
    width: fit-content;
    font-size: 30px;
}
.noSecretaryContainer{
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.invalidOption{
    color: red;
    text-align: center;
    margin: 10px;
    font-size: 13px;
}
.addBtn{
    padding: 0px 20px;
    min-width: 170px;
    text-align: center;
    position: relative;
}
.addBtn .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.emptyBtnLoading{
    background-color: #308a7b;
    color: white;
    cursor: default;
}
.emptyBtnLoading span{
    background-color: white;
}
.returnArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    background-color: #308a7b;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}
.returnArrow .fa-arrow-left{
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.createSecretaryAccount .form .formField{
    position: relative;
    width: 49%;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    vertical-align: bottom;
}
.createSecretaryAccount .form .fullWidth{
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
}

.createSecretaryAccount .form .birthDay{
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: bottom;
}

.createSecretaryAccount .form .radioBtns{
    transform: translateY(-15px);
   width: fit-content;
    white-space: nowrap;
    margin: auto;
}

.createSecretaryAccount .form #femaleLabel,.createSecretaryAccount .form #maleLabel{
    padding: 0px 15px !important;
    height: 48px;
}

.createSecretaryAccount .form #femaleLabel div,.createSecretaryAccount .form #maleLabel div{
    margin-top: 24px;
    transform: translateY(-50%);
    width: fit-content;
}

.enterSecretaryInfo{
    color: var(--gray-text);
    transition: all .3s ease-in-out;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.blackBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.secretary{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: fit-content;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 20px;
    margin-top: 80px;
    padding: 10px 40px;
    transition:all .3s ease-in-out;
    cursor: pointer;
}
.secretary:hover{
    transform: scale(1.02);
}
.serachedSecretaryProfilePic{
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px solid #308a7b;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50%;
    transform: translate(-50%);
}
.serachedSecretaryProfilePic .profileImg{
    margin-left: -50%;
}
.secretaryProfilePic{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px solid #308a7b;
    border-radius: 50%;
    overflow: hidden;
}
.secretaryInfo{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.secretaryInfo .name{
    font-size: 40px;
    text-transform: capitalize;
}
.secretaryInfo .rate{
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%);
}
.secretaryInfo .info,.selectedSecretary .infos .info,.searchedSecretary .infos .info{
    display: inline-block;
    vertical-align: top;
    background-color: #308a7b;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: var(--infoBox);
    overflow: hidden;
    color: white;
    padding-right: 5px;
    transition: all .3s ease-in-out;
}
.secretaryInfo .info .icon,.selectedSecretary .infos .info .icon,.searchedSecretary .infos .info .icon{
    display: inline-block;
    background-color: white;
    color: #308a7b;
    margin-right: 5px;
    padding: 2px 5px;
    padding-left: 6px;
    margin-right: 5px;
}
.selectedSecretary{
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    margin: 20px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.horizentalCenter{
    margin-left: 50%;
    transform: translateX(-50%);
}
.horizentalCenter .profileImg{
    margin-left: -52%;
}
.selectedSecretary .name,.searchedSecretary .name{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
}
.selectedSecretary .rate,.selectedSecretary .infos,.selectedSecretary .name,.selectedSecretary .work .workText,
.searchedSecretary .rate,.searchedSecretary .infos,.searchedSecretary .name,.searchedSecretary .work .workText{
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
.selectedSecretary .work .workText,.searchedSecretary .work .workText{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 5px;
    width: 80%;
    border-bottom: 1px solid var(--gray-text);
}
.selectedSecretary .workDoctorImgProfile,.searchedSecretary .workDoctorImgProfile{
    height: 80px;
    width: 80px;
    border: 2px solid #308a7b;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
}
.selectedSecretary .doctorName,.searchedSecretary .doctorName{
    text-align: center;
    font-weight: 500;
    margin: 10px;
    color: var(--text-color);
}
.selectedSecretary .workTimeLine,.searchedSecretary .workTimeLine{
    position: relative;
    height: 70px;
}
.selectedSecretary .startTimeCircle,.searchedSecretary .startTimeCircle{
    position: absolute;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
}
.selectedSecretary .startTimeCircle span,.searchedSecretary .startTimeCircle span{
    position: absolute;
    top: 20px;
    left: 30px;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.selectedSecretary .timeLine,.searchedSecretary .timeLine{
    position: absolute;
    border-top: 2px solid #308a7b;
    top: 14px;
    width: 100%;
}
.selectedSecretary .endTimeCircle,.searchedSecretary .endTimeCircle{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #308a7b;
    border-radius: 50%;
    right: 0px;
}
.selectedSecretary .endTimeCircle span,.searchedSecretary .endTimeCircle span{
    position: absolute;
    top: 20px;
    right: 30px;
    white-space: nowrap;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.untilNowCircle{
    background-color: var(--gray-text) !important;
    transition: all .3s ease-in-out;;
    height: 20px !important;
    width: 20px !important;
    top: 5px;
}
.bigAddSecCon{
    min-width: 70%;
}
.searchedSecretary .workDoctorImgProfile .profileImg{
    margin-left: -52%;
}
@media screen and (max-width: 1390px){
    .addSecretaryContainer{
        width: 70%;
    }
    .bigAddSecCon{
        width:80%;
    }
}
@media screen and (max-width: 1150px){
    .addSecretaryContainer{
        width: 80%;
    }
    .bigAddSecCon{
        width:90%;
    }
}
@media screen and (max-width: 1000px){
    .addSecretaryContainer{
        width: 70%;
    }
}
@media screen and (max-width: 900px){
    .addSecretaryContainer{
        width: 80%;
    }
    .bigAddSecCon{
        width:80%;
    }
}
@media screen and (max-width: 800px){
    .addSecretaryContainer{
        width: 90%;
    }
    .bigAddSecCon{
        width:90%;
    }
}
@media screen and (max-width: 660px){
    .addSecretaryContainer{
        width: 98%;
    }
    .bigAddSecCon{
        width:98%;
    }
}
@media screen and (max-width: 600px){
    .createSecretaryAccount .form .formField{
        width: 99%;
    }
    .secretaryProfilePic{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .secretary{
        display: block;
        width: 96%;
        margin-left: 2%;
    }
    .secretaryInfo{
        display: block;
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}