<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="noSecretaryContainer">

        <div class="addSecretaryContainer">

            <div *ngIf="newSecretary == 'container'">
                <div class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div style="margin: 10px;">
                    {{'youHaveNotAnySerc'|translate}}
                </div>
                <div style="margin: 10px;">
                    <button class="emptyBtn" (click)="newSecretary = 'addSecretary'">
                        {{'addSecretary'|translate}}
                    </button>
                </div>
                <div style="margin: 10px; text-align: left;" class="textLien" (click)="newSecretary = 'createAccount'">
                    {{'createSecretaryAccount'|translate}} ?
                </div>
            </div>

            <div *ngIf="newSecretary == 'addSecretary'">

                <div class="returnArrow" (click)="newSecretary = 'container'">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>

                <div *ngIf="invalidEmailInformation != '' && invalidEmailInformation != 'false'" class="invalidOption">
                    {{invalidEmailInformation}}
                </div>

                <div class="formDiv">
                    <input type="text"
                        [class.labelInvalidInfo]="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                        name="email" [(ngModel)]="email" (keyup)="invalidEmailInformation=''" class="formInput"
                        placeholder=" ">
                    <label for="" class="formLabel">
                        {{'email'|translate}}
                    </label>
                </div>

                <div style="margin: 10px;">
                    <button class="emptyBtn addBtn" [class.emptyBtnLoading]="loading == true"
                        (click)="checkEmail(false)">
                        <span *ngIf="loading == false">
                            {{'add'|translate}}
                        </span>
                        <span *ngIf="loading == true">
                            <div class="loading">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </span>
                    </button>
                </div>
            </div>

            <div class="createSecretaryAccount" *ngIf="newSecretary == 'createAccount'">

                <div class="returnArrow" (click)="newSecretary = 'container'">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>

                <div class="enterSecretaryInfo">
                    {{'enterSecretaryInfo'|translate}}
                </div>

                <div class="form">

                    <div class="formField">
                        <div *ngIf="invalidFirstNameInformation != '' && invalidFirstNameInformation != 'false'"
                            class="invalidOption">
                            {{invalidFirstNameInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidFirstNameInformation != '' && invalidFirstNameInformation != 'false'"
                                name="firstName" [(ngModel)]="firstName" (keyup)="invalidFirstNameInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'firstName'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidLastNameInformation != '' && invalidLastNameInformation != 'false'"
                            class="invalidOption">
                            {{invalidLastNameInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidLastNameInformation != '' && invalidLastNameInformation != 'false'"
                                name="lastName" [(ngModel)]="lastName" (keyup)="invalidLastNameInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'firstName'|translate}}
                            </label>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                            class="invalidOption">
                            {{invalidEmailInformation}}
                        </div>
                        <div class="formDiv fullWidth">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidEmailInformation != '' && invalidEmailInformation != 'false'"
                                name="email" [(ngModel)]="email" (keyup)="invalidEmailInformation=''" class="formInput"
                                placeholder=" ">
                            <label for="" class="formLabel">
                                {{'email'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidDayInformation != '' && invalidDayInformation != 'false'"
                            class="invalidOption">
                            {{invalidDayInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidDayInformation != '' && invalidDayInformation != 'false'"
                                name="day" [(ngModel)]="day" (keyup)="invalidDayInformation=''" class="formInput"
                                placeholder=" " maxlength="2" list="days">
                            <label for="" class="formLabel">
                                {{'day'|translate}}
                            </label>
                            <datalist id="days">
                                <option *ngFor="let day of days" value="{{day}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidMonthInformation != '' && invalidMonthInformation != 'false'"
                            class="invalidOption">
                            {{invalidMonthInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidMonthInformation != '' && invalidMonthInformation != 'false'"
                                name="month" [(ngModel)]="month" (keyup)="invalidMonthInformation=''" class="formInput"
                                placeholder=" " maxlength="2" list="months">
                            <label for="" class="formLabel">
                                {{'month'|translate}}
                            </label>
                            <datalist id="months">
                                <option *ngFor="let month of months" value="{{month}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="birthDay">
                        <div *ngIf="invalidYearInformation != '' && invalidYearInformation != 'false'"
                            class="invalidOption">
                            {{invalidYearInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidYearInformation != '' && invalidYearInformation != 'false'"
                                name="year" [(ngModel)]="year" (keyup)="invalidYearInformation=''" class="formInput"
                                placeholder=" " list="years">
                            <label for="" class="formLabel" maxlength="4">
                                {{'year'|translate}}
                            </label>
                            <datalist id="years">
                                <option *ngFor="let year of years" value="{{year}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidCityInformation != '' && invalidCityInformation != 'false'"
                            class="invalidOption">
                            {{invalidCityInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="text"
                                [class.labelInvalidInfo]="invalidCityInformation != '' && invalidCityInformation != 'false'"
                                name="city" [(ngModel)]="city" (keyup)="invalidCityInformation=''" class="formInput"
                                placeholder=" " list="cities">
                            <label for="" class="formLabel">
                                {{'city'|translate}}
                            </label>
                            <datalist id="cities">
                                <option *ngFor="let city of cities" value="{{city}}"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="formField">
                        <div class="radioBtns">
                            <div *ngIf="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="invalidOption">
                                {{invalidGenderInformation}}
                            </div>
                            <input type="radio" class="maleRadio"
                                (change)="checkBoxInvaledInfoVriable=false;maleCheckBox=true;femaleCheckBox=false"
                                [checked]="maleCheckBox" name="btnradio" id="male">
                            <input type="radio" class="femaleRadio"
                                (change)="checkBoxInvaledInfoVriable=false;femaleCheckBox=true;maleCheckBox=false"
                                [checked]="femaleCheckBox" name="btnradio" id="female">
                            <label
                                [class.checkBoxInvaledInfo]="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="btn btn-outline-primary" id="maleLabel" for="male">
                                <div>
                                    {{'male'|translate}}
                                </div>
                            </label>
                            <label
                                [class.checkBoxInvaledInfo]="invalidGenderInformation != '' && invalidGenderInformation != 'false'"
                                class="btn btn-outline-primary" id="femaleLabel" for="female">
                                <div>
                                    {{'female'|translate}}
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidPasswordInformation != '' && invalidPasswordInformation != 'false'"
                            class="invalidOption">
                            {{invalidPasswordInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="password"
                                [class.labelInvalidInfo]="invalidPasswordInformation != '' && invalidPasswordInformation != 'false'"
                                name="password" [(ngModel)]="password" (keyup)="invalidPasswordInformation=''"
                                class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'password'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <div *ngIf="invalidPasswordRepeatInformation != '' && invalidPasswordRepeatInformation != 'false'"
                            class="invalidOption">
                            {{invalidPasswordRepeatInformation}}
                        </div>
                        <div class="formDiv">
                            <input type="password"
                                [class.labelInvalidInfo]="invalidPasswordRepeatInformation != '' && invalidPasswordRepeatInformation != 'false'"
                                name="passwordRepeat" [(ngModel)]="passwordRepeat"
                                (keyup)="invalidPasswordRepeatInformation=''" class="formInput" placeholder=" ">
                            <label for="" class="formLabel">
                                {{'repeatPassword'|translate}}
                            </label>
                        </div>
                    </div>
                </div>

                <button class="emptyBtn addBtn" [class.emptyBtnLoading]="loading == true"
                    (click)="checkSecretaryForm()">
                    <span *ngIf="loading == false">
                        {{'create'|translate}}
                    </span>
                    <span *ngIf="loading == true">
                        <div class="loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </span>
                </button>
            </div>

            <div *ngIf="newSecretary=='accountCreated'">
                <div>
                    {{'accountCreatedAskSec'|translate}}
                </div>
                <button class="emptyBtn" (click)="newSecretary = 'container'" style="margin-top: 15px;">
                    {{'goBack'|translate}}
                </button>
            </div>
        </div>
    </div>

</body>

</html>