.clientSignUpContainer{
    position: absolute;
    height: 400px;
    width: 600px;
    
}
.clientSignUpContainerCenter{
    position: absolute;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
input{
    background-color: #F3F3F4;
    border-color: #616977;
    border-radius: 20px;
}
select{
    background-color: #F3F3F4;
    border-color: #616977;
    border-radius: 5px;
}
select:focus { 
    outline: none !important;
    border-color: #DB8993;
    box-shadow: 0 0 10px #D16572;
}
input:focus { 
    outline: none !important;
    border-color: #DB8993;
    box-shadow: 0 0 10px #D16572;
}
button:hover{
    background-color: #E8505B;
}
button{
    border-radius: 250px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
}