<html>
  <head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="gidContainerCenter">
      <div class="gridContainer">
        <div class="firstName">
          <input type="text" class="form-control" placeholder="{{'firstName'|translate}}" aria-label="First name">
        </div>
        <div class="lastName">
          <input type="text" class="form-control" placeholder="{{'lastName'|translate}}" aria-label="Last name">
        </div>
        <div class="phoneNumber">
          <input type="number" class="form-control" placeholder="{{'phoneNumber'|translate}}" aria-label="Phone Number">
        </div>
        <div class="password">
          <input type="password" class="form-control" placeholder="{{'password'|translate}}" aria-label="Password">
        </div>
        <div class="email">
          <input type="email" class="form-control" placeholder="{{'emailAddress'|translate}}" aria-label="Email">
        </div>
        <div class="day">
          <select class="form-control" aria-label="Day">
            <option selected style="text-align: center;">{{'day'|translate}} :</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="month">
          <select class="form-control" aria-label="Day">
            <option selected style="text-align: center;">{{'month'|translate}} :</option>
            <option value="1">{{'jan'|translate}}</option>
            <option value="2">{{'feb'|translate}}</option>
            <option value="3">{{'mar'|translate}}</option>
            <option value="1">{{'apr'|translate}}</option>
            <option value="2">{{'may'|translate}}</option>
            <option value="3">{{'jun'|translate}}</option>
            <option value="1">{{'jul'|translate}}</option>
            <option value="2">{{'aug'|translate}}</option>
            <option value="3">{{'sep'|translate}}</option>
            <option value="1">{{'oct'|translate}}</option>
            <option value="2">{{'nov'|translate}}</option>
            <option value="3">{{'dec'|translate}}</option>
          </select>
        </div>
        <div class="year">
          <select class="form-control" aria-label="Day">
            <option selected style="text-align: center;">{{'year'|translate}} :</option>
            <option value="1">1999</option>
            <option value="2">2000</option>
            <option value="3">2001</option>
          </select>
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-outline-danger btn-block" style="border-color: #D67480;">{{'submit'|translate}}</button>
        </div>
      </div>  
    </div>   
  </body>
</html>