.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.signInText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #4d4d4d;
}
.strike {
    margin: 15px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
small{
    color: red; margin: 5px;
    font-size: x-small;
  }
  