<form >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      <!--<small *ngIf="!checkEmail" id="emailHelp">Please enter a valid email</small>-->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" >
      <!--<small *ngIf="!checkPass" id="passwordHelp">Password must be more than 6 characters</small>-->
    </div>
    <button type="submit" class="btn btn-outline-light btn-lg btn-block" style="background-color: #E8505B; border-color: #E8505B;">Sign in</button>
    <div class="strike"><span>Or</span></div>
    <button type="submit" class="btn btn-outline-danger btn-block" style="border-color: #D67480;">Sign up</button>
    <!--<a href="forget yor paasword" style="text-align: left ;">Forget your paasword?</a>-->

</form>
