
.container{
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border: none;
}
.signInText{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
}
.strike {
    margin: 15px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    color: var(--hr);
    transition: all .3s ease-in-out;
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: var(--hr);
    transition: all .3s ease-in-out;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
small{
    color: red; margin: 5px;
    font-size: x-small;
  }
  