<html>
  <head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <form >
          <div class="signInText"><i class="fas fa-user-circle"></i> Sign In</div>
          <div class="formDiv">
            <input type="email" class="formInput" id="exampleInputEmail1" placeholder=" ">
            <label for="exampleInputEmail1" class="formLabel">{{'emailAddress'|translate}}</label>
          </div>
          <div class="formDiv">
            <input type="password" class="formInput" id="exampleInputEmail1" placeholder=" ">
            <label for="exampleInputEmail1" class="formLabel">{{'password'|translate}}</label>
          </div>
        <div class="centerButtons">
          <button type="submit" class="btn btn-outline-light btn-lg btn-block" >{{'signIn'|translate}}</button>
        <div class="strike"><span>{{'or'|translate}}</span></div>
        <button type="submit" class="btn btn-outline-danger btn-block" (click)="openSignUp()">{{'signUp'|translate}}</button>
        </div>
        <!--<a href="forget yor paasword" style="text-align: left ;">Forget your paasword?</a>-->
    </form>
    </div>
  </body>
</html>