<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section id="allQuestionSection">
        <div class="sectionTitle">{{'allQuestion'|translate}}</div>
        <div *ngIf="questions">
            <div *ngFor="let ques of questions; let i=index" class="question">
                <div class="questionContainer">
                    <div class="questionInfo">
                        <div class="questionWithoutPosterInfo">
                            <div class="questionAbout">
                                <div *ngIf="ques.questionAbout=='disease'" class="diseaeAndName">
                                    <div style="text-transform: capitalize;">
                                        {{'disease'|translate}} <i class="fas fa-virus"></i>
                                    </div>
                                </div>
                                <div *ngIf="ques.questionAbout=='medicament'" class="diseaeAndName">
                                    <div style="text-transform: capitalize;">
                                        {{'medicament'|translate}} <i class="fas fa-pills"></i>
                                    </div>
                                </div>
                                <div *ngIf="ques.questionAbout=='inquire'" class="diseaeAndName">
                                    <div style="text-transform: capitalize;">
                                        {{'inquire'|translate}} <i class="fas fa-question-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="questionTitle">
                                <span class="title">
                                    {{'questionAbout'|translate}}
                                </span>
                                <span class="text">
                                    {{ques.questionName}}
                                </span>
                            </div>
                            <div class="questionText">
                                {{ques.question}} ?
                            </div>
                        </div>
                        <div class="questionWithPosterInfo">
                            <div class="posterInfo">
                                <div *ngIf="ques.posterImageProfile" class="posterImageProfileContainer" (click)="pharmacyComponent.startConversation(ques.postBy,ques.userFullName,'',0)">
                                    <img [style.background-image]="'url(' + ques.posterImageProfile + ')'" class="profileImg">
                                    <div class="sendMessage">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <div *ngIf="!ques.posterImageProfile" class="posterImageProfileContainer" (click)="pharmacyComponent.startConversation(ques.postBy,ques.userFullName,'',0)">
                                    <i class="fas fa-user-tie userTiePoster"></i>
                                    <div class="sendMessage">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="posterName">
                                    {{ques.userFullName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentsLine"></div>
                    <div *ngIf="ques.comments.length==0">
                        <div class="formDiv commentInput">
                            <span class="mesure spanButton" (click)="addComment(ques.questionId,i)">
                                {{'add'|translate}}
                            </span>
                            <input type="text" class="formInput" name="firstComment"
                                [class.labelInvalidInfo]="ques.invalidComment"
                                [(ngModel)]="ques.doctorComment" id="firstComment" placeholder=" "
                                (keyup)="ques.invalidComment=false" style="padding-right: 85px;">
                            <label for="chooseSpeciality" class="formLabel">{{'firstComment'|translate}}</label>
                        </div>
                    </div>
                    <div *ngIf="ques.comments.length!=0">
                        <div *ngFor="let comment of ques.comments; let c=index" class="comment">
                            <div *ngIf="comment.posterProfileImage;" class="commentProfileImgConatiner">
                                <img [style.background-image]="'url(' + comment.posterProfileImage + ')'" class="profileImg">
                            </div>
                            <div *ngIf="!comment.posterProfileImage;"  class="commentProfileImgConatiner">
                                <i class="fas fa-user-tie userTie50"></i>
                            </div>
                            <div class="commentLeftLine"></div>
                            <div class="commentPoints">
                                <div (click)="addPointToComment(comment.commentId,i,c)">
                                    <i class="fas fa-chevron-up"></i>
                                </div>
                                <div class="points">
                                    {{comment.commentPoints}}
                                </div>
                                <div (click)="deletePointFromComment(comment.commentId,i,c)">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="commentText">
                                <div class="commentPostBy">
                                {{comment.commentPostBy}} <span *ngIf="comment.postedBy != pharmacyComponent.pharmacyGet.userId" style="color: #308a7b; margin-left: 10px;" (click)="pharmacyComponent.startConversation(comment.postedBy,comment.commentPostBy,'',0)"><i class="fas fa-envelope"></i></span>
                                </div>
                                <div>
                                    {{comment.comment}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="ques.loadMoreComment" (click)="getPostCommentsByPostId(ques.questionId,i)">
                            <div class="loadMoreComment">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="formDiv commentInput">
                            <span class="mesure spanButton" (click)="addComment(ques.questionId,i)">
                                {{'add'|translate}}
                            </span>
                            <input type="text" class="formInput" name="addComment"
                                [class.labelInvalidInfo]="ques.invalidComment"
                                [(ngModel)]="ques.doctorComment" id="addComment" placeholder=" "
                                (keyup)="ques.invalidComment=false">
                            <label for="chooseSpeciality" class="formLabel">{{'addComment'|translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centerLoading">
                <div *ngIf="loadMoreQuestion" class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div *ngIf="!loadMoreQuestion" class="loadMorePrescription defaultCursor">
                {{'allQuestionsLoaded'|translate}}
            </div>
        </div>
    </section>
</body>

</html>