.gidContainerCenter{
    position: absolute;
    width: 80%;
    height: 80%;
}
.gridContainer{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    grid-gap: 5%;
    left: 10%;
    top: 10%;
}
.gridContainer .firstName{
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridContainer .lastName{
    grid-column-start: 4;
    grid-column-end: 7;
}
.gridContainer .phoneNumber{
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridContainer .password{
    grid-column-start: 4;
    grid-column-end: 7;
}
.gridContainer .email{
    grid-column-start: 1;
    grid-column-end: 7;
}
.gridContainer .day{
    grid-column-start: 1;
    grid-column-end: 3;
}
.gridContainer .month{
    grid-column-start: 3;
    grid-column-end: 5;
}
.gridContainer .year{
    grid-column-start: 5;
    grid-column-end: 7;
}
.gridContainer .submit{
    grid-column-start: 1;
    grid-column-end: 7;
}

input{
    background-color: #F3F3F4;
    border-color: #616977;
    border-radius: 20px;
}
select{
    background-color: #F3F3F4;
    border-color: #616977;
    border-radius: 5px;
}
select:focus { 
    outline: none !important;
    border-color: #DB8993;
    box-shadow: 0 0 10px #D16572;
}
input:focus { 
    outline: none !important;
    border-color: #DB8993;
    box-shadow: 0 0 10px #D16572;
}
button:hover{
    background-color: #E8505B;
}
button{
    border-radius: 250px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
}
@media screen and (max-width: 900px){
    .gridContainer .firstName{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .lastName{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .phoneNumber{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .password{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .email{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .day{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .gridContainer .month{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .gridContainer .year{
        grid-column-start: 5;
        grid-column-end: 7;
    }
}
@media screen and (max-width: 800px){
    .gridContainer .day{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .month{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .gridContainer .year{
        grid-column-start: 1;
        grid-column-end: 7;
    }
}