@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.light-theme{
    --background-color: #F0F2F5;
    --text-color: #000;
    --box-color: #fff;
    --box-shadow: 0px 0px 25px  rgba(92, 99, 105,.2);
    --Black-text:#000;
    --gray-text:#4d4d4d;
    --hr:gray;
    --input-text-color:black;
    --gender-box-shadow:0px 0px 10px 2px #308a7b;
    --maleFemaleCheckBoxBackgroundColor:#308a7b;
    --headerText:#308a7b;
    --infoBox:0px 0px 10px rgba(0, 0, 0, 0.3);
    --grayWhite:rgba(128, 128, 128, 0.76);
    --whiteGreen:white;
    --greenWhite:#308a7b;
    --arrowNavigation:#1c504786;
    --arrowNavigationHover:#1c5047;
    --box-color2:white;
}
.dark-theme{
    --background-color: #18191a;
    --text-color: #fff;
    --box-color: #242526;
    --box-shadow: none;
    --Black-text:#fff;
    --gray-text:rgb(228, 228, 228);
    --hr:rgb(226, 226, 226);
    --input-text-color:white;
    --gender-box-shadow:none;
    --maleFemaleCheckBoxBackgroundColor:none;
    --headerText:white;
    --infoBox:none;
    --grayWhite:white;
    --whiteGreen:#308a7b;
    --greenWhite:white;
    --arrowNavigation:#ffffff86;
    --arrowNavigationHover:#fff;
    --box-color2:#18191a;
}
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
.toast-container>div{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.formDiv{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.formInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: .75rem;
    border: 1px solid #308a7b;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--input-text-color);
    transition: all .3s ease-in-out;
}
.formLabel{
    position: absolute;
    left: 1rem;
    top: .75rem;
    padding: 0 .25rem;
    border-radius: 5px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    color: #888;
    font-size: 1.rem;
}
.formInput:focus + .formLabel{
    top: -.5rem;
    left: .8rem;
    color: #308a7b;
    font-size: .75rem;
    font-weight: 500;
    z-index: 1;
}
.formInput:not(:placeholder-shown).formInput:not(:focus)+ .formLabel{
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 1;
}
.formInput:focus{
    border: 2px solid #308a7b;
}
.btn-block:focus,.btn-block:active{
    background-color: #308a7b;
}
.fullyBtn,.fullyBtnSmall{
    text-transform: uppercase;
    border-radius: .5rem;
    background-color: #308a7b;
    color: white;
    transition: 0.7s;
    border: 1px solid var(--box-color);
    width: 100%;
    font-size: 18px;
    transition: linear 0.2s;
}
.fullyBtn{
    height: 40px;
}
.fullyBtnSmall{
    height: 33px;
}
.fullyBtn:hover,.fullyBtnSmall:hover{
    border: 1px solid #308a7b;
}
.emptyBtn{
    font-size: 18px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    border-radius: .5rem;
    color: #308a7b;
    background: none;
    border: 1px solid #308a7b;
    transition: 0.3s;
}
.emptyBtn:hover{
    background-color: #308a7b;
    color: white;
}
button:disabled,
button[disabled]{
  border: none;
  background-color: #c5cac5;
  color: #666666;
}
button:disabled:hover,
button[disabled]:hover{
    border: none;
    background-color: #c5cac5;
    color: #666666;
}
input:disabled,
input[disabled]{
  border: 1px solid #666666;
  background: none;
  color: #666666;
}
.formDiv .mesure{
    position: absolute;
    right: 0%;
    padding: 12px;
    height: 48px;
    background-color: #308a7b;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-transform: capitalize;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading span{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--greenWhite);
    border-radius: 50%;
    display: inline-block;
    animation-name: LoadingDots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loading span:nth-child(2){
    animation-delay: 0.4s;
}
.loading span:nth-child(3){
    animation-delay: 0.8s;
}
@keyframes LoadingDots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(5px);
    }
}


/*search doctor*/
.searchedDocGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 98%;
    margin-left: 1%;
}
.searchedDocGrid .doctor{
    position: relative;
    background-color: var(--box-color);
    border-radius: 10px;
    margin: 20px 10px;
    color: var(--text-color);
    box-shadow: var(--infoBox);
    transition: .3s ease-in-out;
}
.searchedDocGrid .doctor .docMoreDatails{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
}
.doctor:hover .docMoreDatails:hover{
    opacity: 1;
}
.doctor:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.searchedDocGrid .doctor .docMoreDatails .text{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.doctor .searchedDocProfileImgContainer{
    position: relative;
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    overflow:hidden;
}
.doctor .searchedDocInfo{
    position: absolute;
    float: left;
    margin-left: 200px;
    max-width: 50%;
    padding: 10px 0px;
    top: 50%;
    transform: translateY(-50%);
}
.searchedDocDefaultImg{
    font-size: 135px;
    margin-bottom: 0px;
}
.profileImg{
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 100%;
}
.loadMoreArrow{
    width: fit-content; 
    color: var(--text-color);
}
.loadMoreArrow,.fa-angle-double-down{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa-angle-double-down{
    font-size: 25px;
    width: auto;
    transition: .3s ease-in-out;
}
.loadMoreArrow:hover{
    cursor: pointer;
}
.loadMoreArrow:hover .fa-angle-double-down{
    transform: translateY(10px);
}
.loadMoreArrow:hover div{
    transform: translateY(-5px);
}
.loadMoreArrow div{
    transition: .3s ease-in-out;
}
.horizetanlCenter{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.takeAppointmentContainer{
    background-color: var(--background-color);
    border-radius: 20px;
    margin: 20px;
}
.backToAllAppArrow{
    z-index: 1;
    position: absolute;
    background-color: #308a7b;
    color: white;
    font-size: 25px;
    padding: 3px 6px;
    height: 45px;
    width: 45px;
    margin-top: -5px;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: .3s ease-in-out;
}
.backToAllAppArrow:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.priceContainer{
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    color: var(--text-color);
}
.priceContainer .infoTitle{
    text-align: center;
    color: white;
    background-color: #308a7b;
}


/*users Info*/
.sectionContainer{
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.infoGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 100%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGridTowColumn{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    width: 90%;
    padding: 5% 2%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGrid .infoContainer , .infoGridTowColumn .infoContainer{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    border: none;
    box-shadow: var(--infoBox);
}
.infoGrid .infoContainer:hover, .infoGridTowColumn .infoContainer:hover{
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.02);
}

.infoGrid .infoContainer .infoIcon, .infoGridTowColumn .infoContainer .infoIcon{
    position: relative;
    font-size: 23px;
}
.infoGrid .infoContainer .infoTitle,.infoGridTowColumn .infoContainer .infoTitle{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    background-color: #308a7b;
}
.infoGrid .infoContainer .info, .infoGridTowColumn .infoContainer .info{
    padding: 10px 5px;
    text-align: center;
    padding: 2px 5px;
}
.labelInvalidInfo{
    border: 1px solid red;
}
.labelInvalidInfo:focus{
    border: 2px solid red;
}
.labelInvalidInfo + .formLabel{
    color: red;
}
.infoEdit{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 100%;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#maleLabel,#femaleLabel{
    padding: 12px 0px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border: 1px solid #308a7b;
    color: #308a7b;
}
#male:checked ~ #maleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#female:checked ~ #femaleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#maleLabel{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#femaleLabel{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#male, #female{
    display: none;
}
#maleLabel:hover,#femaleLabel:hover{
    color: white;
    background-color: var(--maleFemaleCheckBoxBackgroundColor);
    transition: all .3s ease-in-out;
}
.btn-group{
    height: 56px;
}
.noData{
    margin: 20px;
    text-align: center;
}
.noData .setInfo,.textLien{
    text-decoration: underline;
}
.noData .setInfo:hover,.textLien:hover{
    cursor: pointer;
}
.fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.imgContainer{
    position: relative;
    left: 50%;
    margin: 2% 0%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 5px solid #308a7b;
    border-radius: 50%;
    overflow:hidden;
}
.imgContainer .strok{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:4px solid var(--box-color);
    transition: all .3s ease-in-out;
}
.imgContainer .strok{
    cursor: pointer;
}
.fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    color: #308a7b;
    font-size: 180px;
    border-radius: 50%;
}
.editImage{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transition: 0.3s;
}
.editImage .center{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.imgContainer:hover .editImage,.imgContainer:hover .editImage .center{
    opacity: 1;
}
.uploadImgBtn{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.uploadImgBtn:hover{
    opacity: 0;
    cursor: pointer;
}
.profileImg{
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    bottom: 0px;
}
.formInput{
    font-family: Arial, Helvetica, sans-serif;
}

/* search docotr*/

.profileImgContainer{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #308a7b;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.searchedDocSpeciality{
    margin-top: 2%;
    margin-left: 4%;
    display: inline-block;
    background-color: var(--grayWhite);
    color: var(--whiteGreen);
    border-radius: 5px;
    font-size: 1.2rem;
}
.searchedDocSpeciality .spec{
    display: inline-block;
    color: white;
    background-color: #308a7b;
    border-radius: 5px;
    padding: 3px 15px;
}
.searchedDocSpeciality .specName{
    border-radius: 5px;
    padding: 3px 15px;
}
.horizentalCenter{
    margin-top: 2%;
    text-align: center;
    font-size: 1.5rem;
}
.centerRate{
    color: yellow;
    margin-top: 2%;
    text-align: center;
}
.specialityDes{
    margin-top: 2%;
    padding-left: 4%;
    width: 90%;
}
.doctorInfoContainer{
    position: relative;
    top: 0%;
    left: 0%;
    width: 50%;
}
.doctorAppointmentContainer{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    background-color: #308a7b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.appointmentTitle{
    padding-top: 5%;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}
.calendarGrid{
    position: relative;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    padding: 2% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: center;
}
.calendarGrid .day{
    color: var(--greenWhite);
    transition: all .3s ease-in-out;
}
.fillAllDay{
    width: 44px;
    height: 44px;
    padding: 10px 0px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
#day1,#day2,#day3,#day4,#day5,#day6,#day7,#day8,#day9,#day10,#day11,#day12,#day13,#day14,#day15,#day16,#day17,#day18,#day19,#day20,#day21,#day22,#day23,#day24,#day25,#day26,#day27,#day28,#day29,#day30,#day31,#dayMon,#dayTue,#dayThu,#dayWed,#dayFri,#daySun,#daySat,#dayLun,#dayMar,#dayMer,#dayJeu,#dayVen,#daySam,#dayDim{
    display: none;
}
#day1Lab:hover,#day2Lab:hover,#day3Lab:hover,#day4Lab:hover,#day5Lab:hover,#day6Lab:hover,#day7Lab:hover,#day8Lab:hover,#day9Lab:hover,#day10Lab:hover,#day11Lab:hover,#day12Lab:hover,#day13Lab:hover,#day14Lab:hover,#day15Lab:hover,#day16Lab:hover,#day17Lab:hover,#day18Lab:hover,#day19Lab:hover,#day20Lab:hover,#day21Lab:hover,#day22Lab:hover,#day23Lab:hover,#day24Lab:hover,#day25Lab:hover,#day26Lab:hover,#day27Lab:hover,#day28Lab:hover,#day29Lab:hover,#day30Lab:hover,#day31Lab:hover{
    cursor: pointer;
    background-color: var(--greenWhite);
    color: var(--whiteGreen);
    transition: all .3s ease-in-out;
}
#day1:checked + #day1Lab,#day2:checked + #day2Lab,#day3:checked + #day3Lab,#day4:checked + #day4Lab,#day5:checked + #day5Lab,#day6:checked + #day6Lab,#day7:checked + #day7Lab,#day8:checked + #day8Lab,#day9:checked + #day9Lab,#day10:checked + #day10Lab,#day11:checked + #day11Lab,#day12:checked + #day12Lab,#day13:checked + #day13Lab,#day14:checked + #day14Lab,#day15:checked + #day15Lab,#day16:checked + #day16Lab,#day17:checked + #day17Lab,#day18:checked + #day18Lab,#day19:checked + #day19Lab,#day20:checked + #day20Lab,#day21:checked + #day21Lab,#day22:checked + #day22Lab,#day23:checked + #day23Lab,#day24:checked + #day24Lab,#day25:checked + #day25Lab,#day26:checked + #day26Lab,#day27:checked + #day27Lab,#day28:checked + #day28Lab,#day29:checked + #day29Lab,#day30:checked + #day30Lab,#day31:checked + #day31Lab{
    background-color: var(--greenWhite);
    color: var(--whiteGreen);
    font-weight: 700;
    transition: all .3s ease-in-out;
}
input[type=radio]:disabled + label {
    color: #308a7b;
    background: #cccccc;
    font-weight: 700;
}
input[type=radio]:disabled + #day1Lab:hover,input[type=radio]:disabled + #day2Lab:hover,input[type=radio]:disabled + #day3Lab:hover,input[type=radio]:disabled + #day4Lab:hover,input[type=radio]:disabled + #day5Lab:hover,input[type=radio]:disabled + #day6Lab:hover,input[type=radio]:disabled + #day7Lab:hover,input[type=radio]:disabled + #day8Lab:hover,input[type=radio]:disabled + #day9Lab:hover,input[type=radio]:disabled + #day10Lab:hover,input[type=radio]:disabled + #day11Lab:hover,input[type=radio]:disabled + #day12Lab:hover,input[type=radio]:disabled + #day13Lab:hover,input[type=radio]:disabled + #day14Lab:hover,input[type=radio]:disabled + #day15Lab:hover,input[type=radio]:disabled + #day16Lab:hover,input[type=radio]:disabled + #day17Lab:hover,input[type=radio]:disabled + #day18Lab:hover,input[type=radio]:disabled + #day19Lab:hover,input[type=radio]:disabled + #day20Lab:hover,input[type=radio]:disabled + #day21Lab:hover,input[type=radio]:disabled + #day22Lab:hover,input[type=radio]:disabled + #day23Lab:hover,input[type=radio]:disabled + #day24Lab:hover,input[type=radio]:disabled + #day25Lab:hover,input[type=radio]:disabled + #day26Lab:hover,input[type=radio]:disabled + #day27Lab:hover,input[type=radio]:disabled + #day28Lab:hover,input[type=radio]:disabled + #day29Lab:hover,input[type=radio]:disabled + #day30Lab:hover,input[type=radio]:disabled + #day31Lab:hover {
    color: #308a7b;
    background: #cccccc;
}
.doctorAppointmentContainer .center{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.white{
    position: absolute;
    margin-bottom: 5%;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border: 1px solid var(--greenWhite);
    color:var(--greenWhite);
}
.white:hover{
    cursor: pointer;
    color:var(--whiteGreen);
    background-color: var(--greenWhite);
}
.white:disabled{
    border: 1px solid #cccccc;
    color:#cccccc;
    background-color: transparent;
}
.white:disabled:hover{
    cursor: default;
    border: 1px solid #cccccc;
    background-color: transparent;
}

/* pending doc*/

.notApprovedDocGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.notApprovedDocGrid .col{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
    width: 95%;
    height: 95%;
    padding: 25px 10px;
}
.notApprovedDocGrid .docDecision{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 10px;
}
.notApprovedDocGrid .docDecision .docNotAppNameText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
.notApprovedDocGrid .col .pendingStatus{
    display: inline-block;
    padding: 5px 10px;
    background-color: #308a7b;
    border-radius: 5px;
    margin-bottom: 10px;
    width: auto;
}
.notApprovedDocGrid .col .reVerifyStatus{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff9100;
    border-radius: 5px;
    margin-bottom: 10px;
    width: auto;
}
.notApprovedDocGrid .col .pendingDocImg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid #308a7b;
    overflow: hidden;
}
.notApprovedDocGrid .pendingDocImg .strok{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:1px solid var(--box-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .pendingDocImg .profileImg{
    height: 100%;
    width: auto;
}
.notApprovedDocGrid .pendingDocImg .fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
    font-size: 90px;
}
.notApprovedDocGrid .col .docNotAppName{
    padding-top: 10px;
    font-size: 1.2rem;
}
.notApprovedDocGrid .fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.notApprovedDocGrid .col .showHideDocuments{
    padding: 4% 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.notApprovedDocGrid .col .fa-angle-double-down,.col  .fa-angle-double-up{
    transition: .3s;
}
.notApprovedDocGrid .col .showHideDocuments:hover .fa-angle-double-down{
    margin-top: 10px;
}
.notApprovedDocGrid .col .showHideDocuments:hover .fa-angle-double-up{
    margin-bottom: 10px;
}
.notApprovedDocGrid .col .documentImgContainer .img90{
    width: 80%;
    left: 10%;
}
.notApprovedDocGrid .col .documentImgContainer{
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.notApprovedDocGrid .col .showHideDocuments:hover, .leftArrow:hover, .rightArrow:hover{
    cursor: pointer;
}
.notApprovedDocGrid .rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-size: 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .leftArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    font-size: 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .fullyBtn{
    width: 35%;
}