@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.light-theme{
    --background-color: #F0F2F5;
    --text-color: #000;
    --box-color: rgb(250, 250, 250);
    --box-shadow: 0px 0px 25px  rgba(92, 99, 105,.2);
    --Black-text:#000;
    --gray-text:#4d4d4d;
    --hr:gray;
    --input-text-color:black;
    --gender-box-shadow:0px 0px 10px 2px #308a7b;
    --maleFemaleCheckBoxBackgroundColor:#308a7b;
    --headerText:#308a7b;
    --infoBox:0px 0px 10px rgba(0, 0, 0, 0.3);
    --grayWhite:rgba(128, 128, 128, 0.76);
    --whiteGreen:white;
    --greenWhite:#308a7b;
    --arrowNavigation:#1c504786;
    --arrowNavigationHover:#1c5047;
    --box-color2:white;
    --grayBackground:rgb(250, 250, 250);
    --notificationBackgroundColor:#ebf7ee;
    --notificationBorderColor:#c6e8cf;
    --notificationTextColor:#333c48;
    --userInfoContainerBackground:#f9fafc;
    --userInfoContainerShadow:0px 0px 10px rgba(0, 0, 0, 0.15);
    --userInfoContainerTitleColor:#838a99;
    --messageRead:#383838;
    --messageUnread:black;
    --userInfoContainerValueColor:#1a1a1a;
    --disabledWorkCircle:#838a99;
    --dayColor:#555d6e;
    --worldMapImgOpacity:0.6;
    --messageBackgroundColor: #eaebf0;
    --messageSenderBackgroundColor: #d1d3e4;
    --messageSenderColor:#2c3247;
    --messageRecipientColor:#3e4251;
    --messageRecipientBackgroundColor:white;
    --toastrBackgroundColor: white;
    --toastrMessageColor: #9c9ea3;
    --toastrTitleColorSuccess: #2e323c;
    --toastrTitleColorError: #2e323c;
    --toastrTitleColorWarning: #2e323c;
    --toastrTitleColorInfo: #2e323c;
    --searchedUsersBackgroundColor: white;
    --searchedUsersSendMessageBackgroundColor: #e6e6e7;
    --searchedUsersSendMessageColor: #2f303a;
    --smallMessageUsernameColor:#eaebf0;
    --smallMessageUsernameBackgroundColor:#2c3247;
    --popUpBackgroundColor: #f0f2f55d;
    --selectedPageBackgroundColor:#10182f;
    --selectedPageColor:white;
}
.dark-theme{
    --background-color: #18191a;
    --text-color: #fff;
    --box-color: #242526;
    --box-shadow: none;
    --Black-text:#fff;
    --gray-text:rgb(228, 228, 228);
    --hr:rgb(226, 226, 226);
    --input-text-color:white;
    --gender-box-shadow:none;
    --maleFemaleCheckBoxBackgroundColor:none;
    --headerText:white;
    --infoBox:none;
    --grayWhite:white;
    --whiteGreen:#308a7b;
    --greenWhite:white;
    --arrowNavigation:#ffffff86;
    --arrowNavigationHover:#fff;
    --box-color2:#18191a;
    --grayBackground:rgb(44, 45, 48);
    --notificationBackgroundColor:#308a7b17;
    --notificationBorderColor:#308a7b;
    --notificationTextColor:white;
    --userInfoContainerBackground:#2b2a2a;
    --userInfoContainerShadow:none;
    --userInfoContainerTitleColor:#d5d6d8;
    --messageRead:#cccccc;
    --messageUnread:white;
    --userInfoContainerValueColor:#fffafa;
    --disabledWorkCircle:#e0e0e0;
    --dayColor:#c5c9d3;
    --worldMapImgOpacity:0.2;
    --messageBackgroundColor: #3d3c40;
    --messageSenderBackgroundColor: #d1d3e4;
    --messageSenderColor:#2c3247;
    --messageRecipientColor:white;
    --messageRecipientBackgroundColor:#575f5d;
    --toastrBackgroundColor: #121214;
    --toastrMessageColor: #c4c4c4;
    --toastrTitleColorSuccess: #51A351;
    --toastrTitleColorError: #BD362F;
    --toastrTitleColorWarning: #F89406;
    --toastrTitleColorInfo: #007bc2;
    --searchedUsersBackgroundColor: #242526;
    --searchedUsersSendMessageBackgroundColor: #3a3b3c;
    --searchedUsersSendMessageColor: white;
    --smallMessageUsernameColor:#2c3247;
    --smallMessageUsernameBackgroundColor:#adadad;
    --popUpBackgroundColor: #32333388;
    --selectedPageBackgroundColor:white;
    --selectedPageColor:#10182f;
}
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
.toast-container>div{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.formDiv{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.formInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: .75rem;
    border: 1px solid #308a7b;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--input-text-color);
    transition: all .3s ease-in-out;
}
.formLabel{
    position: absolute;
    left: 1rem;
    top: .75rem;
    padding: 0 .25rem;
    border-radius: 5px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    color: #888;
    font-size: 1.rem;
}
.formInput:focus + .formLabel{
    top: -.5rem;
    left: .8rem;
    color: #308a7b;
    font-size: .75rem;
    font-weight: 500;
    z-index: 1;
}
.formInput:not(:placeholder-shown).formInput:not(:focus)+ .formLabel{
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 1;
}
.formInput:focus{
    border: 2px solid #308a7b;
}
.btn-block:focus,.btn-block:active{
    background-color: #308a7b;
}
.fullyBtn,.fullyBtnSmall{
    text-transform: uppercase;
    border-radius: .5rem;
    background-color: #308a7b;
    color: white;
    transition: 0.7s;
    transition: all .3s ease-in-out;
    border: 1px solid var(--box-color);
    width: 100%;
    font-size: 18px;
    transition: linear 0.2s;
}
.fullyBtn{
    height: 40px;
}
.fullyBtnSmall{
    height: 33px;
}
.fullyBtn:hover,.fullyBtnSmall:hover{
    border: 1px solid #308a7b;
}
.emptyBtn{
    font-size: 18px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    border-radius: .5rem;
    color: #308a7b;
    background: none;
    border: 1px solid #308a7b;
    transition: 0.3s;
}
.emptyBtn:hover{
    background-color: #308a7b;
    color: white;
}
button:disabled,
button[disabled]{
  border: none;
  background-color: #c5cac5;
  color: #666666;
}
button:disabled:hover,
button[disabled]:hover{
    border: none;
    background-color: #c5cac5;
    color: #666666;
}
input:disabled,
input[disabled]{
  border: 1px solid #666666;
  background: none;
  color: #666666;
}
.formDiv .mesure{
    position: absolute;
    right: 0%;
    padding: 12px;
    height: 48px;
    background-color: #308a7b;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-transform: capitalize;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading span{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--greenWhite);
    border-radius: 50%;
    display: inline-block;
    animation-name: LoadingDots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loading span:nth-child(2){
    animation-delay: 0.4s;
}
.loading span:nth-child(3){
    animation-delay: 0.8s;
}
@keyframes LoadingDots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(5px);
    }
}
/* toastr */

#toast-container>.toast-info,#toast-container>.toast-success,#toast-container>.toast-warning,#toast-container>.toast-error {
    background-color: var(--toastrBackgroundColor) !important;
    border-radius: 10px !important;
    color: var(--toastrMessageColor) !important;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2) !important;
    transition: all .3s ease-in-out;
}
#toast-container>.toast-info{
    border-left: 4px solid #007bc2;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(0,123,194)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E") !important;
}
#toast-container>.toast-success{
    border-left: 4px solid #51A351;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(81,163,81)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E") !important;
}
#toast-container>.toast-warning{
    border-left: 4px solid #F89406;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(248,148,6)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E") !important;
}
#toast-container>.toast-error{
    border-left: 4px solid #BD362F;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(189,54,47)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E") !important;
}
#toast-container>.toast-info .toast-title{
    color: var(--toastrTitleColorInfo) !important;
    transition: all .3s ease-in-out;
}
#toast-container>.toast-success .toast-title{
    color: var(--toastrTitleColorSuccess) !important;
    transition: all .3s ease-in-out;
}
#toast-container>.toast-warning .toast-title{
    color: var(--toastrTitleColorWarning) !important;
    transition: all .3s ease-in-out;
}
#toast-container>.toast-error .toast-title{
    color: var(--toastrTitleColorError) !important;
    transition: all .3s ease-in-out;
}
.ngx-toastr {
    width: fit-content !important;
    max-width: 400px !important;
    min-width: 250px !important;
}  
/* toastr */

/* message */
.smallConvNewMessageDot{
    z-index: 1001;
    width: 10px;
    height: 10px;
    background-color: #ff9100;
    border-radius: 50%;
    position: fixed;
    right: 55px;
}
.smallMessagesContainer .smallConvNewMessageDot{
    bottom: 115px;
}
.smallMessagesContainer1 .smallConvNewMessageDot{
    bottom: 180px;
}
.smallMessagesContainer2 .smallConvNewMessageDot{
    bottom: 245px;
}
.smallMessagesContainer .smallMessagesContainerClose .fa-times,.smallMessagesContainer1 .smallMessagesContainerClose .fa-times,.smallMessagesContainer2 .smallMessagesContainerClose .fa-times{
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 2px;
}
.messagesContainer .smallMessagesContainer .smallMessagesContainerImg,.messagesContainer .smallMessagesContainer1 .smallMessagesContainerImg,.messagesContainer .smallMessagesContainer2 .smallMessagesContainerImg{
    z-index: 1001;
    position: fixed;
    width: 45px;
    height: 45px;
    right: 20px;
    border: 1px solid #308a7b;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    border-radius: 50%;
    overflow: hidden;
}
.messagesContainer .smallMessagesContainer .smallMessagesContainerImg{
    bottom: 85px;
}
.messagesContainer .smallMessagesContainer1 .smallMessagesContainerImg{
    bottom: 150px;
}
.messagesContainer .smallMessagesContainer2 .smallMessagesContainerImg{
    bottom: 215px;
}
.smallMessagesContainer .smallMessagesContainerClose,.smallMessagesContainer1 .smallMessagesContainerClose,.smallMessagesContainer2 .smallMessagesContainerClose{
    display: none;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    right: 17px;
    color: white;
    background-color: rgb(255, 78, 78);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: .2s ease-in-out;
}
.smallMessagesContainer .smallMessagesContainerClose{
    bottom: 115px;
}
.smallMessagesContainer1 .smallMessagesContainerClose{
    bottom: 180px;
}
.smallMessagesContainer2 .smallMessagesContainerClose{
    bottom: 245px;
}
.smallMessagesContainer .smallMessagesContainerClose:hover,.smallMessagesContainer1 .smallMessagesContainerClose:hover,.smallMessagesContainer2 .smallMessagesContainerClose:hover{
    background-color: red;
}
.smallMessagesContainer:hover .smallMessagesContainerUsername,.smallMessagesContainer:hover .smallMessagesContainerClose,.smallMessagesContainer1:hover .smallMessagesContainerUsername,.smallMessagesContainer1:hover .smallMessagesContainerClose,.smallMessagesContainer2:hover .smallMessagesContainerUsername,.smallMessagesContainer2:hover .smallMessagesContainerClose{
    display: block;
}
.smallMessagesContainer .smallMessagesContainerUsername,.smallMessagesContainer1 .smallMessagesContainerUsername,.smallMessagesContainer2 .smallMessagesContainerUsername{
    display: none;
    background-color: var(--smallMessageUsernameBackgroundColor);
    color: var(--smallMessageUsernameColor);
    transition: all .3s ease-in-out;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 1001;
    position: fixed;
    text-transform: capitalize;
    right: 70px;
    transform: translateY(+50%);
}
.smallMessagesContainer .smallMessagesContainerUsername{
    bottom: 107px;
}
.smallMessagesContainer1 .smallMessagesContainerUsername{
    bottom: 172px;
}
.smallMessagesContainer2 .smallMessagesContainerUsername{
    bottom: 237px;
}
.sendRequestClosedMessage{
    width: fit-content;
    margin-bottom: 5px;
}
.convClosed{
    text-align: center;
    margin: 0px auto;
}
.sendMessageIconBtn:hover{
    transform: scale(1.05);
}
.sendMessageIconBtn .fa-envelope{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}
.sendMessageIconBtn{
    position: relative;
    color: white;
    background-color: #308a7b;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.seenMessage{
    width: fit-content;
    margin-left: auto;
    margin-right: 5px;
    color: gray;
    font-size: 10px;
}
.messagesContainer .messageLoading{
    position: relative;
}
.messagesContainer .messageLoading div:nth-child(1){
    animation-name: LoadingMessages;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    width: 100px;
    height: 30px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: var(--messageRecipientBackgroundColor);
}
.messagesContainer .messageLoading div:nth-child(2){
    animation-name: LoadingMessages;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    background-color: var(--messageSenderBackgroundColor);
    width: 120px;
    height: 30px;
    margin-left: auto;
    margin-right: 3px;
    margin-top: 5px;
    border-radius: 15px;
}
@keyframes LoadingMessages{
    50%{
        opacity: 0;
        transform: scale(0.98);
    }
}
.messagesContainer .messageUsernameImgContainer{
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #308a7b;
    border-radius: 50%;
    overflow:hidden;
}
.messagesContainer .messageUsernameContainer{
    width: fit-content;
    margin: 10px auto; 
    text-align: center; 
    text-transform: capitalize; 
    font-weight: 600;
    color: var(--gray-text);
    transition:all .3s ease-in-out;
}
.messagesContainer .sendMessageBtn{
    transition: .3s ease-in-out;
}
.messagesContainer .sendMessageBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.messagesIcon{
    position: fixed;
    color: white;
    background-color: #308a7b;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    z-index:1001;
    box-shadow: 0px 0px 7px #308a7ba9;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.messagesIcon:hover{
    transform: scale(1.05);
}
.messagesIcon .fa-envelope{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}
.messagesContainer .messagesConatiner{
    z-index: 1001;
    position: fixed;
    right: 80px;
    bottom: 0px;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 400px;
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.messagesContainer .messagesContainerHeader{
    top: 0px;
    position: absolute;
    width: 300px;
    height: 35px;
    background-color: #aecaaa71;
    backdrop-filter: blur(3px);
    color: var(--messageRecipientColor);
    transition: all .3s ease-in-out;
    z-index: 1100;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--messageBackgroundColor);
}
.messagesContainer .messagesContainerBody::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.messagesContainer .messagesContainerBody::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.messagesContainer .messagesContainerBody::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #cfd1db;
}
.messagesContainer .messagesContainerBody::-webkit-scrollbar-button {
    height: 50px;
  }
.messagesContainer .messagesContainerBody{
    top: 0px;
    padding: 10px 3px;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--messageBackgroundColor);
    transition: all .3s ease-in-out;
    overflow-y: auto;
    padding-bottom:50px;
}
.messagesContainer .messagesContainerBodyClosed{
    top: 0px;
    padding: 10px 3px;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--messageBackgroundColor);
    transition: all .3s ease-in-out;
    overflow-y: auto;
}
.messagesContainer .messagesContainerFooter{
    bottom: 0px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.644);
    backdrop-filter: blur(4px);
    border-radius:5px;
    margin: 4px 5px;
    width: 290px;
    height: 40px;
    padding: 3px;
}
.messagesContainer .messageUsername{
    margin-left: 10px;
    margin-top: 16px;
    transform: translateY(-50%);
    font-weight: 600;
    text-transform: capitalize;
}
.messagesContainer .messageCloseIcon{
    position: relative;
    margin-right: 10px;
    margin-top: 16px;
    transform: translateY(-50%);
    text-transform: capitalize;
    cursor: pointer;
}
.messagesContainer .messageCloseIcon span{
    transition: .3s ease-in-out;
}
.messagesContainer .messageCloseIcon span:hover{
    color: #1a7465;
}
.messagesContainer .sendMessageIcon{
    margin-left: 7px;
    color: #308a7b;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.messagesContainer .sendMessageIcon:hover{
    transform: scale(1.2);
}
.messagesContainer .messageInput{
    border: none;
    width: 250px;
    margin: 5px;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
    background: transparent;
}
.messagesContainer .senderMessageContainer{
    background-color: var(--messageSenderBackgroundColor);
    padding: 5px 10px;
    width: fit-content;
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: 5px;
    border-radius: 15px;
    color: var(--messageSenderColor);
    transition: all .3s ease-in-out;
}
.messagesContainer .recipientMessageContainer{
    background-color: var(--messageRecipientBackgroundColor);
    padding: 5px 10px;
    width: fit-content;
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    border-radius: 15px;
    color: var(--messageRecipientColor);
    transition: all .3s ease-in-out;
}
/* message */

/*search doctor*/
.searchedDocGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 98%;
    margin-left: 1%;
}
.searchedDocGrid .doctor{
    position: relative;
    background-color: var(--box-color);
    border-radius: 10px;
    margin: 20px 10px;
    color: var(--text-color);
    box-shadow: var(--infoBox);
    transition:all .3s ease-in-out;
}
.searchedDocGrid .doctor .docMoreDatails{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
}
.doctor:hover .docMoreDatails:hover{
    opacity: 1;
}
.doctor:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.searchedDocGrid .doctor .docMoreDatails .text{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.doctor .searchedDocProfileImgContainer{
    position: relative;
    float: left;
    height: 150px;
    width: 150px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow:hidden;
}
.doctor .searchedDocInfo{
    position: absolute;
    float: left;
    margin-left: 200px;
    max-width: 50%;
    padding: 10px 0px;
    top: 50%;
    transform: translateY(-50%);
}
.searchedDocDefaultImg{
    font-size: 135px;
    margin-bottom: 0px;
}
.loadMoreArrow{
    width: fit-content; 
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.loadMoreArrow,.fa-angle-double-down{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa-angle-double-down{
    font-size: 25px;
    width: auto;
    transition: .3s ease-in-out;
}
.loadMoreArrow:hover{
    cursor: pointer;
}
.loadMoreArrow:hover .fa-angle-double-down{
    transform: translateY(10px);
}
.loadMoreArrow:hover div{
    transform: translateY(-5px);
}
.loadMoreArrow div{
    transition: .3s ease-in-out;
}
.horizetanlCenter{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.takeAppointmentContainer{
    background-color: var(--background-color);
    border-radius: 20px;
    margin: 20px;
    transition: all .3s ease-in-out;
}
.backToAllAppArrow{
    z-index: 1;
    position: absolute;
    background-color: #308a7b;
    color: white;
    font-size: 25px;
    padding: 3px 6px;
    height: 45px;
    width: 45px;
    margin-top: -5px;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: .3s ease-in-out;
}
.backToAllAppArrow:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.priceContainer{
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.priceContainer .infoTitle{
    text-align: center;
    color: white;
    background-color: #308a7b;
}


/*users Info*/
.sectionContainer{
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.sectionTitle{
    margin-left: 30px;
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.infoGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 100%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGridTowColumn{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    width: 90%;
    padding: 5% 2%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGrid .infoContainer , .infoGridTowColumn .infoContainer{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    border: none;
    box-shadow: var(--infoBox);
}

.infoGrid .infoContainer .infoIcon, .infoGridTowColumn .infoContainer .infoIcon{
    position: relative;
    font-size: 23px;
}
.infoGrid .infoContainer .infoTitle,.infoGridTowColumn .infoContainer .infoTitle{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    background-color: #308a7b;
}
.infoGrid .infoContainer .info, .infoGridTowColumn .infoContainer .info{
    padding: 10px 5px;
    text-align: center;
    padding: 2px 5px;
}
.labelInvalidInfo{
    border: 1px solid red;
}
.labelInvalidInfo:focus{
    border: 2px solid red;
}
.labelInvalidInfo + .formLabel{
    color: red;
}
.infoEdit{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 100%;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#maleLabel,#femaleLabel{
    padding: 12px 0px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border: 1px solid #308a7b;
    color: #308a7b;
}
#male:checked ~ #maleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#female:checked ~ #femaleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#maleLabel{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#femaleLabel{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#male, #female{
    display: none;
}
#maleLabel:hover,#femaleLabel:hover{
    color: white;
    background-color: var(--maleFemaleCheckBoxBackgroundColor);
    transition: all .3s ease-in-out;
}
.btn-group{
    height: 56px;
}
.noData{
    margin: 20px;
    text-align: center;
}
.noData .setInfo,.textLien{
    text-decoration: underline;
}
.noData .setInfo:hover,.textLien:hover{
    cursor: pointer;
}
.fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.imgContainer{
    position: relative;
    left: 50%;
    margin: 2% 0%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 5px solid #308a7b;
    border-radius: 50%;
    overflow:hidden;
}
.imgContainer .strok{
    cursor: pointer;
}
.fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    color: #308a7b;
    font-size: 180px;
    border-radius: 50%;
}
.editImage{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transition: 0.3s;
}
.editImage .center{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.imgContainer:hover .editImage,.imgContainer:hover .editImage .center{
    opacity: 1;
}
.uploadImgBtn{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.uploadImgBtn:hover{
    opacity: 0;
    cursor: pointer;
}
.profileImg{
    height: 104%;
    width: 104%;
    position: absolute;
    background-size:cover;
    margin-left: -2%;
    margin-top: -2%;
}
.formInput{
    font-family: Arial, Helvetica, sans-serif;
}

/* search docotr*/

.profileImgContainer{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #308a7b;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.searchedDocSpeciality{
    margin-top: 2%;
    margin-left: 4%;
    display: inline-block;
    background-color: var(--grayWhite);
    color: var(--whiteGreen);
    transition: all .3s ease-in-out;
    border-radius: 5px;
    font-size: 1.2rem;
}
.searchedDocSpeciality .spec{
    display: inline-block;
    color: white;
    background-color: #308a7b;
    border-radius: 5px;
    padding: 3px 15px;
}
.searchedDocSpeciality .specName{
    border-radius: 5px;
    padding: 3px 15px;
}
.horizentalCenter{
    margin-top: 2%;
    text-align: center;
    font-size: 1.5rem;
}
.centerRate{
    color: yellow;
    margin-top: 2%;
    text-align: center;
}
.specialityDes{
    margin-top: 2%;
    padding-left: 4%;
    width: 90%;
}
.doctorInfoContainer{
    position: relative;
    top: 0%;
    left: 0%;
    width: 50%;
}
.doctorAppointmentContainer{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    background-color: #308a7b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.appointmentTitle{
    padding-top: 5%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
.appointmentTitle div:nth-child(1){
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    background: transparent;
    transition: .3s ease-in-out;
}
.appointmentTitle div:nth-child(2){
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background: transparent;
    transition: .3s ease-in-out;
}
.appointmentTitle div:hover{
    background-color: white;
    color: #308a7b;
    cursor: pointer;
}
.appointmentTitleSelectedItem{
    background-color: white !important;
    color: #308a7b !important;
    padding: 7px 18px !important;
}
.calendarGrid{
    position: relative;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    padding: 2% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: center;
}
.calendarGrid .day{
    color: var(--greenWhite);
    transition: all .3s ease-in-out;
}
.fillAllDay{
    width: 44px;
    height: 44px;
    padding: 10px 0px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
#day1,#day2,#day3,#day4,#day5,#day6,#day7,#day8,#day9,#day10,#day11,#day12,#day13,#day14,#day15,#day16,#day17,#day18,#day19,#day20,#day21,#day22,#day23,#day24,#day25,#day26,#day27,#day28,#day29,#day30,#day31,#dayMon,#dayTue,#dayThu,#dayWed,#dayFri,#daySun,#daySat,#dayLun,#dayMar,#dayMer,#dayJeu,#dayVen,#daySam,#dayDim{
    display: none;
}
#day1Lab:hover,#day2Lab:hover,#day3Lab:hover,#day4Lab:hover,#day5Lab:hover,#day6Lab:hover,#day7Lab:hover,#day8Lab:hover,#day9Lab:hover,#day10Lab:hover,#day11Lab:hover,#day12Lab:hover,#day13Lab:hover,#day14Lab:hover,#day15Lab:hover,#day16Lab:hover,#day17Lab:hover,#day18Lab:hover,#day19Lab:hover,#day20Lab:hover,#day21Lab:hover,#day22Lab:hover,#day23Lab:hover,#day24Lab:hover,#day25Lab:hover,#day26Lab:hover,#day27Lab:hover,#day28Lab:hover,#day29Lab:hover,#day30Lab:hover,#day31Lab:hover{
    background-color: var(--greenWhite);
    color: var(--whiteGreen);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#day1:checked + #day1Lab,#day2:checked + #day2Lab,#day3:checked + #day3Lab,#day4:checked + #day4Lab,#day5:checked + #day5Lab,#day6:checked + #day6Lab,#day7:checked + #day7Lab,#day8:checked + #day8Lab,#day9:checked + #day9Lab,#day10:checked + #day10Lab,#day11:checked + #day11Lab,#day12:checked + #day12Lab,#day13:checked + #day13Lab,#day14:checked + #day14Lab,#day15:checked + #day15Lab,#day16:checked + #day16Lab,#day17:checked + #day17Lab,#day18:checked + #day18Lab,#day19:checked + #day19Lab,#day20:checked + #day20Lab,#day21:checked + #day21Lab,#day22:checked + #day22Lab,#day23:checked + #day23Lab,#day24:checked + #day24Lab,#day25:checked + #day25Lab,#day26:checked + #day26Lab,#day27:checked + #day27Lab,#day28:checked + #day28Lab,#day29:checked + #day29Lab,#day30:checked + #day30Lab,#day31:checked + #day31Lab{
    background-color: var(--greenWhite);
    color: var(--whiteGreen);
    font-weight: 700;
    transition: all .3s ease-in-out;
}
input[type=radio]:disabled + label {
    color: #308a7b;
    background: #cccccc;
    font-weight: 700;
}
input[type=radio]:disabled + label:hover {
    cursor: default;
}
input[type=radio]:disabled + #day1Lab:hover,input[type=radio]:disabled + #day2Lab:hover,input[type=radio]:disabled + #day3Lab:hover,input[type=radio]:disabled + #day4Lab:hover,input[type=radio]:disabled + #day5Lab:hover,input[type=radio]:disabled + #day6Lab:hover,input[type=radio]:disabled + #day7Lab:hover,input[type=radio]:disabled + #day8Lab:hover,input[type=radio]:disabled + #day9Lab:hover,input[type=radio]:disabled + #day10Lab:hover,input[type=radio]:disabled + #day11Lab:hover,input[type=radio]:disabled + #day12Lab:hover,input[type=radio]:disabled + #day13Lab:hover,input[type=radio]:disabled + #day14Lab:hover,input[type=radio]:disabled + #day15Lab:hover,input[type=radio]:disabled + #day16Lab:hover,input[type=radio]:disabled + #day17Lab:hover,input[type=radio]:disabled + #day18Lab:hover,input[type=radio]:disabled + #day19Lab:hover,input[type=radio]:disabled + #day20Lab:hover,input[type=radio]:disabled + #day21Lab:hover,input[type=radio]:disabled + #day22Lab:hover,input[type=radio]:disabled + #day23Lab:hover,input[type=radio]:disabled + #day24Lab:hover,input[type=radio]:disabled + #day25Lab:hover,input[type=radio]:disabled + #day26Lab:hover,input[type=radio]:disabled + #day27Lab:hover,input[type=radio]:disabled + #day28Lab:hover,input[type=radio]:disabled + #day29Lab:hover,input[type=radio]:disabled + #day30Lab:hover,input[type=radio]:disabled + #day31Lab:hover {
    color: #308a7b;
    background: #cccccc;
}
.doctorAppointmentContainer .center{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.white{
    position: absolute;
    margin-bottom: 5%;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border: 1px solid var(--greenWhite);
    color:var(--greenWhite);
    transition: all .3s ease-in-out;
}
.white:hover{
    cursor: pointer;
    color:var(--whiteGreen);
    transition: all .3s ease-in-out;
    background-color: var(--greenWhite);
}
.white:disabled{
    border: 1px solid #cccccc;
    color:#cccccc;
    background-color: transparent;
}
.white:disabled:hover{
    cursor: default;
    border: 1px solid #cccccc;
    background-color: transparent;
}

/* pending doc*/

.notApprovedDocGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.notApprovedDocGrid .col{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
    width: 95%;
    height: 95%;
    padding: 25px 10px;
}
.notApprovedDocGrid .docDecision{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 10px;
}
.notApprovedDocGrid .docDecision .docNotAppNameText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
.notApprovedDocGrid .col .pendingStatus{
    display: inline-block;
    padding: 5px 10px;
    background-color: #308a7b;
    border-radius: 5px;
    margin-bottom: 10px;
    width: auto;
}
.notApprovedDocGrid .col .reVerifyStatus{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff9100;
    border-radius: 5px;
    margin-bottom: 10px;
    width: auto;
}
.notApprovedDocGrid .col .pendingDocImg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid #308a7b;
    overflow: hidden;
}
.notApprovedDocGrid .pendingDocImg .strok{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:1px solid var(--box-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .pendingDocImg .profileImg{
    height: 100%;
    width: auto;
}
.notApprovedDocGrid .pendingDocImg .fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
    font-size: 90px;
}
.notApprovedDocGrid .col .docNotAppName{
    padding-top: 10px;
    font-size: 1.2rem;
}
.notApprovedDocGrid .fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.notApprovedDocGrid .col .showHideDocuments{
    padding: 4% 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.notApprovedDocGrid .col .fa-angle-double-down,.col  .fa-angle-double-up{
    transition: .3s;
}
.notApprovedDocGrid .col .showHideDocuments:hover .fa-angle-double-down{
    margin-top: 10px;
}
.notApprovedDocGrid .col .showHideDocuments:hover .fa-angle-double-up{
    margin-bottom: 10px;
}
.notApprovedDocGrid .col .documentImgContainer .img90{
    width: 80%;
    left: 10%;
}
.notApprovedDocGrid .col .documentImgContainer{
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.notApprovedDocGrid .col .showHideDocuments:hover, .leftArrow:hover, .rightArrow:hover{
    cursor: pointer;
}
.notApprovedDocGrid .rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-size: 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .leftArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    font-size: 30px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.notApprovedDocGrid .fullyBtn{
    width: 35%;
}

.searchBox{
    position: absolute;
    background: #308a7b;
    height: 40px;
    min-width: 40px;
    border-radius: 40px;
    padding: 12px;
}
.searchBox:hover > .searchText{
    width: 240px;
    padding: 0 6px;
    padding-right: 40px;
}
.searchBox:hover > .searchBtn{
    background: white;
    color: #308a7b;
}
.searchBox .searchBtn{
    position: absolute;
    margin-top: -8px;
    margin-left: 5px;
    color: white;
    right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #308a7b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.searchBox .searchText::placeholder{
    color: white;
}
.searchBox .searchText{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: .4s;
    line-height: 18px;
    width: 0px;
}
.searchBox .searchText:disabled{
    background: rgb(182, 166, 166);
    outline: none;
    border: none;
}
.searchingUsers{
    background: rgb(182, 166, 166);
}
.searchingUsers > .searchText{
    width: 240px;
}
.searchingUsers > .searchBtn{
    background: white;
    color: #308a7b;
}
.searchingUsers > .searchBtn .fa-search{
    animation-name: searchingUsers;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes searchingUsers{
    50%{
        transform: scale(0.7);
    }
}
.searchedUser{
    width: 80%;
    margin: 20px 0px;
    margin-left: 10%;
    position: relative;
    padding: 10px 20px;
    background-color: var(--searchedUsersBackgroundColor);
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
    border-radius: 10px;
}
.searchedUserProfilePic{
    display: inline-block;
    position: relative;
    border: 1px solid #308a7b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.searchedUserInfo{
    margin: 0px 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}
.searchedUserType{
    color: gray;
    font-size: 12px;
    text-transform: capitalize;
}
.searchedUserSendMessage{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--searchedUsersSendMessageBackgroundColor);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition:all .3s ease-in-out;
    cursor: pointer;
}
.searchedUserSendMessage .fa-envelope{
    color: var(--searchedUsersSendMessageColor);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    transition: all .3s ease-in-out;
}
.searchedUserExactAddress, .searchedUserGender{
    margin: 2px 0px;
    font-size: 12px;
    font-weight: 500;
}
.searchBtnOptions{
    background-color: var(--searchedUsersBackgroundColor);
    padding: 3px 7px;
    border-radius: 5px;
    margin: 5px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.loadingMessages{
    animation-name: LoadingMessages;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.selectedUserImgprofileContainer{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #308a7b;
    overflow: hidden;
    margin: 20px;
    margin-right: 0px;
}
.selectedUserInfo{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    text-transform: capitalize;
    color: var(--gray-text);
    transition: all .3s ease-in-out;
    font-size: 12px;
}
.selectedUserInfo div{
    margin: 3px 0px;
}
.selectedUserUsername{
    font-weight: 600; 
    font-size: 35px; 
    color: var(--messageRecipientColor);
    transition: all .3s ease-in-out;
}
.selectedUserContainer{
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.selectedUserGoBack{
    z-index: 1;
    position: absolute;
    background-color: #308a7b;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    color: white;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.selectedUserGoBack .fa-arrow-left{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.selectedUserContainer .selectedUserFirstHalfInfo{
    position: relative;
    margin-top: 15px;
    min-width:max-content;
}
.selectedUserContainer .selectedUserSecondHalfInfo{
    position: relative;
    margin-top: 15px;
    margin: auto;
    flex-grow: 1;
}
#selectedUserMap{
    width: 400px;
    height: 300px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}
.userDontSetPos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 350px;
}
.selectedUserApp{
    position: relative;
    width: fit-content;
    margin: 5px auto;
}
.selectedUserAppDate{
    position: relative;
    display: inline-block;
    width: fit-content;
    background-color: white;
    color: #308a7b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 5px;
    overflow: hidden;
    max-height: 26px;
    margin: 5px 10px;
}
.selectedUserAppDate div{
    display: inline-block;
    margin-left: 5px;
    height: 100%;
    background-color: #308a7b;
    color: white;
    padding: 1px 5px;
}
.selectedUserDoctorAppInfo span{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.popUp{
    position: fixed;
    max-width: 50%;
    min-width: 35%;
    max-height: 70%;
    background-color: var(--popUpBackgroundColor);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    transition:all .3s ease-in-out;
}
.disabledDiv{
    pointer-events: none;
    opacity: 0.2;
}
.closePopUpIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: red;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.closePopUpIcon:hover{
    transform: scale(1.1);
}
.popUpConfirmButton{
    position: relative;
    width: 130px;
    height: 25px;
    padding: 3px 10px;
    background-color: #1b2f61;
    color: white;
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}
.popUpConfirmButton .popUpConfirmIcon{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease-in-out;
}
.popUpConfirmButton .popUpConfirmText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease-in-out;
}
.popUpConfirmButton:hover .popUpConfirmIcon{
    left: 50%;
}
.popUpConfirmButton:hover .popUpConfirmText{
    left: 180px;
}
.popUpText{
    position: relative;
    padding:20px 0px; 
    padding-bottom: 40px;
    word-wrap: break-word;
}
.popUpTitle{
    font-weight: 600;
    word-wrap: break-word;
    margin-left: 15px;
    text-transform: capitalize;
}
.confirmingPopUp{
    position: absolute;
    left: 45%;
    top: 15%;
    transform: translate(-50%,-50%);
    animation-name: confirmingPopUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes confirmingPopUp{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loadingPrescription{
    padding-top: 20px;
    height: 65px;
}
.loadingPrescription .fa-file-medical{
    font-size: 25px;
    animation-name: loadingPrescription;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background: transparent;
}

@keyframes loadingPrescription{
    0%{
        opacity: 0.5;
    }
    50%{
        transform: scale(0.8);
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.newMessageDot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: fixed;
    right: 55px;
    bottom: 53px;
    z-index: 1001;
    background-color: #F89406;
}
.centerDocInfo{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}
#doctorMap{
    width: 90%;
    margin-left: 5%;
    height: 300px;
    border-radius: 10px;
}
.loadingMap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.routeBtn{
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
}
.routeBtn i{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.newDoctorInfoContainer{
    margin: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    color: #308a7b;
    box-shadow: var(--infoBox);
    transition: all .3s ease-in-out;
}
.newDoctorInfoContainer div{
    display: inline-block;
    color: white;
    background-color: #308a7b;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.doctorAddress{
    text-transform: capitalize;
    background-color: #308a7b;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.page{
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.pageSlected{
    position: relative;
    background-color: var(--selectedPageBackgroundColor);
    width: 100%;
    height: 100%;
    color: var(--selectedPageColor);
    transition: all .3s ease-in-out;
}
.pageIndex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.disabledPage{
    display: none;
}
.pageLoading{
    animation-name: pageLoding;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background: transparent;
}

@keyframes pageLoding{
    50%{
        transform: scale(0.85);
    }
}

.loadingPages{
    pointer-events: none;
    cursor: default;
}

.fixSearchBox{
    position: relative;
    width: 40%;
    height: 40px;
    margin: 20px 30%;
}
.fixSearchBox .fixSearchBoxInput{
    width: 100%;
    height: 100%;
    outline: none;
    border:2px solid #308a7b;
    background: transparent;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    transition: all .3s ease-in-out;
    color: var(--text-color);
}
.fixSearchBox .fixSearchBoxInput::placeholder{
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.fixSearchBox .fa-search{
    position: absolute;
    right: 15px;
    top: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #308a7b;
}

.notVerified{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 40px;
}
.notVerified .fullyBtnSmall{
    width: 50%;
    margin-left:50%;
    transform: translateX(-50%);
}
.accountNotVerified{
    padding: 15px;
    margin:auto;
    text-align: center;
    max-width: 80%;
}
.inputVerificationCode{
    margin: 15px auto;
    width: fit-content;
}
.verficationCodeNumber {
    margin: 3px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #308a7b;
    outline: #308a7b;
    background: var(--box-color);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #308a7b;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px #308a7b46;
    transition:all .3s ease-in-out;
}
.invalidVerificationCode .verficationCodeNumber{
    border: 1px solid red;
    outline: red;
    color: red;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.2);
}
.invalidText{
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fa-user-lock{
    position: relative;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.newSectionContainer{
    position: relative;
    margin: 20px 30px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
    overflow: hidden;
    padding-bottom: 15px;
}
.sectionContainerTopGreen{
    height: 150px;
    width: 100%;
    position: absolute;
    background-color: #308a7b;
    left: 0px;
    top: 0px;
}
.centerChangeText{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.doctorGeneralInfo{
    display: inline-block;
    position: absolute;
    color: #eceff3;
    margin-top: 50px;
    margin-left: 150px;
}
.doctorName{
    color: #242f3d;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.doctorName span{
    text-transform: uppercase;
}
.iconButton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: #308a7b;
    border-radius: 50%;
    border: none;
    margin-left: 90%;
    margin-top: -150px;
    color: white;
    box-shadow: 0px 0px 5px #308a7b;
}
.infoGrid .infoContainer .userInfoContainer{
    display: block;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    cursor: default;
}
.infoGrid .infoContainer .userInfoContainerValue{
    font-size: 25px;
    padding: 10px 0px;
}
.userInfoContainer{
    flex: 0 0 auto;
    display: inline-block;
    background-color: var(--userInfoContainerBackground);
    padding: 15px 25px;
    margin: 10px;
    border-radius: 30px;
    width: fit-content;
    transition: all .3s ease-in-out;
    box-shadow: var(--userInfoContainerShadow);
}
.userInfoContainerTitle{
    text-transform: capitalize;
    position: relative;
    display: flex;
    margin-left: 10px;
    color: var(--userInfoContainerTitleColor);
    transition: all .3s ease-in-out;
}
.userInfoContainerTitleIcon{
    position: absolute;
}
.userInfoContainerTitleValue{
    margin-left: 45px;
    position: relative;
    top:20px;
    transform: translateY(-50%);
    font-weight: 600;
}
.userInfoContainerValue{
    padding: 5px 0px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--userInfoContainerValueColor);
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}
.fa-star,.fa-star-half-alt{
    color: #f4bb02;
}