@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all .3s ease-in-out;
}
.light-theme{
    --background-color: #F0F2F5;
    --text-color: #000;
    --box-color: #fff;
    --box-shadow: 0px 0px 25px  rgba(92, 99, 105,.2);
    --Black-text:#000;
    --gray-text:#4d4d4d;
    --hr:gray;
    --input-text-color:black;
    --gender-box-shadow:0px 0px 10px 2px #308a7b;
    --maleFemaleCheckBoxBackgroundColor:#308a7b;
    --headerText:#308a7b;
    --infoBox:0px 0px 10px rgba(0, 0, 0, 0.3);
}
.dark-theme{
    --background-color: #18191a;
    --text-color: #fff;
    --box-color: #242526;
    --box-shadow: none;
    --Black-text:#fff;
    --gray-text:rgb(228, 228, 228);
    --hr:rgb(226, 226, 226);
    --input-text-color:white;
    --gender-box-shadow:none;
    --maleFemaleCheckBoxBackgroundColor:none;
    --headerText:white;
    --infoBox:none;
}
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
.toast-container>div{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.formDiv{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.formInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: .75rem;
    border: 1px solid #308a7b;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--input-text-color);
    transition: all .3s ease-in-out;
}
.formLabel{
    position: absolute;
    left: 1rem;
    top: .75rem;
    padding: 0 .25rem;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    color: #888;
    font-size: 1.rem;
}
.formInput:focus + .formLabel{
    top: -.5rem;
    left: .8rem;
    color: #308a7b;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}
.formInput:not(:placeholder-shown).formInput:not(:focus)+ .formLabel{
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}
.formInput:focus{
    border: 2px solid #308a7b;
}
.btn-block:focus,.btn-block:active{
    background-color: #308a7b;
}
.fullyBtn,.fullyBtnSmall{
    text-transform: uppercase;
    border-radius: .5rem;
    background-color: #308a7b;
    color: white;
    transition: 0.7s;
    border: 1px solid var(--box-color);
    width: 100%;
    font-size: 18px;
    transition: linear 0.2s;
}
.fullyBtn{
    height: 40px;
}
.fullyBtnSmall{
    height: 33px;
}
.fullyBtn:hover,.fullyBtnSmall:hover{
    border: 1px solid #308a7b;
}
.emptyBtn{
    font-size: 18px;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    border-radius: .5rem;
    color: #308a7b;
    background: none;
    border: 1px solid #308a7b;
    transition: 0.3s;
}
.emptyBtn:hover{
    background-color: #308a7b;
    color: white;
}
button:disabled,
button[disabled]{
  border: none;
  background-color: #c5cac5;
  color: #666666;
}
button:disabled:hover,
button[disabled]:hover{
    border: none;
}


/*users Info*/
.sectionContainer{
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in-out;
}
.sectionTitle{
    padding-top: 5%;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.infoGrid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 90%;
    padding: 5% 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-size: 1.15rem;
    font-weight: 900;
    transition: all .3s ease-in-out;
}
.infoGrid .infoContainer , .infoGridTowColumn .infoContainer{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
    border: none;
    box-shadow: var(--infoBox);
}
.infoGrid .infoContainer:hover, .infoGridTowColumn .infoContainer:hover{
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.02);
}

.infoGrid .infoContainer .infoIcon, .infoGridTowColumn .infoContainer .infoIcon{
    position: relative;
    font-size: 23px;
}
.infoGrid .infoContainer .infoTitle,.infoGridTowColumn .infoContainer .infoTitle{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    background-color: #308a7b;
}
.infoGrid .infoContainer .info, .infoGridTowColumn .infoContainer .info{
    text-transform: capitalize;
    padding: 10px 5px;
    text-align: center;
}
.labelInvalidInfo{
    border: 1px solid red;
}
.labelInvalidInfo:focus{
    border: 2px solid red;
}
.labelInvalidInfo + .formLabel{
    color: red;
}
.infoEdit{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 100%;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#maleLabel,#femaleLabel{
    padding: 12px 0px;
    background-color: var(--box-color);
    transition: all .3s ease-in-out;
    border: 1px solid #308a7b;
    color: #308a7b;
}
#male:checked ~ #maleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#female:checked ~ #femaleLabel{
    color: white;
    background-color: #308a7b;
    box-shadow: var(--gender-box-shadow);
    transition: all .3s ease-in-out;
}
#maleLabel{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#femaleLabel{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#male, #female{
    display: none;
}
#maleLabel:hover,#femaleLabel:hover{
    color: white;
    background-color: var(--maleFemaleCheckBoxBackgroundColor);
    transition: all .3s ease-in-out;
}
.btn-group{
    height: 56px;
}
.noData{
    margin: 20px;
    text-align: center;
}
.noData .setInfo,.textLien{
    text-decoration: underline;
}
.noData .setInfo:hover,.textLien:hover{
    cursor: pointer;
}
.fa-user{
    padding: 2px;
    margin: 0px 5px;
}
.imgContainer{
    position: relative;
    left: 50%;
    margin: 2% 0%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 5px solid #308a7b;
    border-radius: 50%;
    overflow:hidden;
}
.imgContainer .strok{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:4px solid var(--box-color);
    transition: all .3s ease-in-out;
}
.imgContainer .strok{
    cursor: pointer;
}
.fa-user-tie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    color: #308a7b;
    font-size: 180px;
    border-radius: 50%;
}
.editImage{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transition: 0.3s;
}
.editImage .center{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%,-50%);
    color: white;
    transition: 0.3s;
}
.imgContainer:hover .editImage,.imgContainer:hover .editImage .center{
    opacity: 1;
}
.uploadImgBtn{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.uploadImgBtn:hover{
    opacity: 0;
    cursor: pointer;
}
.profileImg{
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    bottom: 0px;
}
.formInput{
    font-family: Arial, Helvetica, sans-serif;
}