@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
html,body{
    width: 100%;
    overflow-x: hidden;
    background-color: #F0F2F5;
}
.contactUsTitle{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.firstHalfBody{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0%;
}
.contactBox{
    position: relative;
    color: #202631;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    margin: 50px;
    width: 400px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 15px 2px #888888;
    transition: 0.3s ease;
}
.contactBox:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}
.contactBoxText{
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0px;
}
.contactBoxTextCentred{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.contactBoxImg{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #E8505B;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.contactBoxImgCentred{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.containerContactBox{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "phone mail"
    "adress adress";
    
}
.containerContactBox .phone{
    grid-area: phone;
    justify-self: center;
}
.containerContactBox .mail{
    grid-area: mail;
    justify-self: center;
}
.containerContactBox .adress{
    grid-area: adress;
    justify-self: center;
}
.firstHalfBody .contactUsSection{
    margin-top: 35%;
}
.firstHalfBody .aboutUsTitle{
    margin-top: 100px;
    margin-left: 200px;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}
.section-title{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.firstHalfBody .aboutUsTitle .div{
    display: inline-block;
}
.firstHalfBody .row .col .aboutUsText{
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-top: 70px;
}
.secondHalfBody{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}
.firstHalfBody .readMoreBtn{
    margin-top: 90px;
    width: 150px;
    margin-left: 20%;
    animation: slide_Up 3s ease;
}
.firstHalfBody .contactUsBtn{
    margin-top: 90px;
    width: 150px;
    margin-left: 20%;
    animation: slide_Up 4s ease;
}
.firstHalfBody .contactUsBtn .btn-outline-danger{
    border:1px solid #202631;
    color: #202631;
}
.firstHalfBody .contactUsBtn .btn-outline-danger:hover{
    background-color: #202631 ;
    color: white;
}
.firstHalfBody .contactUsBtn .btn-outline-danger:hover .fa-envelope{
    color: white;
}
.btn-outline-danger:hover .fa-book {
    color:white;
}
.btn-outline-danger:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.btn-outline-danger{
    text-transform: uppercase;
    transition: 0.3s;
}
.imagecontainer{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0%;
    animation: fadeUp 2s ease;
}
.aboutUsTitle{
    animation: slide_Up 1.4s ease;
}
.aboutUsText{
    animation: slide_Up 2.4s ease;
}
@keyframes slide_Up{
    0%{ opacity: 0%;
        transform: translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}
.fa-book{
    color: #E8505B;
}
.fa-envelope{
    color: #202631;
}
@keyframes fadeUp{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}