<html>
    <body>
        <div class="firstHalfBody">
            <div class="secondHalfBody">
                <div class="imagecontainer">
                    <img src="../../../assets/aboutUs.png" style="width: 100%; height: 100%;">
                </div>
            </div>
            <strong class="aboutUsTitle">ABOUT <div class="div" style="color: #E8505B;">US</div></strong>
            <div class="row">
                <div class="col">
                    <div class="aboutUsText"><strong>SANTELIB</strong> est une application web <br> permet d’accéder aux agendas des médecins<br> ainsi de prendre un rendez-vous avec eux...</div>
                </div>
            </div>
            <div class="readMoreBtn">
               <button class="btn btn-outline-danger btn-block">read more <i class="fas fa-book" id="fa-book"></i></button>
            </div>

            <div class="contactUsBtn">
                <button class="btn btn-outline-danger btn-block" id="btn-block" (click)="toContactUsSection()">contact us <i class="fas fa-envelope"></i></button>
             </div>
        </div>
        <section id="contactUsSection" class="contactUsSection">
          <strong class="contactUsTitle">Contact <span style="color: #E8505B;">us</span> </strong>
          <div class="containerContactBox">
              <div class="phone">
                <div class="contactBox">
                    <div class="contactBoxText">
                        <div class="contactBoxTextCentred">
                          <strong>
                              +216 26 536 462<br>
                              +216 50 303 224
                            </strong>
                        </div>
                    </div>
                    <div class="contactBoxImg">
                      <div class="contactBoxImgCentred">
                          <i class="fas fa-phone-alt fa-3x" style="color: white;"></i>
                      </div>
                    </div>
                </div>
              </div>
              <div class="mail">
                <div class="contactBox">
                    <div class="contactBoxText">
                        <div class="contactBoxTextCentred">
                          <strong>
                              alii.messaadi@gmail.com<br>
                              aloui.sghair@gmail.com
                            </strong>
                        </div>
                    </div>
                    <div class="contactBoxImg">
                      <div class="contactBoxImgCentred">
                          <i class="fas fa-envelope fa-3x" style="color: white;"></i>
                      </div>
                    </div>
                </div>
              </div>
              <div class="adress">
                <div class="contactBox">
                    <div class="contactBoxText">
                        <div class="contactBoxTextCentred">
                          <strong>
                              ISIMA<br>
                              Mahdia, Tunisie
                            </strong>
                        </div>
                    </div>
                    <div class="contactBoxImg">
                      <div class="contactBoxImgCentred">
                          <i class="fas fa-map-marker-alt fa-3x" style="color: white;"></i>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          
        </section>
    </body>
</html>