<html>

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="sectionContainer verify">

        <div *ngIf="isMailSent=='getMail'">
            <div>
                <div *ngIf="!mailInfo" class="enterYoulMail">
                    {{'enterYoulMail'|translate}}
                </div>
                <div class="mailInfo">
                    {{mailInfo}}
                </div>
                <div class="formDiv">
                    <input type="text" class="formInput" name="email" [class.labelInvalidInfo]="invalidMail"
                        [(ngModel)]="email" id="email" placeholder=" " (keyup)="invalidMail=false">
                    <label for="email" class="formLabel">{{'email'|translate}}</label>
                </div>
                <button class="fullyBtn" (click)="checkMail()" [disabled]="sendingEmail">
                    <div *ngIf="sendingEmail==true" class="loading">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div *ngIf="sendingEmail==false">
                        {{'sendCode'|translate}}
                    </div>
                </button>
            </div>
        </div>

        <div *ngIf="isMailSent=='verification'">
            <i class="fas fa-user-lock"></i>
            <div class="accountNotVerified">
                {{'accountNotVerified'|translate}}
            </div>
            <i class="fas fa-keyboard"></i> {{'enterVerificationCode'|translate}}:
            <div class="inputVerificationCode" [class.invalidVerificationCode]="isVerificationCode==false">
                <input type="text" name="field1Code" [(ngModel)]="field1Code" maxlength="1"
                    class="verficationCodeNumber" #1 (keyup)="field1Keyup();isVerificationCode=null">
                <input type="text" name="field2Code" [(ngModel)]="field2Code" maxlength="1"
                    class="verficationCodeNumber" #2 (keyup)="field2Keyup();isVerificationCode=null">
                <input type="text" name="field3Code" [(ngModel)]="field3Code" maxlength="1"
                    class="verficationCodeNumber" #3 (keyup)="field3Keyup();isVerificationCode=null">
                <input type="text" name="field4Code" [(ngModel)]="field4Code" maxlength="1"
                    class="verficationCodeNumber" #4 (keyup)="field4Keyup();isVerificationCode=null">
                <input type="text" name="field5Code" [(ngModel)]="field5Code" maxlength="1"
                    class="verficationCodeNumber" #5 (keyup)="field5Keyup();isVerificationCode=null">
            </div>
            <div *ngIf="isVerificationCode==false" class="invalidText">
                {{'verificationCodeNotValid'|translate}}
            </div>
            <button type="submit" class="fullyBtn"
                (click)="checkVerificationCode()">{{'verify'|translate}}</button>
        </div>

        <div *ngIf="isMailSent=='newPassword'">
            <div class="setNewPassword">
                <i class="fas fa-unlock"></i> {{'setNewPassword'|translate}}
            </div>
            <div class="formDiv">
                <input type="password" [class.labelInvalidInfo]="invalidPasswordVariable" name="password"
                    [(ngModel)]="password"
                    (keyup)="invalidPasswordVariable=false; passwordInfromation=translate.instant('password')"
                    class="formInput" placeholder=" ">
                <label for="" class="formLabel">
                    {{passwordInfromation}}
                </label>
            </div>
            <div class="formDiv">
                <input type="password" [class.labelInvalidInfo]="invalidPasswordRepeatVariable" name="passwordRepeat"
                    [(ngModel)]="passwordRepeat"
                    (keyup)="passwordRepeatInfromation=translate.instant('repeatPassword'); invalidPasswordRepeatVariable=false"
                    class="formInput" placeholder=" ">
                <label for="" class="formLabel">
                    {{passwordRepeatInfromation}}
                </label>
            </div>
            <button type="submit" class="fullyBtn" (click)="updatePassword()">{{'save'|translate}}</button>
        </div>

        <div *ngIf="isMailSent=='passwordUpdated'">
            <i class="fas fa-user-check"></i>

            <div class="passwordUpdated">
                {{'passwordUpdated'|translate}}
            </div>
            
            <button type="submit" class="fullyBtn" (click)="openSignIn()">{{'signIn'|translate}}</button>
        </div>
    </div>

</body>

</html>